[2016-02-18 21:58] TomGlanzman commented on #133
We can try globus - I routinely use the CLI to transfer data from BNL to SLAC.  Have not tried the web interface, but if your data files are in a globus-visible, give me the coordinates of a few examples and I'll give it a try.

   - Tom

On 02/18/2016 01:46 PM, rbiswas4 wrote:

[2016-02-18 22:02] cwwalter commented on #133
I just tried it with the web interface.  Super easy and slick.  I didn't even need to make a globus account.  It let me log in with my Duke Credentials.

There seem to be a bunch of SLAC endpoints:

slac#lsstbnl
slac#lcls
slac#ssrl
slac#ztest
slac#osg
slac#kipac
wdeng#SLACXRD

Then I did a one click thing and it turned my laptop into an endpoint too.

I guess the first one is the one you use. Don'

[2016-02-18 22:35] SimonKrughoff commented on #132
I believe this was done.  I'm closing it unless @rbiswas4 disagrees.

[2016-02-18 22:35] #132 closed

[2016-02-18 23:21] rbiswas4 commented on #133
OK ... I have note explored this yet, Just trying to get a situation where we can get started. I have managed to put a handful of files up on a website, and put in this script https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/transfers/downloadInstanceCatalogs.sh
which should download all the files that you need.

[2016-02-18 23:42] jbkalmbach commented on #109
Here's a notebook with a comparison of OM10 plots and plots from catalog output.
https://gist.github.com/jbkalmbach/6c3f2c563d0baba6b1c9

[2016-02-18 23:47] TomGlanzman commented on #133
Thanks Rahul, got them (19 instance catalogs).

   - Tom

On 02/18/2016 03:21 PM, rbiswas4 wrote:

[2016-02-19 00:03] jbkalmbach commented on #45
We are using 'Burst.25E09.1Z.spec.gz' from the sims_sed_library.

[2016-02-19 00:03] #45 closed

[2016-02-19 00:03] jbkalmbach commented on #37
We have lenses in Instance catalogs. All tasks completed.

[2016-02-19 00:03] #37 closed

[2016-02-19 00:04] jbkalmbach commented on #109
I'll try to get Phosim going on my computer and see what these look like in images.

[2016-02-19 00:08] drphilmarshall commented on #109
Looks good! Nice work, @jbkalmbach :-)

On Thu, Feb 18, 2016 at 3:42 PM, Bryce Kalmbach <notifications@github.com>
wrote:

[2016-02-19 00:11] drphilmarshall commented on #133
Excellent! Thanks @rbiswas4 . Tom, did you get the gzipped tarballs of supernova SEDs as well?

[2016-02-19 00:12] drphilmarshall commented on #45
Good - that should be nice and red.

On Thu, Feb 18, 2016 at 4:03 PM, Bryce Kalmbach <notifications@github.com>
wrote:

[2016-02-19 00:12] #109 closed

[2016-02-19 00:13] drphilmarshall commented on #109
We should be able to see them in @TomGlanzman's images soon as well.

[2016-02-19 00:13] drphilmarshall commented on #37
EPIC

[2016-02-19 00:18] drphilmarshall opened #135 "Serve Run 1 data via Data Catalog"
Hi @TomGlanzman - are you set up to ingest the Run 1 visit eimages into the Data Catalog as they are made? @jbkalmbach wants to see how his lenses turn out!

Here's the link to the [Twinkles Data Catalog](http://srs.slac.stanford.edu/DataCatalog/?folder=14603345) - looks like its currently empty, after the test files were cleared away I guess. Great if you can fill this up in some intuitive way, T

[2016-02-19 00:24] drphilmarshall opened #136 "DM Level 2 processing of Run 1 images"
Hi @tony-johnson - as you may have seen, @TomGlanzman is starting the Run 1 data generation! I guess the first images will be coming in later today, and within a week or so we should have the first few seasons done (c. few hundred images). What's the status of our DM Level 2 processing pipeline? Can we be ready to analyze the first 3 seasons of images in about a week? And how long will the DM proc

[2016-02-19 00:30] drphilmarshall commented on #108
Data Catalog ingestion now issued at #135 and referred to in #136

[2016-02-19 00:30] #108 closed

[2016-02-19 00:31] drphilmarshall commented on #90
Hey @TomGlanzman - is it worth fiddling with this while doing the Run 1 data generation? If you feel like taking it on, please do reset the milestone to "Run 1 Analysis Start" - thanks!

[2016-02-19 00:34] #69 closed

[2016-02-19 00:35] drphilmarshall commented on #38
Hey Rahul - you must be so close to being able to close this issue, showing that you have "validated that the redshift distributions and properties are consistent with the input model", now that Run 1 is go!

[2016-02-19 00:36] drphilmarshall commented on #26
Definitely closed via #13

[2016-02-19 00:36] #26 closed

[2016-02-19 00:40] drphilmarshall commented on #30
Right. We *must* be able to make a more accurate flowchart now! @danielsf , would you like to take a stab at minimally editing the [flowchart on confluence](https://confluence.slac.stanford.edu/display/LSSTDESC/Twinkles+flow+chart) so that it is as accurate as possible, given what you know (or can find out from @jbkalmbach and @rbiswas4) about how the SN and SL sprinkling work?

[2016-02-19 00:41] TomGlanzman commented on #135
The data catalog is currently empty.  Given inevitable start up glitches, do not expect anything sensible until I publish a URL.

[2016-02-19 00:42] drphilmarshall commented on #9
@SimonKrughoff I think the Run 1 field is indeed just rotating quietly. Let's come back to this issue later in the year.

[2016-02-19 00:43] TomGlanzman commented on #133
No, the only files were gzipped instance catalogs.  @rbiswas4 can you direct me to the SED files?  Also, can you provide some detail on how they might be used, i.e., can they all sit along side the existing SED files?  Or how would you recommend they be invoked by phoSim?

[2016-02-19 00:44] drphilmarshall commented on #38
PS. As extra motivation: we are now only 4 issues away from completing the [Run 1 Data Generation Start milestone](https://github.com/DarkEnergyScienceCollaboration/Twinkles/milestones/Twinkles%201%20Run%201%20Data%20Generation%20Start) :-)

[2016-02-19 00:45] TomGlanzman commented on #90
I see these two projects as completely independent.  Would not wish to endanger the "production" phoSim runs with condor tinkering.  This will simply need a bit of time.

[2016-02-19 00:46] drphilmarshall commented on #135
Got it. Stand by, Bryce!

On Thu, Feb 18, 2016 at 4:41 PM, Tom Glanzman <notifications@github.com>
wrote:

[2016-02-19 00:46] drphilmarshall commented on #90
Good call.

On Thu, Feb 18, 2016 at 4:45 PM, Tom Glanzman <notifications@github.com>
wrote:

[2016-02-19 00:55] rbiswas4 commented on #133
You should be getting two sets of files. basename.txt.gz and basename.tar.gz. The first is a phosim instance catalog, and the second is a tarball of the spectra associated with this instance catalog.

[2016-02-19 01:49] rbiswas4 commented on #130
Well, the simulation is essentially in https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/code/SN_sims/kraken_sim.csv
You can also access it from the catsim database on fatboy thanks to  @yalsayyad

https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/code/SN_sims/fiveSigmaDepths.ipynb
(This is a slow notebook)
output 110 has an approximate answer, It is appro

[2016-02-19 01:58] rbiswas4 commented on #131
yes, as suggested by you, I am closing this issue.

[2016-02-19 01:58] #131 closed

[2016-02-19 02:06] rbiswas4 commented on #118
Added the notebook as @SimonKrughoff wanted to point to the table in output 50 of  https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/code/SN_sims/Twinkles_SimulatedSN_Setup.ipynb

This is showing how the initial flat distribution needs to be bumped up in each z bin to  get an estimate of 100 5 sigma SN detected per image.

[2016-02-19 02:07] #38 closed

[2016-02-19 03:17] rbiswas4 commented on #134
That is easy to download. : https://confluence.lsstcorp.org/display/SIM/Operations+Simulator+Benchmark+Surveys

The code in catsim (package: sims_catUtils, branch: newTwinklesCatalog, not merged to master yet ) that I am currently using for this process allows you to specify a 'prefix' and all spectra files are written to
prefix_identifier.dat. Identifier is a combination of the SN id, MJD to a pr

[2016-02-19 05:52] drphilmarshall commented on #130
Thanks Rahul! From your plots, I guess you should get at least a handful of
SNe with SNR at peak brightness around 50, right? They should have good,
fittable light curves. (BTW this is all assuming that when you say "a SN
with SNR of 5" you mean a SN with brightness at peak corresponding to an
SNR of 5. If SNR means something different than that, let us know!)

On Thu, Feb 18, 2016 at 5:49 PM, rbi

[2016-02-19 14:36] johnrpeterson commented on #134
On Feb 18, 2016, at 4:40 PM, Phil Marshall <notifications@github.com<mailto:notifications@github.com>> wrote:

OK, now that the sprinkling code has been completed (at least up to Run 1 functionality), we should figure out what needs to be done to get the PhoSim input generation running at SLAC (or NERSC, or wherever). In an ideal world, we would just git pull and then add one more script to the wo

[2016-02-19 14:44] johnrpeterson commented on #133
Globus is where the phosim release data goes, by the way.  Sent this message a while ago:

Hi all-

It took us a while to set this up, but we now have a pretty nice way of transfering large quantities of phosim simulations back and forth.  En-Hsin, Glenn, and research computing at Purdue set up this large storage end point of our large scale phosim runs on OSG/Diagrid with this “globus” file shari

[2016-02-19 16:26] drphilmarshall commented on #134
That has indeed been noted! I was actually referring to more mundane
things, such as getting the sprinkling code working here, and getting
remote access to CatSim and local access to OpSim, etc.

On Fri, Feb 19, 2016 at 6:36 AM, johnrpeterson <notifications@github.com>
wrote:

[2016-02-23 23:53] connolly commented on #82
Zenhub said they gave us a perpetual license. Can someone check as it
doesnt seem to have been unlocked when I try to access it

cheers
Andy

On Thu, Feb 11, 2016 at 6:43 PM, Andrew Connolly <ajc.atwork@gmail.com>
wrote:

[2016-02-24 22:08] TomGlanzman opened #137 "Generate Run 1 phoSim images"
Generate the approx. 1600 phoSim images needed for Twinkles Run 1.  This work will be done at SLAC using existing Pipeline workflow tools (see issue #69 ).

[2016-02-24 22:12] TomGlanzman commented on #137
After discussions with @rbiswas4 and @johnrpeterson a scheme has been established to merge the SNe SED files with the 'standard' SED file set (involving a local sym-link tree with the addition of a spectra_files/ directory).  Thanks to @jchiang87 for updating the SLAC DMstack to refresh the 'standard' SED file set.

At this moment, I have 17 instance catalog, SEDs pairs, each pair corresponding to

[2016-02-24 22:21] TomGlanzman commented on #137
phoSim is not happy running the Twinkles configuration.  The log file shows:

------------------------------------------------------------------------------------------
Atmosphere Creator
------------------------------------------------------------------------------------------
Creating layer 0.
Creating layer 1.
Creating layer 2.
Creating layer 3.
Creating layer 4.
Creating layer 5.
Creating laye

[2016-02-24 22:49] drphilmarshall commented on #137
@rbiswas4 have you seen this before?

On Wed, Feb 24, 2016 at 2:21 PM, Tom Glanzman <notifications@github.com>
wrote:

[2016-02-24 22:53] jchiang87 commented on #137
@TomGlanzman Can you provide the path to the instance catalog and output files for that run?

[2016-02-24 23:08] TomGlanzman commented on #137
An example command that demonstrated the problem is:
time /nfs/farm/g/lsst/u1/software/redhat6-x86_64-64bit-gcc44/phoSim/3.4.2/phosim.py /nfs/farm/g/desc/u1/Pipeline-tasks/Twinkles-phoSim/phosim_input/20160219/phosim_input_484933.txt.gz -s R22_S11 --sed /nfs/farm/g/desc/u1/Pipeline-tasks/Twinkles-phoSim/SEDs/2016.01.26 -w /nfs/farm/g/desc/u1/Pipeline-tasks/Twinkles-phoSim/phosim_output/000000/work

[2016-02-24 23:21] rbiswas4 commented on #137
Are these from the nersc InstanceCatalogs?

Thanks,
Rahul

On Wed, Feb 24, 2016 at 3:08 PM, Tom Glanzman <notifications@github.com>
wrote:

[2016-02-24 23:23] TomGlanzman commented on #137
Hi @rbiswas4 , no, these are the 17 obtained from your UW server via 'crawl'.

Are new data available at NERSC?  If so, please send me the coordinates and I can give them a try.  Are there changes between the NERSC and other data?

[2016-02-24 23:26] cwwalter commented on #137
If you can run and reproduce this manually:

I think this error is happening in raytrace.  So you can go and put a 'gdb' or something in front of it in phosim.py.

I vaguely remember something like this happening to me before and tracking it down this way. I believe in my case it was related to some files not being there or some output path not existing but I'm not sure.

[2016-02-24 23:42] rbiswas4 commented on #137
There should not be any changes from what I was putting out earlier and the
NERSC ones (just more).  These are in the project space I discussed, but I
am still pushing things that don't seem to be there:

/project/projectdirs/m1727/edison/twinkles_InstanceCatalogs/InstanceCatalogs

Thanks,
Rahul

On Wed, Feb 24, 2016 at 3:23 PM, Tom Glanzman <notifications@github.com>
wrote:

[2016-02-25 00:03] jchiang87 commented on #137
That run stops right after it tries to run instrument.  However, if I run on an ungzipped instance catalog file, raytrace executes seemingly without any problem, so I think that's the issue.  I don't see the physics override file being used in the log of that run, if so, then that should also be updated.

[2016-02-25 06:15] drphilmarshall commented on #82
I can see the ZenHub board for Twinkles, but not for ComputingModel (which is private). Error message from ZenHub dashboard is "Thank you for trying ZenHub! This organization's ZenHub account is currently frozen. To unlock your Boards and stay connected with your team, please purchase licenses."  Closing this issue, as Twinkles is AOK!

[2016-02-25 06:15] #82 closed

[2016-02-25 06:23] drphilmarshall commented on #110
@rbiswas4 @jchiang87 @TomGlanzman Let's look at the Run 1 plan together on Thursday. I think we can finalize the plan and close out this issue without anyone else's help at this point!

[2016-02-25 06:25] drphilmarshall commented on #70
Hey @SimonKrughoff - is your photometric reliability floor analysis/plotting code checked in? Post the URL and you get to close this issue! :-)

[2016-02-25 06:26] drphilmarshall commented on #130
@rbiswas4 This is another issue we can close on Thursday, I think.

[2016-02-25 17:26] TomGlanzman commented on #137
Hi Rahul,

   That directory is read protected:

drwx------ 3 rbiswas rbiswas 1048576 Feb 24 14:35 InstanceCatalogs/

You will also need to change the group ownership of the directory (and contents).

   Thanks,
   - Tom

On 02/24/2016 03:42 PM, rbiswas4 wrote:

[2016-02-25 18:12] rbiswas4 commented on #137
@TomGlanzman Sorry about that. fixed this: it is now world readable and is owned by the lsst group.

[2016-02-25 18:48] TomGlanzman commented on #137
Thanks to @jchiang87 and @cwwalter for your suggestions.  An unzipped but stripped down instance catalog has been running for the past 2+ hours so this looks promising.  A second test is also running with the full, uncompressed instance catalog.

The first test with the stripped down instance catalog looks like this:

Found 1 source(s) for chip R22_S10.
Found 2 source(s) for chip R22_S11.
Found 1

[2016-02-25 19:04] cwwalter commented on #137
@TomGlanzman The time will really be dominated by what sort of sky background model you are using.  It can be really long if you are using full non-optimized background and even longer if the moon is in the sky.

For the "The run is limited to producing output only for R22_S11", I found a subtle bug which I reported a while ago.  If you simply comment out sources in the instance catalog (as oppose

[2016-02-25 19:08] johnrpeterson commented on #137
On Feb 25, 2016, at 2:04 PM, Chris Walter <notifications@github.com<mailto:notifications@github.com>> wrote:

@TomGlanzman<https://github.com/TomGlanzman> The time will really be dominated by what sort of sky background model you are using. It can be really long if you are using full non-optimized background and even longer if the moon is in the sky.

For the "The run is limited to producing outpu

[2016-02-25 19:15] TomGlanzman commented on #137
The second full test generated the following non-fatal messages:

[...]
Installing Universe.
Error in SED file; 0 value at 500 nm
Error in SED file; 0 value at 500 nm
Error in SED file; 0 value at 500 nm
Error in SED file; 0 value at 500 nm
Error in SED file; 0 value at 500 nm
Error in SED file; 0 value at 500 nm
Error in SED file; 0 value at 500 nm
Error in SED file; 0 value at 500 nm
Creating Ai

[2016-02-25 19:40] drphilmarshall opened #138 "Run 1: Turn on centroid file outputs"
So we can compare photon counts that PhoSim shoots, with DM forced source fluxes.

[2016-02-25 19:43] drphilmarshall opened #139 "Avoid using the same CatSim galaxies for both SNe and lensed AGN"
Sounds obvious but apparently we aren't doing this yet. Are we, @jbkalmbach ?

[2016-02-25 20:04] jbkalmbach commented on #139
No, I could make a list of galid numbers that are currently lensed. @rbiswas4 is there any way you can make a list of the galid numbers that get SNe so we can compare? If there's no problem in the current run then we can fix this before the next run, but if it's a problem in the current catalogs it would be good to know so we can fix it right away.

[2016-02-25 21:06] #130 closed

[2016-02-25 21:24] TomGlanzman commented on #138
As Simon pointed out later, this is enabled in the physics override file and, indeed, is already enabled.

On 02/25/2016 11:41 AM, Phil Marshall wrote:

[2016-02-25 21:28] drphilmarshall opened #140 "Visualize light curves"
With postage stamp images alongside light curves, and animated in the notebook with a slider. Should be SN/SL-agnostic. Like so:
![](https://pbs.twimg.com/media/CcFxbyNUAAAVk8G.jpg)

[2016-02-25 21:31] rbiswas4 commented on #139
Yes, I can also easily find the galids for SN hosts. So, technically, right now, the easy thing to do is filter by common hosts. As @drphilmarshall  was mentioning here, this does not preclude nearby objects, but we can ignore those till we know they are in fact an issue.

[2016-02-25 21:31] drphilmarshall opened #141 "Create postage stamps"
Given DM `CoaddTempExp` images (that include image extensions for science, variance and mask, plus a common WCS header), extract a square cutout measuring X arcsec on a side centered on (Ra,Dec) as another `CoaddTempExp` object. In the first instance we will want to do this from a notebook just to make plots; later we may want to write these cutouts out to file and serve them from the data catalog

[2016-02-25 21:53] drphilmarshall opened #142 "Assemble Ground Truth light curve"
We'll need to do a spatial association between our PhoSimSources and the DM CoaddSources, and then look up the photon counts for each PhoSimSource in each visit's PhoSim centroid file. These numbers of photons will then need converting into flux units, using the zero point for each visit image (the one that was used by DM during forced photometry). Where are these zero points stored? In the header

[2016-02-25 22:01] TomGlanzman commented on #137
Hi @rbiswas4 .  Can you change the NERSC directory permission to include 'x' both for group and world?  This will allow one to 'cd' into the directory.

[2016-02-25 22:13] rbiswas4 commented on #137
OK Done.

[2016-02-25 22:52] drphilmarshall opened #143 "Light curve quality metric"
@drphilmarshall to suggest something statistical, that quantifies discrepancy from "good". Will involve ground truth light curves as well as observed ones.

[2016-02-25 22:55] drphilmarshall commented on #105
Thoughts from discussion between @rbiswas4 and @jchiang87 : provide setup script to set environment variables. Implement importable python structure as discussed. Do this in a branch so we can read the new README and view the proposed structure?

[2016-02-25 23:15] drphilmarshall opened #144 "PhoSim "smoke test""
Let's add an option to the script that calls PhoSim to make it carry out a smoke test: edit the instance catalog to turn down the exposure time to 0.1s (or maybe less) and run the job, hopefully in a few minutes. Output directory can be treated as scratch space where files can be happily over-written.

[2016-02-25 23:17] drphilmarshall commented on #144
Turn both times (_exposure and _visit) to 0.1 until we find out which one is being used....

[2016-02-26 00:08] drphilmarshall opened #145 "SED file overload, organization"
So many SED files! Strategy for dealing with this have been discussed, implementation of a solution appropriate to Run 1 is required.

[2016-02-26 00:37] drphilmarshall opened #146 "Run 1 Risk: SNe may not make good CoaddSources"
@SimonKrughoff

@rbiswas4 and I are thinking about what we expect the Run 1 light curves to look like. If they are coming from forced photometry of CoaddSources, there are risks, including:
- SNe might appear too faint in Coadd Image to be detected, even though the SNR at the peak of the light curve may be 10 sigma
- CoaddSources might land on the SN host galaxy, not the SN. And if this galaxy is

[2016-02-26 00:42] drphilmarshall commented on #138
Splendid!

[2016-02-26 00:42] #138 closed

[2016-02-26 01:07] jchiang87 commented on #144
Based on this [code](https://bitbucket.org/phosim/phosim_release/src/d912a460f8783c176146d4cdd4149337d3d5f822/source/raytrace/observation.cpp?at=master&fileviewer=file-view-default#observation.cpp-1140) (see also [here](https://bitbucket.org/phosim/phosim_release/src/d912a460f8783c176146d4cdd4149337d3d5f822/source/raytrace/telescopesetup.cpp?at=master&fileviewer=file-view-default#telescopesetup.cp

[2016-02-26 01:14] drphilmarshall commented on #110
OK, I *think* the [Run 1 plan](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/doc/Run1.md) is more or less complete. Please take a look and see what you think, edit as you see fit - I added notes from today's hangout on the tests we think we want to do on the light curves (kept as simple as possible to get started).

[2016-02-26 14:29] johnrpeterson commented on #144
its SIM_VISTIME that would get used.  that gets used to calculate the exposure time based on the number of snaps and the readout time.

On Feb 25, 2016, at 8:07 PM, James Chiang <notifications@github.com<mailto:notifications@github.com>> wrote:

Based on this code<https://bitbucket.org/phosim/phosim_release/src/d912a460f8783c176146d4cdd4149337d3d5f822/source/raytrace/observation.cpp?at=master&file

[2016-02-26 15:53] TomGlanzman commented on #137
Five test runs are now complete and the data are available via the data catalog.  Navigate to http://srs.slac.stanford.edu/DataCatalog/?experiment=LSST-DESC then to /LSST-DESC/Twinkles/Twinkles-phoSim/singleVisit.  The five complete runs include task streams 0,1,2,5,13.  The remaining 12 jobs are still running at this time.  Note that stream 0 (corresponding to Opsim_obhistid 484933) had its insta

[2016-02-26 15:54] TomGlanzman commented on #137
Progress on the phoSim runs may be monitored using the Pipeline workflow web page:

http://srs.slac.stanford.edu/Pipeline-II/exp/LSST-DESC/task.jsp?task=40601107

[2016-02-26 16:30] cwwalter commented on #137
OK so this is (slightly) off topic but given all of the "I can't see your directory stuff" above, I noticed at NERSC the umask is set by default to 27.

That gives you something that looks like this (in your home directories)

-rw-r----- 1 cwalter cwalter

This means that no one else in the lsst group can look at the files since by default your "user" group is used here.

On

/global/project/proje

[2016-02-26 16:58] drphilmarshall commented on #144
Aha!  John: if we wanted to simulate a visit image with 0.01 seconds
exposure time, would we need to set both `SIM_VISTIME` *and* `exptime` to
0.01? What happens if we choose these times to be different? Any other
advice about designing this sort of PhoSim dry run would be much
appreciated!

On Fri, Feb 26, 2016 at 6:29 AM, johnrpeterson <notifications@github.com>
wrote:

[2016-02-26 17:22] drphilmarshall commented on #137
Thanks @cwwalter, great if we can get that cleared up quickly: group readability is pretty important.

Nice going, @TomGlanzman! I was able to download both `lsst_e_495735_f2_R22_S11_E000.fits.gz` and `centroid_lsst_e_495735_R22_S11_E000.txt`.  Here's a pretty picture:

![lsst_e_495735_f2_r22_s11_e000_logscale](https://cloud.githubusercontent.com/assets/710903/13359716/6a9b7c54-dc6a-11e5-986b-53d9

[2016-02-26 17:25] drphilmarshall opened #148 "Data Catalog user guide"
@tony-johnson @TomGlanzman Can you point me to the SRS data catalog user guide please? While downloading the first Run 1images I found a number of features of the system non-intuitive - which I think means we need to provide some user support. To me. ;-) Thanks!

[2016-02-26 18:18] brianv0 commented on #148
Hi Phil,

Is there anything specific you need help with? We have some user guides, but most of them target registering and querying the data catalog, and not so much about using the web interface.

By the way, there is quite a bit of work going on in the data catalog on a next generation version. This work includes an overhauled web UI, a python library (which Tom might actually be using) and a CL

[2016-02-26 19:09] rbiswas4 commented on #137
This is great! I might missing it, but is there a way to easily get either
the obsHIstID or the MJD/ filter of the files that are being completed?
That might help us to figure out what is missing.

Thanks,
Rahul

On Fri, Feb 26, 2016 at 9:22 AM, Phil Marshall <notifications@github.com>
wrote:

[2016-02-26 19:28] rbiswas4 commented on #146
As opposed to the much harder case of real data, we know many things about the data underlying the images here, we could fix some of the things we might normally be worried about in real data, and therefore test other modes independently. It would be great to figure out how to run some of DM analysis tools in this mode.

[2016-02-26 21:32] SimonKrughoff commented on #146
I think we can create SourceCatalogs containing the locations of the SNe to seed forced photometry.  I'll look into that next week.

[2016-02-26 23:02] TomGlanzman commented on #137
Hi @rbiswas4 .  This is what we discussed yesterday: the obshistid is part of the file names, while the filter number/letter is not.  For the moment, Tony will used your CSV file to extract the filter given the obshistid.  I am thinking it would be good to define {obshistid,MJD,filter} as stream (data catalog folder) metadata.  If agreed, I'll put that on my to-do list.

[2016-02-26 23:42] drphilmarshall commented on #148
A basic user guide would be good - I found it hard to download the second file, because the "download" link gave me a second copy of the java app, which then did not open and run. Then, beyond quick look exercises like the one I went through, I'd like to know how to query the catalog for data from python using urllib or similar. Thanks!

[2016-02-26 23:43] drphilmarshall commented on #148
Also, when trying to "add" more files to download in the java app window, it asked me for a URL - but I didn't know the URL in the first place (otherwise I would have just curl'ed it ;-) )

[2016-02-26 23:59] rbiswas4 commented on #137
That sounds good. And to remind myself of how Tom was suggesting we design future runs:
1.the phosim input catalog (phosim instance : PS_input_obsHistID_mjd_filtername.txt
    - obsHistID is an integer formatted to string without padding
    - mjd is the MJD formatted as a float with four places of decimal
   - filtername is a string 'u', 'g'. 'r', 'i', 'z'

2. The phosim input catalog contains th

[2016-02-27 00:01] drphilmarshall commented on #146
That sounds like very useful functionality!

On Fri, Feb 26, 2016 at 1:32 PM, SimonKrughoff <notifications@github.com>
wrote:

[2016-02-27 00:25] cwwalter commented on #137
Just in case people don't know (I can't tell where the CSV file is coming from) the finer, obhistID, mjd etc are all recorded in the fitsheaders of the output file.

Here are a few lines from running 'fitsheader' on one of my output files:

OBSID   =              1000000 / Opsim observation ID
DATASET = '1000000 '           / Opsim observation ID
TAI     =     49552.2999131944 / International Atom

[2016-02-27 00:31] TomGlanzman commented on #137
Thanks @rbiswas4 that looks fine.

@cwwalter Right, but Tony needs that data to find the phoSim output FITS files in the dataCatalog.  Eventually, there will be metadata for a proper query.  Rahul's csv file is a stop-gap.

[2016-02-27 01:18] KirkGilmore opened #150 "Twinkles Session at the SLAC Collaboration Meeting"
Hi all! Looking forward to hearing more about Twinkles at the collaboration meeting next week. What's the plan for the [Twinkles task force session](https://confluence.slac.stanford.edu/display/LSSTDESC/Twinkles+I+data+challenge)?

[2016-02-27 01:46] drphilmarshall commented on #150
Good question. We're in sprint mode right now, but our goal is to have Run
1 data products and some very early validation analysis done and ready for
digestion, so we'll want to spend time on that. I guess we'll also need an
overview for new and interested people :-) And also discussion time, since
we need to make an initial plan for how we get from Run 1 to Twinkles 1
(the main data generation ru

[2016-02-27 06:36] #118 closed

[2016-02-27 19:34] drphilmarshall commented on #140
@rbiswas4 @jbkalmbach I realized that the code to visualize light curves should actually live in the [Monitor]() package, since it is the job of the Monitor to extract light curves. I'll repost this issue there.

[2016-02-27 20:29] drphilmarshall commented on #143
Now re-issued over in https://github.com/DarkEnergyScienceCollaboration/Monitor/issues/9

[2016-02-27 20:29] #143 closed

[2016-02-27 20:37] drphilmarshall commented on #133
Thanks all - Run 1 files are now transferred (or are on the way), so I'll close this out - but I'll issue the globus investigation for Twinkles 1.

[2016-02-27 20:37] drphilmarshall opened #151 "Investigate globus instance catalog file transfer"
As suggested in https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/133

[2016-02-27 20:47] drphilmarshall commented on #135
Re-posting from @TomGlanzman 's https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/137#issuecomment-189335922:

So we are halfway to closing this one :-) @tony-johnson Let us know when there are DM Level 2 products to be browsed as well!

[2016-02-27 23:47] tony-johnson commented on #137
Hi @SimonKrughoff @jchiang87, I am trying to feed Tom's recently produced phosim images through my DM "cookbook" workflow, but I am running into problems at the first step (ingestImages.py). I am getting the

RuntimeError: No mapper provided and no _mapper available

I notice that the files which I was using before (from Simon) have a _mapper file in the input directory, containing:

lsst.obs.lsst

[2016-02-28 00:17] tony-johnson commented on #137
Hi @SimonKrughoff @jchiang87, another question, if I work around the _mapper problem by just adding a _mapper file to each of Tom's output directories, then I can process each of Tom's visits separately through processEImage. When I do this in the natural way I end up with one output directory for each visit, containing:

lrwxrwxrwx 1 tonyj ey 46 Feb 27 16:01 _parent -> /nfs/farm/g/lsst/u1/users/t

[2016-02-28 00:52] jchiang87 commented on #137
I think adding the `_mapper` file in each directory is unavoidable, but @SimonKrughoff would know better.

I would run ingestImages.py and have the processed phosim files directed to the same `input_data` directory.  Then subsequent processEImage.py runs would all take that same `input_data` directory as its argument, if you are running a bunch in parallel batch jobs.   The `_parent` file in `inpu

[2016-02-28 00:52] cdfassnacht commented on #150
I may be able to join this session remotely if you have the ability for
off-site people to connect in the room that you will be using.

   Chris

On Fri, Feb 26, 2016 at 5:46 PM, Phil Marshall <notifications@github.com>
wrote:

--
Chris Fassnacht
Professor, Physics Dept.
UC Davis
1 Shields Ave.
Davis, CA 95616
+1-530-554-2600

[2016-02-28 01:52] brianv0 commented on #137
A Mapper is necessary for the Butler in order to find the proper datasets, more or less. The Butler is generic get/put framework for data and has no *default* notion of data, files, or file types, so you have to provide it with some necessary can either provide the Butler a mapper object or it will look for a way to construct that object through the `_mapper` file. In this case, I believe it's the

[2016-02-28 01:59] jchiang87 commented on #137
Right. The initial question was whether there was a way of specifying the mapper class by some means other than via that `_mapper` file, e.g., a command line option.  I'm fairly certain the answer is no, but it would be useful if there were some other way.

[2016-02-28 17:37] tony-johnson commented on #137
I am following @jchiang87 suggestion, and ingesting all files into the same directory, after copying a _mapper file into the phosim output directory. This actually fails with:

RuntimeError: Output repository path '/nfs/farm/g/lsst/u1/users/tonyj/work/999/input/_parent' already exists and differs from input repository path '/nfs/farm/g/desc/u1/Pipeline-tasks/Twinkles-phoSim/phosim_output/000002/ou

[2016-02-28 19:15] SimonKrughoff commented on #137
Thanks all for helping Tony out.  Just to condense into a single post.  A data repository is simply a directory with a _mapper file in it containing the class name to use for mapping data to/from disk.

In the case of ingest, the repository is the directory specified as the first argument to ingestImages.py.  The files to ingest are specified as a glob or list of files on the command line.

Tasks

[2016-02-29 01:08] wmwv commented on #139
How many times is this actually happening?  I've just always assumed it's < 1% and chosen not to worry about it, certainly not until Twinkles 2.

[2016-02-29 02:57] tony-johnson commented on #137
Hi @SimonKrughoff, my trick of deleting the _parent directory if it exists does not work well, because although the file may not exist when the job starts it may have been created when the job goes to write its output (if multiple jobs are running at once). Needless to say I do not know what i am doing, but I tried the --clobber-config option anyway but it did not appear to help:

`
++ ingestImage

[2016-02-29 05:12] rbiswas4 commented on #139
@wmwv That might be true, we have not looked. I had not even thought about the possibility till @drphilmarshall mentioned it the other day, and it would be good to at least have this an explicit issue  and develop a flag to catch such occurances. Right now, our method to find out whether this happened is more roundabout that I would like.

[2016-02-29 05:23] rbiswas4 commented on #133
Sorry to reopen the issue: but it is for good news:
I ran a check and made sure that everything has been transferred to nersc. There should be 1227 pairs of phosim instance catalogs and spectra for these. I have run two checks on these:
- I checked that all SN spectra files alluded to in the phosim instance catalog are indeed in the tar file
- that each of the tar files are not empty and have a su

[2016-02-29 06:14] SimonKrughoff commented on #137
@tony-johnson I don't think the ingestImages script is intended to be thread safe.  I had assumed we'd just ingest in one serial job.

Why are you using two different repositories?  I think it would be much better to use the output repository as the only repository.  I.e.
[code]

I think that may get around the `_parent` problem too.

[2016-02-29 06:21] SimonKrughoff commented on #144
@drphilmarshall @jchiang87 I actually thought the exptime input variable was ignored and that the SIM_* inputs were the important ones.  I'll try to find time to look more tomorrow.

[2016-02-29 06:41] jchiang87 commented on #144
Yes, I think you and John are right about that.  When I grepped the `raytrace` code I didn't notice that even though `exptime` is read in from the .pars file, it is recalculated [here](https://bitbucket.org/phosim/phosim_release/src/d912a460f8783c176146d4cdd4149337d3d5f822/source/raytrace/atmospheresetup.cpp?at=master&fileviewer=file-view-default#atmospheresetup.cpp-47) based on the value of `vist

[2016-02-29 06:57] SimonKrughoff commented on #144
O.K.  I missed John's comment.  It's fairly difficult trace the path of input variables through the phosim code.  It would be nice if that were easier.

[2016-02-29 07:00] tony-johnson commented on #137
@SimonKrughoff -- OK, I can change the ingest images to run serially, it was just convenient to ingest each visit in a separate job since I already had one job per visit for running processEimage. I don't think it will help with the _parent issues, since each visit still comes from a different phosim directory.

I had always been using a separate directory for the output of the ingest and the outp

[2016-02-29 07:12] jchiang87 commented on #144
Looking at that code I linked to more carefully, and re-reading John's comment, I see that we need to consider the readout times for the two types of devices in `focalplanelayout.txt`.  It looks like we can't pick a `SIM_VISTIME` that is shorter than the readout time for the CCD devices (as opposed to CMOS), which is 3.0 sec in `data/lsst/focalplanelayout.txt`, otherwise `exptime` would become neg

[2016-02-29 15:23] johnrpeterson commented on #144
No that’s not quite right.  you can pick a small exposure time.

for the science CCD’s its:

visit time = exposure time * number of snaps + readout time * (number of snaps - 1)

for the guiders its different.

we recently update the user documentation on the wiki to describe all of this, so you can find that there.

john

On Feb 29, 2016, at 2:12 AM, James Chiang <notifications@github.com<mailto:n

[2016-02-29 15:53] jchiang87 commented on #144
We're using v3.4.2, which has
[code]
so we can only pick a small, non-negative exposure time if `vistime > devvalue` for `nsnap=2`.

[2016-02-29 16:19] SimonKrughoff commented on #137
@tony-johnson I'm free at 1PM Pacific if you want to chat.  Regarding the `_parent` issue, I think that will be solved by not using the phosim output directory as the *input* repository to `ingestImages.py`.  I think I can explain on the phone.

[2016-02-29 16:31] tony-johnson commented on #137
1pm is good, we can use the same bluejeans number that we use for the Friday meetings (https://bluejeans.com/256850342/).

[2016-02-29 16:35] jchiang87 commented on #137
I'd like to listen in on this discussion.

[2016-02-29 16:39] tony-johnson commented on #137
Everyone is welcome!

[2016-02-29 17:22] drphilmarshall commented on #133
Excellent, thank Rahul! 1227 clean inputs, ready for transfer from NERSC.
It's on!

On Sunday, February 28, 2016, rbiswas4 <notifications@github.com> wrote:

[2016-02-29 17:42] johnrpeterson commented on #144
yes, if you want to do 2 snaps, you are right.  so if you want to do 0.1 second exposures, pick the visit time of 3.2 seconds.

john

On Feb 29, 2016, at 10:53 AM, James Chiang <notifications@github.com<mailto:notifications@github.com>> wrote:

We're using v3.4.2, which has

exptime=(vistime-(nsnap-1)*devvalue)/nsnap;

so we can only pick a small, non-negative exposure time if vistime > devvalue f

[2016-02-29 17:54] drphilmarshall commented on #144
Excellent, thanks John. Is there a downside that you can see to choosing a
visit time of 3.000002 seconds for this test? Would every source in the
instance catalog get asked for a photon in two such comically short
exposures?

On Mon, Feb 29, 2016 at 9:42 AM, johnrpeterson <notifications@github.com>
wrote:

[2016-02-29 18:00] SimonKrughoff commented on #144
Is there even any reason to do two snaps?  I find it easier to wrangle data if I keep it set to 1 snap.  We also don't have anything more than a naive snap combination step.

[2016-02-29 19:38] danielsf commented on #30
@rbiswas4 and @jbkalmbach might want to check, but I have updated the flow-chart to reflect (my understanding of) the inter-dependency between the pointings, CatSim, and the sprinkler.

[2016-02-29 20:27] johnrpeterson commented on #144
yeah, you could certainly do that, or just change the two snaps to one as simon said.

by the way, the reason this is so complicated is to correctly simulate guiders which don’t have a readout time and take many exposures during the same time.

john

On Feb 29, 2016, at 12:54 PM, Phil Marshall <notifications@github.com<mailto:notifications@github.com>> wrote:

Excellent, thanks John. Is there a do

[2016-02-29 21:44] drphilmarshall commented on #30
Thanks @danielsf ! The original concept for the flowchart at https://confluence.slac.stanford.edu/display/LSSTDESC/Twinkles+flow+chart was that all code components would be shown in ellipses, and exist as named in the Twinkles repo (or elsewhere). What's the piece of code that actually executes the database query you have written in green? It can't be done by hand, because that would be irreproduc

[2016-02-29 21:50] cwwalter commented on #30
Your confluence based flow-chart "confuses and frightens me" :)

What is going on? Is that a plugin of some sort?

The left side is cutoff for me.  Can others see it OK?

[2016-02-29 21:57] drphilmarshall commented on #30
Nope, it's cut for me too. @danielsf I think you'll have to shift things
back over a bit.

On Mon, Feb 29, 2016 at 1:50 PM, Chris Walter <notifications@github.com>
wrote:

[2016-02-29 22:09] SimonKrughoff commented on #137
@tony-johnson I am so sorry that I missed this meeting.  I will likely be free in about 30 min if you are still willing to meet  today.  What do you think?

[2016-02-29 22:10] tony-johnson commented on #137
Hi Simon, no problem, yes OK, should we say 3pm to be specific?

Tony

On 02/29/2016 02:09 PM, SimonKrughoff wrote:

[2016-02-29 22:12] SimonKrughoff commented on #137
Can we try 2:30?  I have another thing at 3.

As an aside, I may have given you the wrong astrometric reference catalog.  Let me look around.

[2016-02-29 22:23] SimonKrughoff commented on #137
I have new astrometric reference files for you to use.  Can you try these out?
https://lsst-web.ncsa.illinois.edu/~krughoff/data/and.tar.gz

[2016-02-29 22:39] tonyj321 commented on #137
Just saw  this, will call in to Bluejeans now.

Tony

On 02/29/2016 02:12 PM, SimonKrughoff wrote:

[2016-02-29 22:54] danielsf commented on #30
Do we really want the flow chart to be this granular?  Even for me, the flow chart we have is pedagogically confusing.  Would it not be more useful to just say

OpSim simulates pointings
We select the pointings we want to simulate
We perform a SQL query against the UW database to find all of the objects in those pointings
We use the sprinkler to add "artificial" variability sources
CatSim translat

[2016-02-29 23:23] danielsf commented on #30
Part of my concern is that "CatSim" encompasses both the software that performs the query on the UW database and the software that formats the output of that query into a text file that PhoSim can read, so either we have arrows going in multiple directions into and out of the "CatSim" ellipse, or we have multiple "CatSim" ellipses, and I'm not sure which of those scenarios is the most human readab

[2016-03-01 00:36] drphilmarshall commented on #30
I see your point. Your comment about "human readabiity" made me realize that the other reason (as well as pedagogy) for making the flowchart was to enable @tony-johnson and @TomGlanzman  to start writing the XML files and python task scripts to configure and feed the SLAC workflow engine. This was successful, in that the engine is running PhoSim as we speak! We are not yet running the CatSim parts

[2016-03-01 00:41] drphilmarshall opened #152 "Make instance catalogs "at scale""
And by "at scale" I mean "at Twinkles 1 scale" which is still only ambitious in a tiny way. So what I really mean is we should be able to run CatSim at either SLAC or NERSC or both, through a workflow engine. This came up in discussion of the flowchart in #30, and also while coping with the file transfer problem in #133.

[2016-03-01 00:58] drphilmarshall commented on #152
Gah, dupe of #134, apologies!

[2016-03-01 00:58] #152 closed

[2016-03-01 00:59] drphilmarshall commented on #134
Re-assigning to Tony as part of his ongoing workflow dev effort. We'll discuss more next week!

[2016-03-01 01:11] drphilmarshall commented on #150
We certainly will have Blue Jeans open to all-comers - thanks for making time, Chris!

All:  I take it you are all fine with making Twinkles slides for a common set. I suggest we build off the update we already gave a few weeks ago, and add more information about the reality of Run 1. Here's the [Google slideset for you to edit](https://docs.google.com/presentation/d/1MdGGDrITW4-n04goJNYBAoVwnQBjR

[2016-03-01 16:29] tony-johnson commented on #137
With new astrometric files, and hints on how to run the ingest of the phosim output from @SimonKrughoff I have now been able to process the visits that were complete as of last night -- except the forced photometry which I will do today.

[2016-03-01 16:59] drphilmarshall commented on #137
Hooray Tony! Nice going. @jbkalmbach, your wish for light curves for The
Monitor is about to come true :-)

On Tue, Mar 1, 2016 at 8:29 AM, Tony Johnson <notifications@github.com>
wrote:

[2016-03-01 22:11] TomGlanzman commented on #137
Two quick updates.

1. Of the original 17 phoSim runs submitted five days ago, five were still running this morning.  The longest public queue at SLAC is 7200 min (5 days), and the first time-out has just occurred.  I expect the remaining 4 to fail soon.  This does not bode well for the 1600 needed runs.  The instance catalog specifies 30s exposures (if I interpret recent emails correctly).  Would

[2016-03-01 23:43] drphilmarshall commented on #137
Excellent! Let's diagnose these week-long epics. @danielsf @rbiswas
@SimonKrughoff what sky brightness and filter is being requested of the
problem visits? Does the view at
http://srs.slac.stanford.edu/Pipeline-II/exp/LSST-DESC/task.jsp?task=40601107
give
you enough information to track down the visit information?

On Tue, Mar 1, 2016 at 2:11 PM, Tom Glanzman <notifications@github.com>
wrote:

[2016-03-01 23:49] drphilmarshall opened #153 "Cannot download images"
Reposting for @DominiqueFouchez:

@jchiang87 which is the actual data download link? You mentioned its existence to me the other day...

PS. Relevance to #148

[2016-03-01 23:55] sethdigel commented on #137
Jim pointed out that the Moon is quite high in some of these runs.  Here are the values of moonalt in the 17 instance catalogs that Tom started with.

phosim_input_484933.txt:Opsim_moonalt -47.1439987
phosim_input_488076.txt:Opsim_moonalt 8.99858865
phosim_input_488756.txt:Opsim_moonalt 20.9496861
phosim_input_490132.txt:Opsim_moonalt 36.4522052
phosim_input_490142.txt:Opsim_moonalt 34.8007116
pho

[2016-03-02 00:05] drphilmarshall commented on #137
Sounds good to me - what is the Moon altitude in the 5 epics?

I am reminded of this verse:

"The stars are not wanted now: put out every one;
Pack up the moon and dismantle the sun;
Pour away the ocean and sweep up the wood.
For nothing now can ever come to any good."

Sigh.

On Tue, Mar 1, 2016 at 3:55 PM, Seth Digel <notifications@github.com> wrote:

[2016-03-02 00:26] sethdigel commented on #137
Well put.  The run time will also depend on how far the Moon is from the particular pointing direction and on the filter.  I was just advocating packing up the Moon entirely.
The information below is from the instance catalogs in /nfs/farm/g/desc/u1/Pipeline-tasks/Twinkles-phoSim/phosim_input/20160219
I'll look into correlating these with run times unless someone beats me to it.

phosim_input | mo

[2016-03-02 00:29] drphilmarshall commented on #137
Go for it. If you're right, the epics are

490810,  490820,  490840,  490844,  490867

I wonder if a dist2moon of 47 is particularly extreme?

On Tue, Mar 1, 2016 at 4:26 PM, Seth Digel <notifications@github.com> wrote:

[2016-03-02 00:32] TomGlanzman commented on #137
@sethdigel ,  The bulk of instance catalogs (used with the new Twinkles-phoSimII task) are located here:  /nfs/farm/g/desc/u1/data/Twinkles/phoSim/Run1_InstCats_SEDs

There are 1227 {instance catalog, SED tarball} pairs.

[2016-03-02 00:42] TomGlanzman commented on #145
Given the unreliability of phoSim to read gzipped instance catalogs, I have rolled that issue into this one.  The solution implemented uncompressed the instance catalog into a temporary scratch space, along with the unpacked (and uncompressed) SED files ("spectra_files").  The remaining bit is to create a symlink directory mirroring the normal phoSim SED file library and inserts a link to "spectra

[2016-03-02 00:51] sethdigel commented on #137
The three jobs still running at this moment are using phosim instance catalogs 490189, 490810, and 490840.  Others may have timed out.

Yes, for Run 1 we'd need to move the Moon in a lot of instance catalogs, if that is what we want to do.  I do not know if phosim requires consistency (the catalog files also include the RA and Dec of the Moon, in addition to moon_alt and dist2moon) or whether sett

[2016-03-02 01:05] drphilmarshall commented on #137
To be safe, we could choose a safe (Ra,Dec,Moonalt,dist2moon) tuple from
the list we have. The only thing inconsistent then would be the MJD, and I
bet that wouldn't cause problems.

Another approach is just to skip them and move on - we have 1227 visits to
get through, and I doubt we'll reach the end of the list by next week
anyway. We could just keep track of the epics, and chalk them up to
expe

[2016-03-02 01:20] SimonKrughoff commented on #137
Just to comment on this quickly.  There is also a moon phase input, but setting the moon well below the horizon should deal with this.  Typically when I set the moon down, I set moon_alt to -90 and dist2moon to 180.  As far as I know, phosim does no checking of consistency of observation parameters, so I don't think you need to worry about that if you decide to set the moon to be below the horizon

[2016-03-02 01:21] sethdigel commented on #137
Well, dist2moon depends on the pointing direction, but yes, we could find something that works.  I've updated the table to include the phase of the moon and the CPU time.  The tough cases seem to be in g band.
Tonight I could look through the big set of instance catalogs to see what the distributions of dist2moon, moonalt, etc. are.

[2016-03-02 01:24] jchiang87 commented on #153
Unfortunately, the file Dominque was trying to access was moved, presumably because it was created with the truncated instance catalog Tom used for his tests.  The other folders, e.g.,

http://srs.slac.stanford.edu/DataCatalog/?folder=14635892

and

http://srs.slac.stanford.edu/DataCatalog/?dataset=14635929

At the latter page, it will work if you click at the full path under `Location` at the bot

[2016-03-02 01:24] #153 closed

[2016-03-02 01:27] SimonKrughoff commented on #137
What I'm saying is that phosim doesn't care if the input parameters are self consistent so you can set the moon parameters to whatever you want.  The safest (and maybe most self documenting thing) is to put the moon as far down and as far away from your observation as you can.

[2016-03-02 02:15] drphilmarshall commented on #153
Thanks Jim!

On Tue, Mar 1, 2016 at 5:25 PM, James Chiang <notifications@github.com>
wrote:

[2016-03-02 07:43] sethdigel commented on #137
Here is the distribution of moon altitudes in the 1227 instance catalogs for Twinkles-phoSimII.  The distribution is very similar for filters 1-5.  For filter 0 (u band), the distribution is skewed to negative moon altitudes.

![moonalt_hist](https://cloud.githubusercontent.com/assets/6035835/13453585/2758bd7c-e006-11e5-9662-c9486f99894c.png)
Here also, for what it is worth, is a plot of moon phas

[2016-03-02 08:09] SimonKrughoff commented on #137
I would suggest also setting dist2moon to 180.  I'm not sure how those two values are used in the sky background calculation.

[2016-03-02 08:27] sethdigel commented on #137
Sure, and maybe set moonphase to 0 too for good measure.  I do not think that rewriting the files with these changes (only) would be difficult.  I'd volunteer to make new versions, unless Rahul prefers to regenerate them, or maybe Tom has a slick way to do it in bulk.  The compressed instance catalog files take up about 20 Gbyte, not counting the SED tar files, and the instance catalog and SED fil

[2016-03-02 15:29] johnrpeterson commented on #137
all you have to do is set the moon below the horizon (say -90).  and the lunar flux goes to 0.  you don’t have to worry about consistency, if you don’t want to.

BTW, it is approximately true in real life that the lunar flux drops very rapidly once it goes below the horizon.

john

On Mar 2, 2016, at 3:27 AM, Seth Digel <notifications@github.com<mailto:notifications@github.com>> wrote:

Sure, and

[2016-03-02 16:10] TomGlanzman commented on #137
Wednesday morning update:

I went ahead and submitted a total of 160 phoSim jobs to the workflow and as of 07:50 this morning, 91 had completed successfully.  It could be that jobs with the new task are running faster?  If so, what is different?  The main changes to structure include: 1) instance catalog is uncompressed and stored in lustre (possibly faster disk access); 2) visit-specific SED file

[2016-03-02 16:22] tony-johnson commented on #137
Another status update, I finished processing Tom's original 10 runs through forced photometry. The output is on SLAC unix in:

/nfs/farm/g/lsst/u1/users/tonyj/twinkles/run1/output

@jbkalmbach -- if you want to look at this data and SLAC is not a good location I can tar up this directory and put it somewhere you can download it. Uncompressed it is 2.5GB.

Do we have any simple diagnostics that can

[2016-03-02 16:34] jbkalmbach commented on #137
Thanks @tony-johnson! I don't have a SLAC account so somewhere I can download it would be great. I do have access at NERSC if that's easier.

[2016-03-02 16:39] drphilmarshall commented on #137
Let's try hard to use the Data Catalog web interface: we'll need it for the
Hack Day if we are to attract people to come play with our data. We have an
open issue on providing documentation and (fingers crossed) a python API...
Who has an example of this in action? Is it you, @jchiang87?

Love the embedded plot, Tom. I used my handheld calculator to find that
1000 minutes is just 17 hours so that'

[2016-03-02 16:42] wmwv commented on #137
@tony-johnson Yes.  I've working working exactly on questions of validating data sets (as has @SimonKrughoff in related but different ways) and would be happy to take a look at these.

I'm transferring the images and catalogs now and hope to have some results by this afternoon.

[2016-03-02 16:44] drphilmarshall commented on #137
Great, thanks Michael! Can you please issue this validation task over on
the Monitor repo? Thanks!

On Wed, Mar 2, 2016 at 8:42 AM, Michael Wood-Vasey <notifications@github.com

[2016-03-02 17:09] TomGlanzman commented on #137
@drphilmarshall  I did not edit the instance catalogs: the moon is wherever Rahul, et al placed it.

[2016-03-02 17:37] tony-johnson commented on #137
@jbkalmbach -- for a quick solution I put the data here:

ftp://ftp.slac.stanford.edu/outgoing/tonyj/

[2016-03-02 18:12] sethdigel commented on #137
Out of the 160 runs that Tom started, 97 have finished as of a few minutes ago.  Of these, 90 have negative moonalt and the average moonalt is -24 deg.

Of the 63 that are still running, 16 have negative moonalt, and the overall average moonalt is +17 deg.

[2016-03-02 18:26] johnrpeterson commented on #153
Dear Twinkles Team-

There are some tickets that have been generated for PhoSim in running this in the pilot projects.  That is great!

One small change that would help me to help you more would be if you could please indicate in your ticket (or through private email to myself) whether you feel it is fine if the problem is addressed in the next major release (which we label phosim vX.Y) or you nee

[2016-03-02 18:28] drphilmarshall commented on #137
Good, that makes sense. I guess we'll end up taking delivery of the dark
time first! :-)

On Wed, Mar 2, 2016 at 10:12 AM, Seth Digel <notifications@github.com>
wrote:

[2016-03-02 19:00] jbkalmbach commented on #137
Thanks @tony-johnson, I got the files.

Everybody else, stay tuned for some monitor updates.

[2016-03-02 19:09] TomGlanzman commented on #137
In the hope that the current phoSim project configuration is good, I am starting to ramp up production with a goal of 1227 visits, but will monitor this issue for concerns if/when they arise.

[2016-03-02 20:11] sethdigel commented on #137
Here is a plot of the CPU time vs. moon altitude for the 17 runs in Tom's first set plus the 97 that had finished as of earlier this morning.  (One of the original 17 was still running but must be on the verge of hitting the run limit, and I've counted it that way.)  The points are color coded by filter.  My impression is that there's no particular speed up in the second batch, but that set of obs

[2016-03-02 20:41] drphilmarshall commented on #137
Agreed. Let's press on, and work with the dark time that we're given. At
the meeting, we'll need to discuss what to do about simulating bright time.

On Wed, Mar 2, 2016 at 12:11 PM, Seth Digel <notifications@github.com>
wrote:

[2016-03-02 21:13] TomGlanzman commented on #137
Thanks @sethdigel , nice plot!   Sure, if the moon-ordered list is handy, give me a pointer, it may be useful at some point.

[2016-03-02 21:38] sethdigel commented on #137
~digel/lsst/obshistid_moonalt.txt has the instance catalogs obshistid values sorted by moonalt, which is the second number in each row.

[2016-03-03 03:12] wmwv commented on #137
@drphilmarshall   I'm not actually planning to look at lightcurves.  I'm just looking at photometric and astrometric repeatability of the output source catalogs using http://github.com/lsst/validate_drp

Would you like for the processCcd - first level processing to be discussed in a new Issue in the Twinkles repo or to have that discussion continued here?

[2016-03-03 03:13] wmwv commented on #137
@tony-johnson I've done some quick analysis of those 10 images and the output catalogs look sane.  More details tomorrow.

[2016-03-03 04:23] drphilmarshall commented on #137
Got it. I'd say make a new issue in Twinkles - this one is not far from
being closed (since it was only to *generate* the images, not *validate*
them. Thanks Michael - looking fwd to seeing your results!

On Wed, Mar 2, 2016 at 7:13 PM, Michael Wood-Vasey <notifications@github.com

[2016-03-03 07:46] drphilmarshall opened #154 "Strong Lensing Session at the Collaboration Meeting"
@TomGlanzman @jbkalmbach @SimonKrughoff

In the SL session on Thursday morning we are due for a brief Twinkles update. I have made us a slide set to help us discuss Bryce's sprinklings, Simon's (or someone else's) light curve analysis (!), and Tom and my SLTimer plans. You can reach these slides from the session page at

https://confluence.slac.stanford.edu/display/LSSTDESC/SL+Session

or by click

[2016-03-03 16:22] TomGlanzman commented on #137
Morning update:

All 1227 phoSim runs of Twinkles Run 1 were submitted by last night.  At present, 681 are complete and 546 still running.

http://srs.slac.stanford.edu/Pipeline-II/exp/LSST-DESC/task.jsp?task=40602489

[2016-03-03 16:29] drphilmarshall commented on #137
I love the smell of data in the morning!

On Thu, Mar 3, 2016 at 8:22 AM, Tom Glanzman <notifications@github.com>
wrote:

[2016-03-03 16:32] drphilmarshall opened #155 "What do the Run 1 lensed quasars look like?"
Hey @jbkalmbach did you see @jchiang87 's postage stamp code in #149 ? Since you know the lens RAs and dec's, I guess you could start pulling out our targets from @TomGlanzman 's images ( #137 ) and displaying their images. Show us some lenses! :-)

[2016-03-03 20:01] sethdigel commented on #137
As of a short time ago a total of 754 runs were complete (or had reached the run limit, counting Tom's original 17 runs, which are the only ones that have been running long enough to reach the 5-day limit).  Here's an updated plot of CPU time vs. moon altitude.  I removed duplicated runs (the 17 are a subset of the 1227).  The symbol size is scaled according to the phase of the moon.  The histogra

[2016-03-03 20:25] drphilmarshall commented on #137
Love this. I guess in bright time, `dist2moon` will come into play in
determining CPU time. For those visits with `moonalt > 0`, it'd be fun to
see the joint distribution of log CPU time, `dist2moon` and `moonalt`
together, per filter. If we really wanted to predict CPU time accurately,
we'd model that PDF I think.

There's still interesting structure in the dark time too though: each
filter seems

[2016-03-03 20:30] drphilmarshall opened #156 "Impromptu Twinkles analysis discussion, this afternoon"
Hey @DarkEnergyScienceCollaboration/twinkles

If you're around at 2pm PST, why don't we meet up in [the CI group BlueJeans room](http://bluejeans.com/476071800) and chat about Twinkles Run 1 analysis? Rahul has been out of action for a couple of days, and needs to be caught up - and we can use the time to run ideas for analyses past each other. Sound good? See you in 90 minutes if so!

[2016-03-03 21:20] sethdigel commented on #137
Yes.  I forgot to mention that the CPU time did not actually seem to depend on dist2moon.  Here's the plot.

![cpu_dist2moon2](https://cloud.githubusercontent.com/assets/6035835/13509724/c90950d2-e141-11e5-9420-974b38196e5c.png)

A dependence is more clear if you look only at runs with moonalt > 0:
![cpu_dist2moon2_posmoonalt](https://cloud.githubusercontent.com/assets/6035835/13509845/87e40c22-e1

[2016-03-03 22:03] tony-johnson commented on #156
Jim and I are in the room, but it is very quiet.

[2016-03-03 22:05] cwwalter commented on #156
You should try talking :)

[2016-03-03 22:40] rbiswas4 commented on #156
Having a hard time reconnecting from both Simon and my computer.

On Thu, Mar 3, 2016 at 2:05 PM, Chris Walter <notifications@github.com>
wrote:

[2016-03-03 23:57] drphilmarshall commented on #142
@jbkalmbach @rbiswas4 We just decided that the spatial association of `ForcedSources` with PhoSim input sources by sky position *is indeed* a job for the Monitor, and Rahul is going to work on it over there. I guess to close this issue we'll need a Twinkles notebook that demonstrates the visualization of a Twinkles light curve including the reference, using the Monitor. Re-assigning to Rahul!

[2016-03-04 00:01] drphilmarshall commented on #156
I wish GitHub had a "like" button, so I could appreciate Walter's little gems.
We had a nice little tag up, @SimonKrughoff dropped in and cleared up some things for us, not least that we now expect Tony's `ForcedSources` to have the same `object_id` in all filters, which shoudl make life easier. I'm doing some issuing based on the meeting now.

[2016-03-04 00:01] #156 closed

[2016-03-04 00:03] drphilmarshall commented on #70
This is the validation plot that @tony-johnson wants to add to the workflow. @jchiang87 was going to make sure it's easy for him to do that - bin it to win it, Jim!

[2016-03-04 00:04] drphilmarshall opened #157 "Incorporate repeatability plot in workflow"
As desired by @tony-johnson, who loves a good plot. Referred to in #70 just now.

[2016-03-04 00:06] drphilmarshall opened #158 "Mirror PhoSim / DM Level 2 output folders at NERSC"
Well, we should start with the DM outputs, so that @jbkalmbach and @rbiswas4 can do all the analysis they want. Thanks @tony-johnson !

[2016-03-04 00:11] drphilmarshall opened #159 "Visit metadata analysis"
In the PhoSim image generation master thread https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/137#issuecomment-191938375 @sethdigel is making some cracking plots showing the link between observing conditions and PhoSim run times. I think we should extend this a little bit, so we can look at how things like observed image quality, observed image depth and so on are distributed, and

[2016-03-04 00:18] SimonKrughoff commented on #70
This is the code:
https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/code/plot_point_mags_gri.py

[2016-03-04 00:38] jchiang87 commented on #70
In #147, @rbiswas4 and I already moved that script to the `bin` folder, so I'll work on it in the `reorganize` branch.  Should we consider merging #147 now?

[2016-03-04 01:24] drphilmarshall commented on #70
Yes, let's do it before this happens again. Everyone likes the reorg I think. Thanks Jim!

[2016-03-04 01:24] #70 closed

[2016-03-04 02:44] tony-johnson commented on #113
![twinklesdm](https://cloud.githubusercontent.com/assets/11215747/13516518/d3ce9602-e16f-11e5-9357-c9d2b8a541a4.gif)

Workflow updated for multiple filters.

[2016-03-04 02:44] #113 closed

[2016-03-04 02:45] tony-johnson commented on #136
Done, but need to update files in github still.

[2016-03-04 04:11] drphilmarshall commented on #113
Sweet! :-)

On Thu, Mar 3, 2016 at 6:44 PM, Tony Johnson <notifications@github.com>
wrote:

[2016-03-04 04:12] drphilmarshall commented on #136
Coooooool. How many Visits, how many ForcedSources?

On Thu, Mar 3, 2016 at 6:45 PM, Tony Johnson <notifications@github.com>
wrote:

[2016-03-04 05:05] drphilmarshall opened #160 "Installation notes, pitfalls"
Hi @jchiang87 - I am trying to reproduce your postage stamps, and documenting everything I need to do to be able to do that in [INSTALL.md](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/INSTALL.md). Can you please read through the steps I followed, and then comment on the problem I am hitting?
[code]
I did all the setups as advised - have I got the wrong setup tags or some

[2016-03-04 05:06] drphilmarshall commented on #160
PS. That error came from the first cell of the [PostageStampMaker_demo.ipynb](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/examples/notebooks/PostageStampMaker_demo.ipynb)

[2016-03-04 05:21] rbiswas4 commented on #160
I think you have hit the kind of problems that has been bugging the whole galsim issue with conda. My impression was that this should not have happened within the stack, but maybe I am wrong. The problem is probably that you have the required dylb file (search for it) but your system is not looking for it in the right place (otool -L library) tells you where it is looking for it.

The quickest way

[2016-03-04 05:30] drphilmarshall commented on #160
Well, it seems to be right there in the miniconda installation:
[code]

That `install_name_tool` cannot be the right thing to do, can it? I thought `conda` was the recommended way to go to get both the stack and `lsst_sims` - so this problem must have been encountered before. Is everyone doing this `install_name_tool` thing?

[2016-03-04 05:52] rbiswas4 commented on #160
Previously I thought the only place this happens is with galsim, but I am not sure the system is well tested enough.
This maybe a problem I have led you down towards by suggesting the use of conda, which I like to use (eg. on lsstdev). Let us see if there are better ideas. @danielsf @cwwalter have spent a lot of time with the install_name_tool thing, but they might know if this happens at this sta

[2016-03-04 06:18] jchiang87 commented on #160
@drphilmarshall I think the dylib you need to search for is `libboost_system.dylib` instead of `libboost_filesystem.dylib`, but I agree that having to use `install_name_tool` is not really an acceptable thing to have to do to get the stack working on your machine.  Also, from what I've been googling just now, it seems strange that the missing library is identified as `@rpath/libboost_system.dylib`

[2016-03-04 16:16] tony-johnson opened #161 "Division by zero in processEimage.py"
Last night I processed 817 visits through the DM pipeline, and of these 7 failed with float division by zero. The stack trace is:

processEimage.calibrate.measureApCorr: Measuring aperture corrections for 2 flux fields
processEimage.calibrate.measureApCorr: Aperture correction for base_PsfFlux: RMS 0.063219 from 143
Traceback (most recent call last):
  File "/nfs/farm/g/desc/u1/Twinkles/obs_lsstSi

[2016-03-04 16:18] tony-johnson opened #162 "Strange failure in processEimage"
Out of 817 jobs processed last night one failed with:

  File "src/math/LeastSquares.cc", line 434, in void lsst::afw::math::LeastSquares::_factor(bool)
    Number of columns of design matrix (6) must be smaller than number of data points (0) {0}
lsst::pex::exceptions::InvalidParameterError: 'Number of columns of design matrix (6) must be smaller than number of data points (0)'

Full traceback:

p

[2016-03-04 16:26] tony-johnson opened #163 "problems running DM jobs at scale at SLAC"
We are currently writing the output from DM jobs to NFS space (specifically I am using /nfs/farm/g/lsst/u1/users/tonyj/). When running hundreds of jobs at once I am seeing a significant fraction (maybe 5%) failing with:

IOError: [Errno 116] Stale file handle

My guess is that this is caused by multiple jobs updating the registry.sqlite3 file. It is known that file locking is not reliable on NFS 3

[2016-03-04 16:28] tony-johnson commented on #163
@TomGlanzman -- any suggestions about alternative disk space? I suspect we need ~200GB of space. We could move it somewhere else once the processing is complete.

[2016-03-04 16:31] tony-johnson commented on #136
Actually my "done" meant that the workflow is set up. I used it to process the first 817 visits last night, but encountered some problems (#161, #162, #163). All of these can be worked around, for example by skipping problematic visits (at the risk of introducing some bias) but mean it will take a little longer before the data processing is complete.

[2016-03-04 17:05] drphilmarshall commented on #160
Thanks, you two! I fixed my DYLD_LIBRARY_PATH as suggested and that solved that problem. I then ran into some setup problems: should the DYLD_LIBRARY_PATH be fixed in the setup script? I thought not - so tried to put it in my .cshrc, and then ran into problems running the setup script from my .cshrc...
Ive checked all this into the `conda` branch and opened a PR #164 so you can see my progress, su

[2016-03-04 17:11] rbiswas4 commented on #160
Did you do
`setup sims_catUtils`?
or use tags to setup a tagged version if you have tagged them

[2016-03-04 17:13] jchiang87 commented on #160
Note that you can see everything that has been set up in your current configuration by doing
[code]

[2016-03-04 17:58] danielsf commented on #160
If you are following the process documented here

https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/conda/INSTALL.md

Then you have a problem:

The ../stable/ conda channel only contains v_11 of the DM stack and a very out-dated version of the sims stack. The sims stack conda installs live at

https://eupsforge.net/conda/dev

That would be why you are getting that failure at DBConnec

[2016-03-04 18:08] TomGlanzman commented on #163
You could try lustre.  I've added lsstsim to the group that has r/w privs in the Fermi area, but this should only be used as a scratch space.  Indeed, I am using it in the phoSim batch jobs.  Please see me for details if this is of interest.

[2016-03-04 18:12] SimonKrughoff commented on #161
That's a real bug.  How do I get the data so I can run it through and debug it?

FYI, I may be able to do some looking next week, but likely won't be able to spend significant time until after the meeting.

[2016-03-04 18:17] SimonKrughoff commented on #163
The registry.sqlite3 file is not updated after the `ingestImages.py` stage.  This must by a filesystem issue.  I don't think it should be hard to merge repos post facto, but I'm not sure there is a tool to do this yet.  I think it should be as easy as copying the repository contents to the final destination except for the `_parent` link.

[2016-03-04 18:19] drphilmarshall commented on #160
Thanks @danielsf - although so far it looks like I need to `conda install lsst-sims`, with a hyphen. The convention seems to be "hyphens for installing, underscores for setups" which I expect makes sense if you think about it long enough.

[2016-03-04 18:23] SimonKrughoff commented on #162
Another bug.  Same question as before, how do I get the data so I can try to repeat?

[2016-03-04 18:29] drphilmarshall commented on #160
OK, looks like I need to switch channels as well as add a new one:
[code]
How do I `conda install` from a particular channel in my list?

[2016-03-04 18:29] danielsf commented on #160
(yeah.  Sorry.  I'm used to interacting with eups distrib install, which uses underscores)

[2016-03-04 18:29] drphilmarshall commented on #160
!!

[2016-03-04 18:30] danielsf commented on #160
Okay.  I was afraid of this.  Try
[code]
i.e. specify a version

[2016-03-04 18:36] rbiswas4 commented on #160
FYI: I did a conda install of sims on lsstdev to generate the instance catalogs for twinkles. As SNModel did not exist in older lsst_sims versions, I used:
[code]
my `conda info` output is :
[code]

[2016-03-04 18:38] danielsf commented on #160
@drphilmarshall

Okay.... take a deep breath.... and try to resist the urge to throw something at me when you see how absurd this install command is....

[code]

(this is because lsst-sims isn't a meaningful package; it's just a script that ties all of the other sims packages together, so it doesn't usually get any helpful git tags attached to it; I will, of course, fix this when releasing future

[2016-03-04 18:39] danielsf commented on #160
incidentally the conda syntax for requesting a specific version of a package is
[code]

[2016-03-04 18:41] danielsf commented on #160
(I am going down this route because I am sure the current version of lsst-sims does not exist on the stable channel, so, by specifying a version, we should be able to resolve your channel ambiguity)

[2016-03-04 18:46] drphilmarshall commented on #160
Thanks Scott - I'm at KIPAC tea with a damp towel on my forehead right now,
but I'll try that piece of wizardry in an hour or so. Thank you for helping
me! :-)

On Friday, March 4, 2016, danielsf <notifications@github.com> wrote:

[2016-03-04 19:04] drphilmarshall commented on #136
I see! 800 visits is a pretty nice campaign, 7 years or so I guess (if we
are indeed processing in MJD order). Has the frces photometry been done on
these 800, or is the engine waiting forall image processing to finish?

On Friday, March 4, 2016, Tony Johnson <notifications@github.com> wrote:

[2016-03-04 22:04] drphilmarshall commented on #159
Talking to @sethdigel , we decided to try extending his analysis into the murky world of `scikit-learn` at the Hack Day next week - we'll just aim for a nice notebook to start with, and can figure out scripts later. I guess we can put the notebook in `examples/notebooks`, although what we are talking about is not really an example...

Seth, here's the machine learning example notebook I showed you

[2016-03-04 22:21] drphilmarshall commented on #159
PS. @sethdigel can you please post this hack idea to the Hack Day confluence page, and provide a link to this thread? You'll need some sort of catchy project name :-)

[2016-03-04 22:30] tony-johnson commented on #163
I may have been mistaken in thinking that the issue was related to the registry.sqlite file, it was just that the stack dump immiediately followed the message about opening the registry.

CameraMapper: Loading registry registry from /nfs/farm/g/lsst/u1/users/tonyj/work/0/output/_parent/registry.sqlite3
Traceback (most recent call last):
  File "/nfs/farm/g/desc/u1/Twinkles/obs_lsstSim/bin/processE

[2016-03-04 22:32] tony-johnson commented on #161
This particular crash occurred while processing visit 1697655, the phosim data for which can be found here:

/nfs/farm/g/desc/u1/Pipeline-tasks/Twinkles-phoSimII/phosim_output/000840/output

[2016-03-04 22:32] drphilmarshall commented on #160
Alright! Got DB. But now I need SNObj:
[code]
This was after I did the install you suggested, @danielsf, and the `setup sims_catUtils -t rbiswas -t b1887` you suggested, @rbiswas4 ! INSTALL.md is up to date with my working, in #164

[2016-03-04 22:34] tony-johnson commented on #162
This happened while processing visit 712850, the phosim data for which can be found here:

/nfs/farm/g/desc/u1/Pipeline-tasks/Twinkles-phoSimII/phosim_output/000335/output

[2016-03-04 23:46] rbiswas4 commented on #160
Aha. That is going to be harder ... not merged yet. The way I have worked is to mix this with a branch of sims_catUtils that has SNObj. We will try to push on the merge, but it will not be done by the time of the meeting. I have been working off a branch in sims_catUtils newTwinklesCatalog:

[2016-03-04 23:54] jchiang87 commented on #160
I've been dealing with the same problem.  Maybe as a temporary workaround we can put a try/except block in the `python/desc/twinkles/__init__.py` file, e.g.,
[code]

[2016-03-05 00:17] drphilmarshall commented on #160
Happy to try that.

Hey Rahul, what is this about?
[code]

[2016-03-05 00:32] danielsf commented on #160
Would it be worthwhile to have an EUPS bootcamp sometime next week?

[2016-03-05 00:33] jchiang87 commented on #160
+100 I would definitely attend.

[2016-03-05 00:34] jchiang87 commented on #160
Maybe as a hack day thing?

[2016-03-05 00:34] rbiswas4 commented on #160
I am sorry .... there has been a miscommunication about the setup command, I should have added some more detail rather than sharing my config:

So here is what went into that:
When I did a conda install (and `source eups-setups.sh`) I had a particular version of lsst_sims using conda it had a tag b1887:
I then cloned a copy of the sims_catUtils from github into a different location : for me this w

[2016-03-05 00:35] rbiswas4 commented on #160
Maybe as part of DESchool?

[2016-03-05 00:40] drphilmarshall commented on #160
Ah, I see - thanks Rahul. In the meantime, I have made the stamp making demo work, by try/except filtering of many sims modules. The question now is: should we merge #164? Come and see!

[2016-03-05 00:44] rbiswas4 commented on #160
Can I try to modify a couple of things on that?

On Fri, Mar 4, 2016 at 4:40 PM, Phil Marshall <notifications@github.com>
wrote:

[2016-03-05 00:46] drphilmarshall commented on #160
Sure - can you do it by PR please, so I can see your changes? Thanks.

On Fri, Mar 4, 2016 at 4:44 PM, rbiswas4 <notifications@github.com> wrote:

[2016-03-05 07:47] sethdigel commented on #159
Done.  I went for descriptive rather than catchy.

About 200 of the Run 1 visits are still running in the pipeline.  These jobs are all up to about 4000 minutes of CPU time.  By some time tomorrow all of the Run 1 jobs will have either finished or hit the 5-day run time limit, at which point a complete set of metadata for Run 1 Phosim simulated visits can be assembled.

[2016-03-05 16:43] tony-johnson opened #166 "Question about running measureCoaddSources"
Hi @SimonKrughoff, last night I ran the "cookbook" on 100 visits, but the measureCoaddSources stage failed after running out of CPU time. Before it did that it generated a 213Mbyte log file containing thousands of messages similar to:

`measureCoaddSources.measurement WARNING: Error in base_NaiveCentroid.measure on record 41566:
  File "src/NaiveCentroid.cc", line 99, in virtual void lsst::meas::b

[2016-03-05 17:10] tony-johnson commented on #166
Since I am re-running the job, the orginal log file is now moved to:

/nfs/slac/g/ki/ki06/lsst/pipeline/prod/logFiles/TwinklesDM/2.7/completeCoadd/200/archive/41340502/logFile.txt

[2016-03-05 19:43] wmwv opened #167 "Photometric and Astrometric Validation of PhoSim runs"
Compute and analyze overall astrometric and photometric repeatability of Twinkles PhoSim runs as part of Twinkles Run 1.

Tools will include `validate_drp`
https://github.com/lsst/validate_drp

and related tests, such as those @SimonKrughoff did in
https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/70#issuecomment-168073498

This Issues is not directly looking at lightcurves of know

[2016-03-05 20:16] wmwv commented on #167
Here are some figures of the astrometric and photometric repeatability as compared to the LSST Science Requirements Document.

u: PA1(IQR) = 82.61+-1.53 mmag
i: PA1(IQR) = 21.95+-1.57 mmag
z: PA1(IQR) = 16.69+-0.57 mmag
y: PA1(IQR) = 25.54+-1.21 mmag

![twinkles_run1_output_i_am1_d_5_arcmin_17 0-21 5](https://cloud.githubusercontent.com/assets/3201257/13550091/7301be60-e2e3-11e5-930a-c9f9ba25259d.

[2016-03-05 20:43] wmwv commented on #158
What's the status of providing output data from the DM processing?

[2016-03-05 21:42] tony-johnson commented on #158
The 10 visit data was posted a few days ago, see #137. A run of 985 visits is currently running:

http://srs.slac.stanford.edu/Pipeline-II/exp/SRS/task.jsp?task=41342594

and will hopefully be finished later today, but see issue #166 for some concerns. My NERSC account is not currently active (apparently I did not send them an updated user agreement) so I am not sure if I will be able to copy the

[2016-03-05 21:47] drphilmarshall commented on #167
Cooooooool! Nice work @wmwv :-) I'm going to need many of these panels
unpacking for me, I guess others might be in the same boat. Could I please
ask you to find a good place to put them in our Twinkles session slides
here?:

https://docs.google.com/presentation/d/1MdGGDrITW4-n04goJNYBAoVwnQBjRkibxuJY8EJZWXc/edit#slide=id.p

Real quick: how many visits went into these plots? Which dataset are you

[2016-03-06 01:01] drphilmarshall commented on #159
Perfect! This should be fun :-)

On Fri, Mar 4, 2016 at 11:47 PM, Seth Digel <notifications@github.com>
wrote:

[2016-03-06 06:24] #141 closed

[2016-03-06 06:50] sethdigel commented on #159
About 150 of the Run 1 visits are still running.  I did the math wrong last night regarding how much longer they can go before hitting the CPU time run limit, which is 7200 minutes.  The remaining jobs will not hit the CPU time limit until Monday morning.

Also, I am thinking that the analysis will need to fold in the type of batch host in the SLAC farm.  Some generations of batch hosts do a lot m

[2016-03-06 16:59] rbiswas commented on #137
Hi,
Kindly remove my email id from the list. It's not relevant to me. Seems
it's coming by mistake.

On Fri, Mar 4, 2016 at 2:50 AM, Seth Digel <notifications@github.com> wrote:

--

Thanks & Regards,
============X=============
Rajib Biswas.

Bangalore.

===========X===============

[2016-03-06 17:18] tony-johnson commented on #158
Unfortunately the 985 visit level 2 output has run into problems, the measureCoaddSources ran for 24 hours and then ran out of CPU limit. I will resubmit it, but unless I can find a way to speed it up (using multiple threads?) that means it will be at least another 24 hours and perhaps much longer before it will finish.

Meanwhile I do have the output from a 100 visit test run that I did yesterday

[2016-03-06 17:23] tony-johnson commented on #166
Running measureCoaddSources on the 985 visit sample is taking a very long time -- the first attempt ran out of batch CPU time after running for 24 hours (wall clock). Is there any way to speed this up, for instance running it multi-threaded?

[2016-03-06 23:15] drphilmarshall commented on #137
Apologies, Rajib - we have a team member whose GitHub username is
@rbiswas4, I guess we mis-spelled it at some point. Unfortunately I cannot
remove you from this issue thread, but you can  remove yourself by going to
the link below and clicking "unsubscribe". Apologies again!

https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/137#issuecomment-192933301

Others: we need to close thi

[2016-03-06 23:17] drphilmarshall commented on #158
Thanks Tony: 100 visits is close to a whole season, so that's good. (Did
you choose a sequential block of MJD's?) Interested to see what's causing
the long CPU times! Seems like a good bug to catch :-)

On Sun, Mar 6, 2016 at 9:18 AM, Tony Johnson <notifications@github.com>
wrote:

[2016-03-06 23:23] rbiswas4 commented on #137
I also changed the one comment, where my id was misspelt. I am hoping github will stop bugging him if it does not find his id on the thread?

[2016-03-06 23:37] drphilmarshall commented on #159
Nice! Host class CPU Factor looks like an excellent new feature to add to
the csv file, and we can decide on Friday whether to correct the CPU times
or just throw in the CPU factor as a feature.

On Sat, Mar 5, 2016 at 10:50 PM, Seth Digel <notifications@github.com>
wrote:

[2016-03-07 00:01] rbiswas4 commented on #145
I think a decent solution to this problem would be to write all of the spectra to a hd5 file in different tables.
This would result in
Pros
- As single spectrum file seen by the unix filesystem
- fast (if required parallel IO) on the entire set of spectra. I personally believe this will help the step of writing out instance catalogs in cases like Twinkles where we are writing out too many spectra.

[2016-03-07 06:20] brianv0 commented on #159
@sethdigel I think you'll want to double check this. SLAC discourages the use of CPU time (or named queues) and suggests users only use a wall clock time and, in fact, the `bsub` wrapper script SLAC maintains is actually supposed to divide a supplied CPU time by 5 and set then just set that as the wall clock time. That number was arrived at by assuming a job might run on a `fell` machine (CPU fact

[2016-03-07 06:43] sethdigel commented on #159
Thanks, Brian.  What we are looking at doing is studying the dependence of the actual CPU time for phosim runs (extracted from the pipeline log file for the runs) on some basic parameters in the phosim instance catalogs (like the altitude of the moon).  In a preliminary look at the Run 1 output, posted on issue #137, for runs with similar parameters (moon altitude, moon phase, filter), the CPU tim

[2016-03-07 16:19] SimonKrughoff commented on #166
@tony-johnson Can you give me the exact command line?  It should take no longer to run maesureCoaddSources on this run than on the sample run I did (to first order).  The warnings you are getting are expected.

[2016-03-07 16:21] wmwv commented on #167
These are from just 10 visits from the first sample run of data processing for Twinkles.  My goal today is to understand what has now been processed all the way through processCcd.py (I'm not thinking about coadd stuff yet).  I will update the slides in a few hours with wherever things stand.

These plots and results were generated by simply running:

[code]

Where you can install `validate_drp` t

[2016-03-07 16:26] wmwv commented on #158
@tony-johnson Can you kindly point me to the results from the 100-visit test?

[2016-03-07 16:33] tony-johnson commented on #158
@wmwv At SLAC the 100 visit run is in:

/nfs/farm/g/lsst/u1/users/tonyj/Twinkles/run1/100visits

the 965 visit run is almost finished and will hopefully be copied to a parallel location soon. I will then be copying them both to NERSC later this morning.

[2016-03-07 16:40] tony-johnson commented on #166
@SimonKrughoff The measureCoaddSource job did finish overnight, but it took 66528.33 seconds of CPU time. The exact command line is:

 measureCoaddSources.py /lustre/ki/pfs/fermi_scratch/Twinkles/2 --id 'filter=u^g^r^i^z^y' patch=0,0 tract=0 --doraise --clobber-config

 The log file (608MB) is in /nfs/slac/g/ki/ki06/lsst/pipeline/prod/logFiles/TwinklesDM/2.8/completeCoadd/300/logFile.txt

I have n

[2016-03-07 16:43] wmwv commented on #158
@tony-johnson Great.  Thank you.  Starting to look at these now.

[2016-03-07 16:51] jchiang87 commented on #158
Hey @tony-johnson,

Do you have runs that have the forced source output?  I've been reimplementing Simon's plot of stdev(mag)/med(mag) and I need the forced sources results for that.   I didn't see any `forced` folder in the work area last night.

[2016-03-07 16:57] tony-johnson commented on #158
@jchiang87 There should be forced sources in the 100 visit output I pointed to above:

/nfs/farm/g/lsst/u1/users/tonyj/Twinkles/run1/100visits

Tony

[2016-03-07 16:58] SimonKrughoff commented on #166
Wow.  That is really interesting.  I wonder if we are reaching the confusion limit so it is spending forever deblending.  I'll try to figure out my SLAC login again so I can try looking at the log.

@drphilmarshall @wmwv This may suggest that we want to coadd in batches in time and force photometer based on different coadds depending on when the images were taken.

[2016-03-07 23:42] tony-johnson commented on #158
The 985 visit processed data is now available at SLAC in:

/nfs/farm/g/lsst/u1/users/tonyj/Twinkles/run1/985visits/

In addition the 100 visit data has been copied to NERSC and is in:

/global/homes/t/tony_j/Twinkles/100visits

Once I find a location with more disk space (@djbard?) I will also copy the 985visit data to NERSC.

[2016-03-07 23:45] djbard commented on #158
Hi tony,
 you can use your $SCRATCH space - which has 20TB of space on Cori. This is
purged every 12 weeks, so keep an eye on that.
 FYI: we have a convenient script to make everything in a directory
accessible to your group (by default it is not, of course).

might be useful :)
 -Debbie

On Mon, Mar 7, 2016 at 3:42 PM, Tony Johnson <notifications@github.com>
wrote:

[2016-03-08 05:27] wmwv commented on #167
r-band results from 100-visit run:

![100visits_output_r_am1_d_5_arcmin_17 0-21 5](https://cloud.githubusercontent.com/assets/3201257/13592886/2597d852-e4ab-11e5-80e0-03f10f31e8dd.png)
![100visits_output_r_pa1](https://cloud.githubusercontent.com/assets/3201257/13592887/259ab8ba-e4ab-11e5-8955-81421aa51ebc.png)
![100visits_output_r_check_astrometry](https://cloud.githubusercontent.com/assets/32012

[2016-03-08 06:28] tony-johnson commented on #158
The 985 visit run data is now also copied to NERSC (cori) in:
/global/homes/t/tony_j/Twinkles/985visits
(actually a symlink to $SCRATCH).

@djbard -- the fix_perms was not entirely successful, it generated many messages of the form:

/bin/chgrp: changing group of `985visits/': Operation not permitted

although it also appeared to make all the files world readable.

[2016-03-08 06:32] tony-johnson commented on #163
For the record, using lustre did not work at all for the ingest jobs, since it appears that (at least as configured at SLAC) no file locking is available and thus the update of the sqlite registry did not work at all.

For the other DM jobs using lustre helped somewhat, although there were still quite a lot of failures when many jobs started at once, perhaps since the DM stack software is installe

[2016-03-08 06:34] tony-johnson commented on #112
This is done, and committed to github

[2016-03-08 06:34] #112 closed

[2016-03-08 06:35] #67 closed

[2016-03-08 07:38] SimonKrughoff commented on #167
Those don't look that great.   Maybe we can chat tomorrow about what might be going on.  Do these plots exclude galaxies by using the classification_extendedness value?

[2016-03-08 08:08] sethdigel commented on #159
About 40 phosim runs are still going.  Almost all are about to reach the run limit.  Three are runs that Tom restarted after they failed for some (probably transient) reason.  It looks like about 105 of the runs either have timed out, or will.  These represent 1.4 CPU years.  The runs that finished used 3.5 CPU years.

I've made a csv file with the metadata from the phosim runs, collected from the

[2016-03-08 14:49] drphilmarshall commented on #167
Yeah, lets make sure we leave plenty of time for these. I saw you put a
couple of figures in the slides at
https://docs.google.com/presentation/d/1MdGGDrITW4-n04goJNYBAoVwnQBjRkibxuJY8EJZWXc
, great if you can update them with the most problematic of the new plots!
Thanks Michael, this is great.

On Mon, Mar 7, 2016 at 11:38 PM, SimonKrughoff <notifications@github.com>
wrote:

[2016-03-08 14:57] drphilmarshall commented on #159
Nice! K nearest neighbors or Random Forest are going to clean up on the CPU
time prediction, I think. Can you post this plot and two bullets of text to
the Twinkles slides at
https://docs.google.com/presentation/d/1MdGGDrITW4-n04goJNYBAoVwnQBjRkibxuJY8EJZWXc
please? Good to chat about this in our session.

I'd say, just put the data file in your `public_html` for now, and post the
URL to this thre

[2016-03-08 17:25] djbard commented on #158
OK, I can't actually see into that directory so evidently something didn't
work for fix_perms. It looks like you're not actually a member of group
"lsst", although you are a member of "m1727", which is the name of the DESC
repo. It looks like these are two different unix groups associated with our
repo at NERSC - lsst and m1727 (I note that I am not a member of m1727).
This is confusing (and point

[2016-03-08 18:17] djbard commented on #158
ah - I think I see the/another problem Tony. Your scratch directory does
not have group access permissions set, so I can't see inside it (even
though the interior directories have read permissions).

On Tue, Mar 8, 2016 at 9:25 AM, Deborah Bard <djbard@lbl.gov> wrote:

[2016-03-08 18:28] tony-johnson commented on #158
I think I have now set world rx permissions on my scratch folder and the Twinkles folder inside

[2016-03-08 18:30] djbard commented on #158
great - I can see all your files and I expect others can too.

On Tue, Mar 8, 2016 at 10:28 AM, Tony Johnson <notifications@github.com>
wrote:

[2016-03-08 23:29] sethdigel commented on #159
The metadata for the Run 1 phosim runs are in [this file](http://www.slac.stanford.edu/~digel/lsst/run1_metadata.csv).

Run 1 has 1227 observations of a Deep Drilling Field at RA, Dec = 53.0091, -27.4389 deg (J2000).  As of this writing 4 of the simulation runs are incomplete; they are flagged as described in the table below.  In each case, these runs crashed for some (probably) transient reason a

[2016-03-09 00:34] drphilmarshall commented on #159
Excellent! We are all set.

On Tue, Mar 8, 2016 at 3:29 PM, Seth Digel <notifications@github.com> wrote:

[2016-03-09 00:39] jbkalmbach commented on #155
I started to look at the images on the data catalog online but wasn't getting what I expected when I tried to make postage stamps. So, I looked at the centroid files and noticed that the ids for the sprinkled AGN from the instance catalogs are not in the 'SourceID' column in the centroid files. There are some 'SourceID' values that look similar but do not match the instance catalog. Does anybody h

[2016-03-09 01:02] drphilmarshall commented on #155
Hmmm. This does not sound good! Are the supernovae IDs in the centroid
files?

On Tue, Mar 8, 2016 at 4:39 PM, Bryce Kalmbach <notifications@github.com>
wrote:

[2016-03-09 07:40] jbkalmbach commented on #155
Rahul and I took a look at this and it seems that it might be caused by a precision error when phosim converts all ids to a float. We looked at a small example phosim output and found that the id of an object was off by a small integer number of values in the centroid file from the phosim catalog.

[2016-03-09 09:32] jbkalmbach commented on #155
However I was able to use @jchiang87 to get a postage stamp image of where a lens system is located. Here it is! Obviously not ideal, but definitely gives us something to talk about in the morning.
![stamp_0](https://cloud.githubusercontent.com/assets/4755090/13630905/a27d15b2-e596-11e5-8bd9-3d5ca98bb6fd.png)

[2016-03-09 09:44] jbkalmbach commented on #155
However, one comment about the postage stamps I want to make is that it should at least be centered on the bright part of the image since I gave it the catalog values for the lens galaxy, but it seems to be off. Is there a reason why the coordinates from the catalog and from the image might be slightly different?

[2016-03-09 09:46] jbkalmbach opened #168 "Centroid file SourceID numbers for lensed AGN differ from Phosim Input Catalog id numbers"
Quoting from #155:

Is this in fact the problem? And if so, what can we do about it?

[2016-03-09 10:09] jbkalmbach commented on #155
Here's another fun one:
![stamp_1](https://cloud.githubusercontent.com/assets/4755090/13631903/e8dede00-e59b-11e5-9b32-a859240dcf41.png)

[2016-03-09 14:20] drphilmarshall commented on #168
[ShakesFistAtHeavens]

On Wed, Mar 9, 2016 at 1:46 AM, Bryce Kalmbach <notifications@github.com>
wrote:

[2016-03-09 14:26] drphilmarshall commented on #155
I SEE AGN TWICE! :-) :-) :-) See how much more fun this project is with
lensed quasars than without? I was putting a brave face on it yesterday
evening. Well done for tracking them down, Bryce.

There should be some fainter systems where the lens galaxy is bright and
visible (maximal OM10 velocity dispersion at z > 0.2) compared to the faint
AGN images (high OM10 image magnitudes)  - I'd go after

[2016-03-09 14:48] SimonKrughoff commented on #155
@jbkalmbach If you are just using the WCS that comes from phosim, I don't think it's good to more than a few tens of pixels.  We didn't turn of tracking errors, so there is some wobble in the boresite.  That may be what you are seeing.  It should get much better after running through the DM pipelines.

[2016-03-09 15:21] cwwalter commented on #168
:+1: (See Phil, it is possible) :)

[2016-03-09 17:48] SimonKrughoff commented on #167
@wmwv and I talked about this a little bit.  I was wrong that they don't show what I expect.  These are more clear than the repeatability figures I've been producing, but the two are consistent.
![image](https://cloud.githubusercontent.com/assets/945715/13644684/f9dd291a-e5db-11e5-9a3b-6449849e99ed.png)

Mostly it was a misinterpretation of the 1.2% floor.  My floor of 10 mmag is similar to that s

[2016-03-09 18:12] jchiang87 opened #169 "Connect Twinkles to Travis CI using Mario's conda install script for lsst-sims"
Mario describes this work over at [community.lsst.org](https://community.lsst.org/t/how-to-use-the-stack-with-travisci/587) and in his [github repo](https://github.com/mjuric/lsst-travis-demo).

We should also rewrite `python/desc/twinkles/__init__.py` so that it doesn't import everything by default to save some time for client code that doesn't need the catsim tools.

[2016-03-09 18:41] danielsf commented on #155
@jbkalmbach Also worth noting that the InstanceCatalog RA and Dec are unrefracted.  PhoSim applies atmospheric refraction, which will be another shift in object positions.

[2016-03-09 19:07] jbkalmbach commented on #155
Ok, as these were single epoch images I will check for consistency in the coadds. @danielsf does that get taken care of in dm processing?

[2016-03-10 01:11] mjuric commented on #169
@jchiang87 et al: I'd be happy to consult & help!

[2016-03-10 01:59] jchiang87 commented on #169
@mjuric Thanks for putting the travis-ci demo and conda distribution together! I think they will be a big help in getting the DESC repos working with travis-ci.

I was able to get things working over in my fork (where I have admin privileges to hook up to travis-ci) and issued the PR (#170).  I  did need to install `pandas` (and `nose`) on top of the conda python, but other than that, everything e

[2016-03-10 08:47] drphilmarshall opened #171 "Summary slide for final plenary"
Check out the [Twinkles Task Force summary slide](https://docs.google.com/presentation/d/1OKSjgUBp2EGUEPpWtR9TIM4gOO14NYynXCaUWbBkhJM/edit#slide=id.g11daa3a557_31_0) I made for Thursday's final plenary session! Comments/corrections welcome.

[2016-03-10 14:55] drphilmarshall commented on #154
Bryce, Tom, Simon: thanks for your slides! The SL session notes are [here](https://docs.google.com/document/d/1xdQyQg3Mpkl4n7N1CEL8aEnixs1N0u4a0wQEmCjnRb4/edit#), hope to see many of you in Almanor at 0900 PST or BlueJeans :-)

[2016-03-11 00:19] SimonKrughoff opened #172 "Upgrade stack on the cluster"
We appear to be using a reasonably old stack (mid Jan).  I noticed that one of the defaults was wrong and has been fixed on a more recent version of the stack.  Not super high priority, but I think we will want to run Run 1 again and it would be good to do it on a more modern stack.

[2016-03-11 00:32] wmwv commented on #172
Rerun the DM stack processing of Run 1.

Not a request to re-run the PhoSim generation of the images.

[2016-03-11 00:38] jchiang87 commented on #172
I installed  a new version here:
[code]
but I had some problems building against the needed branch of `obs_lsstSim`, and also couldn't get the multiwaveband version of the cookbook to run using it.   @SimonKrughoff  Can you try whatever tests you may have on it please?

[2016-03-11 00:39] SimonKrughoff commented on #172
We may also want to rerun the phosim generation depending on how many lens systems ended up making it into the images.  I get the impression most were tossed out because of the id problem.

[2016-03-11 00:39] SimonKrughoff commented on #172
@jchiang87 Thanks.  I'll have a look.

[2016-03-11 01:21] sethdigel commented on #159
Phil's machine learning example notebook runs for me.  This is sort of a Hello World plot showing some of the metadata for Run 1.  So, yes, I think it will work.
![run1_everything](https://cloud.githubusercontent.com/assets/6035835/13690344/5ca48666-e6e4-11e5-9312-aad863a5de5d.png)

[2016-03-11 03:06] jchiang87 commented on #172
To run on a rhel6-64 machine at slac, run the script
[code]
This will create a bash shell with devtoolset-3 with obs_lsstSim set up.

[2016-03-11 07:18] SimonKrughoff commented on #172
I just updated the ticket branch to bring it in line with DM-4692.

I also removed the offending test that was failing because it was testing deprecated functionality.  All tests should pass and processEimage should run.  I have not tested further.  It will require a reclone since I had to rebase and force push.

[2016-03-11 14:52] drphilmarshall commented on #159
Oh cool! :-) This is *great*, Seth. Let's spend some time this morning
staring at the full plot, to get some feel for what is going on. This is of
course not part of the traditional machine learning development flow but
sod it, we're physicists. Then I think we can just step through the
notebook, editing both the markdown and the python to train the KNN model
and make some predictions :-)

On Thu,

[2016-03-11 15:47] rbiswas4 commented on #159
Incidentally, whatever methods are being used here can also be used to study correlations of five sigma depths with other columns in OpSim. Obviously these are simulated, but it might be a fun project to do exactly the same thing with the OpSim outputs with the interesting variables being fivesigmadepth, or Seeing. At least that exercise would give me some insight into stuff that obsververs have a

[2016-03-11 15:53] drphilmarshall commented on #159
Good idea.

Seth I would bet something expensive (your bike?) that Random Forest is
going to work better than KNN in this problem, especially of we dont split
the data by filter (and we don't have time for such sensible things today).
But still, let's get KNN working first and then unplug it and replace it.

On Friday, March 11, 2016, rbiswas4 <notifications@github.com> wrote:

[2016-03-11 17:16] jchiang87 commented on #172
Thanks @SimonKrughoff .   I've cloned the new version of `obs_lsstSim` and rebuilt.  The tests all worked (yay.) so this stack install should be ready for further testing.

[2016-03-11 18:06] SimonKrughoff commented on #94
Working on this today.

The idea is to turn on saturation detection and masking to prevent things like this:
![image](https://cloud.githubusercontent.com/assets/945715/13710941/d6cd342e-e770-11e5-876c-39ffdc89363e.png)

The bleed trails rotate with the camera and form the splats on the coadds.

[2016-03-11 18:09] SimonKrughoff opened #175 "Astrometric solutions in Run 1 data"
The coadds using the thousand run data show serious problems with the astrometric solutions.  None of the three bands agree with each other...
![image](https://cloud.githubusercontent.com/assets/945715/13711005/2c4ae4d2-e771-11e5-8473-b5d47ae4c48d.png)

We need to figure this out.  @brianv0 and @tony-johnson are working on a way to scape the logs so we can correlate log output with other parameter

[2016-03-11 18:13] tony-johnson commented on #162
@TallJimbo Simon asked me to bring this issue to your attention.

[2016-03-11 18:14] tony-johnson commented on #161
@TallJimbo Simon asked me to bring this issue to your attention.

[2016-03-11 18:36] SimonKrughoff opened #176 "No permission to filesystem inside screen on SLAC machines"
For others who may run into this..

I logged in to a machine at SLAC (ki-rh25.slac.stanford.edu).  At the normal prompt, I had access to the filesystem, but once I was inside screen I no longer did.
[code]
Talking with @jchiang87 and @tony-johnson they suggested I may have lost my token.
[code]
Yup.  The fix is to run kinit
[code]
Boom!

[2016-03-11 18:37] #176 closed

[2016-03-11 20:11] brianv0 commented on #175
See logscraper and scraped CSV output here:

https://gist.github.com/brianv0/51e2db5a3f70767b8367

[2016-03-11 20:17] SimonKrughoff commented on #175
@sethdigel we've scraped some metadata from the logs.  It would be really interesting to associate this with the input metadata.

[2016-03-11 20:41] tony-johnson commented on #172
I used Jim's updated DMstack install to re-run the 10 visits which failed in processEimage, but they all failed still. The output can be found here:

http://srs.slac.stanford.edu/Pipeline-II/exp/SRS/process.jsp?status=FAILED&pstream=41348677&process=41342608

[2016-03-11 22:39] tony-johnson commented on #175
I combined @sethdigel file and @brianv0 file and posted the result here:

https://gist.github.com/tony-johnson/66345752cf7ec0cc3ffa

[2016-03-11 23:19] jbkalmbach opened #179 "Doodle Poll for Twinkles Retreat"

[2016-03-12 01:43] SimonKrughoff commented on #179
This will be closed when @jbkalmbach manages to publish the link.

[2016-03-12 01:52] SimonKrughoff opened #180 "diffim history"
The configuration needs to be correct in order to difference two calexps.

The changes (I think) are to switch to using the getCalexpAsTemplate task (or whatever it's called).  I also used the `kernelSourcesFromRef=True` config option.

Attached is a dump of my history of the session I was in.
[history_slac.txt](https://github.com/DarkEnergyScienceCollaboration/Twinkles/files/170213/history_slac.t

[2016-03-14 17:32] SimonKrughoff opened #181 "Retreat location"
I've taken an action to help organize the location of a Twinkles retreat.  Since I know it better, I thought about Seattle first.  Options here are:
1. [Friday Harbor](http://depts.washington.edu/fhl/) -- **Pros:** Secluded, picturesque **Cons:** expensive?, hard to book, somewhat hard to get to.
2. [Talaris](http://www.talarisconferencecenter.com/) -- **Pros:** Easy to get to, close to campus **C

[2016-03-14 22:10] jbkalmbach commented on #179
@DarkEnergyScienceCollaboration/twinkles here is a link to a poll with possible weeks for a twinkles retreat. Please respond with your availability.

[2016-03-15 17:18] drphilmarshall commented on #181
Thanks Simon, these are good to options to have in mind. By the end of
Friday lunchtime I think we were leaning towards doing something down here,
though - just because the SLAC LSST Science budget is stretched pretty
thinly. For me, the big question is whether we could make a week's retreat
residential for all, or if we instead need to make it within driving
distance of the SLAC team's homes. Wit

[2016-03-15 17:45] dodelson opened #182 "Testing the Twinkles framework - new users, project approachability etc"
Hi, at the SLAC meeting, @drphilmarshall @connolly @richardxdubois  talked about testing the twinkles framework everyone. Jason Poh, a student at Chicago, is interested in doing this. Can someone suggest a test he should try?
Thanks

[2016-03-15 21:47] drphilmarshall commented on #179
Many of us here are at SLAC are at the Fermi Collaboration meeting this
week, so response may be a little slow! You might ping this thread again in
a week's time, Bryce. Thanks!

On Mon, Mar 14, 2016 at 3:10 PM, Bryce Kalmbach <notifications@github.com>
wrote:

[2016-03-16 00:02] drphilmarshall commented on #175
So: our registration is not good. It looks like the visit images in the
different filters are being registered separately, to a set of 6 coadd
images that each look sharp, but that don't match each other. Is this a bug
or a feature, @SimonKrughoff?

On Fri, Mar 11, 2016 at 2:39 PM, Tony Johnson <notifications@github.com>
wrote:

[2016-03-16 00:18] drphilmarshall commented on #159
@sethdigel @humnaawan and @tmcclintock: nice work on Friday! Reproducing your main result here:

![](https://cloud.githubusercontent.com/assets/12702187/13719121/121d4688-e7a6-11e5-9233-eaefc9cc3718.png)

From this plot it looks to me as though you are able to predict CPU time to about +/- 0.2 dex (95% confidence, very roughly), no matter what the absolute CPU time is (although it would be good to

[2016-03-16 00:34] SimonKrughoff commented on #175
Definitely a bug.  I'm actually baffled how it's possible since we only have one reference catalog and it is essentially perfect.

I'd like to find the time to plot the reference catalogs on each of the coadds to see who is right and who is wrong.  Maybe they are all wrong in different ways.  It's very strange that the scatter reported by the astrometric solver is ~100mas.  That's half a pixel whi

[2016-03-16 00:49] rbiswas4 commented on #175
@SimonKrughoff I would really like to help on this ... it would be great to discuss and put down a list of tests you think we should be doing.

[2016-03-16 05:01] sethdigel commented on #175
Probably it is not relevant, but I see that in the combined csv file by @tony-johnson the visit designators agree between his log files and the log files of the phosim runs (the relevant columns are 'visit' and 'obshistid') but the filter designators are completely different.  For the phosim runs the filter designator is 0-5 for ugrizy.  For example, for the first entry, Tony's log file indicates

[2016-03-16 05:28] rbiswas4 commented on #175
@sethdigel Can you please point to that combined csv file either on the data catalog or nersc? Even if this is not the cause of the problem, it would be something that we should fix. I looked at the OpSim file and the phosim input file (phosim instance catalogs) for a couple of obsHistIDs and found those to be consistent.

[2016-03-16 05:57] tony-johnson commented on #175
Well spotted, this does seem to be symptomatic of some sort of confusion, although I am not sure how much it can explain. The first filter column indicates which filter was used during the DM processing part of the workflow. This was obtained from the output file names generated by phosim, for example:

lsst_e_200_f2_R22_S11_E000.fits.gz (f=2=r)
lsst_e_220_f1_R22_S11_E000.fits.gz (f=1=g)
...
I che

[2016-03-16 06:18] rbiswas4 commented on #175
Thanks! I just looked into this and there are a few more inconsistencies:
Let us take the line corresponding to obsHistID of 220:

The expMJD value does not match that of the 220 pointing :
220 : 59580.135 , according to the csv : 61365.152
The closest obsHistID to have this expMJD is
1212062    which has expMJD = 61365.152869
and is a y band observation with different values of variables like rot

[2016-03-16 07:59] sethdigel commented on #175
I made my file by parsing the log files from the Run 1 phosim runs and the input instance catalogs for those runs.  In combining the metadata for each run, I made an indexing error in writing the obshistid (Opsim visit number) to the output file.  I made a separate indexing error for rotskypos.  I should have caught the error in the former - it made the obshistid column non-monotonically increasin

[2016-03-16 15:24] tony-johnson commented on #175
Updated combined.csv file is here:

https://gist.github.com/tony-johnson/66345752cf7ec0cc3ffa

[2016-03-16 17:38] SimonKrughoff commented on #175
O.K.  These aren't very specific, but I think we should try to pin it down to input catalogs, simulation, or astrometric registration.  I suspect it is the latter, but maybe I'm fooling myself.

[2016-03-16 18:17] rbiswas4 commented on #175
Hi, I just looked at the new file and I notice a few things different still:

I just looked at the values corresponding to obsHistID 220:
[code]
According to the csv file it is 59580.137 which is just ~ 100 ish seconds off. I checked the phosim instance and the values match opsim there. Would this induce a 'tracking like' error  if phosim thinks the time is slightly different?

Note : There are di

[2016-03-16 18:47] sethdigel commented on #175
I'm afraid that the difference is due to my treating expmjd as a floating point quantity rather than double precision.  In the instance catalog for this run Opsim_expmjd is defined as 59580.1354, which I see got rounded to 59580.137 in my csv file.  (I did not have astrometry in mind when I made the file.)  I can re-run it with double precision, but from the instance catalog the precision would se

[2016-03-16 19:39] sethdigel commented on #175
In case it is useful, I went back through the instance catalogs and run logs, this time treating all the phosim parameters from the instance catalogs as double precision and being sure to keep all of the precision in the various quantities.  I've made a new version of the csv file showing all of the quantities to full, including an extra decimal place (which is always zero) to show that the precis

[2016-03-16 20:15] rbiswas4 commented on #175
OK this fixes the problem we were discussing!

[2016-03-16 20:28] TomGlanzman commented on #159
I hope @drphilmarshall 's quoted range of 5000 to 15000 CPU hours ... is really seconds.  Or were you looking at integrated CPU hours for Twinkles-phoSim?

In terms of job scheduling, it will certainly be extremely useful to know the (approximate) CPU time ranges.  However, unless and until we get some form of checkpointing running, one would also need the facility within the Pipeline to customize

[2016-03-16 20:29] TomGlanzman commented on #137
This issue is complete (as of 3/13/2016).  Final numbers: 1227 phoSim runs attempted, 1124 completed successfully and 103 ran out of time.

[2016-03-16 20:29] #137 closed

[2016-03-16 20:31] cwwalter commented on #159
I haven't had time to actually play with this yet but at NERSC they have:

http://slurm.schedmd.com/checkpoint_blcr.html

As far as I can tell this is done at a system/kernel level so you don't have to change the actual code.

[2016-03-16 20:34] TomGlanzman commented on #159
I tried exercising checkpointing a couple of years ago at NERSC but wound up frustrated because carver did not support this feature.  Now, with both a new architecture (cori) and batch system (slurm) it is probably worth trying again...

[2016-03-16 20:40] tony-johnson commented on #159
@TomGlanzman, this feature has been built into the workflow engine since day one, as is used extensively in the EXO data processing. There should be no problem using this with your phosim task.

[2016-03-16 20:50] cwwalter commented on #159
@tony-johnson are you referring to BLCR?  Do you have any simple examples of how to use it in a slurm file?

[2016-03-16 21:33] tony-johnson commented on #159
@cwwalter no sorry, I was referring to Tom Glanzman's post above yours concerning using the CPU time estimate to set the time required for a batch job. (GitHub needs to add threaded conversations).

The blcr does look quite interesting, I read the FAQs linked from the page you referenced above and it certainly seems as if it might be usable.

[2016-03-17 00:48] drphilmarshall opened #183 "Weekly Twinkles Task Force BlueJeans Meeting"
Hi @DarkEnergyScienceCollaboration/twinkles

Hope you are enjoying the relative calm after the DESC meeting/Run 1 storm! :-) How about we meet up next week, to make a post Run 1 plan and get moving again? I think we should then meet up regularly as a Task Force: we were kind of doing that anyway, under the guise of a "reading group" #54 or to "talk about the workflow," so it should be easy to find

[2016-03-17 16:01] SimonKrughoff commented on #183
I'm filling this out as if the times are Pacific.

Please correct me if I'm wrong.

[2016-03-17 16:43] #158 closed

[2016-03-17 16:45] tony-johnson commented on #136
This was done for the collaboration meeting. We should create new issues for any future processing.

[2016-03-17 16:45] #136 closed

[2016-03-17 16:48] tony-johnson commented on #135
We did not make the DM level 2 products available via the data catalog at present, because it is not obvious how to marry the butler and data catalog. This is an issue which we will follow up with the DM team at SLAC.

[2016-03-17 16:48] #135 closed

[2016-03-17 20:39] drphilmarshall commented on #183
You're not wrong! I clicked "enable time zone support" so you should see
Pacific times.

On Thu, Mar 17, 2016 at 9:01 AM, SimonKrughoff <notifications@github.com>
wrote:

[2016-03-17 20:43] drphilmarshall commented on #135
Sounds good. Thanks!

On Thu, Mar 17, 2016 at 9:48 AM, Tony Johnson <notifications@github.com>
wrote:

[2016-03-17 23:41] SimonKrughoff commented on #175
@tony-johnson where did the new coadds end up on SLAC machines?  I want to try making new coadds with the saturation fix in.

[2016-03-17 23:55] tony-johnson commented on #175
HI, the output of the jobs we ran last friday are on bullet0002, in:

/lustre/ki/pfs/fermi_scratch/Twinkles/2

however looking at the jobs only two of the coadd jobs actually finished successfully (r and z), the others ran out of time and were killed by the batch system. If you want me to try re-running them, with more CPU time and/or fixed code let me know.

[2016-03-18 01:14] SimonKrughoff commented on #175
I see.  Can we rerun them with more time?  I don't think I made any changes that should change run time.

[2016-03-19 00:35] #172 closed

[2016-03-21 15:46] tony-johnson commented on #175
Hi Simon, 5 out of 6 of the coadd jobs have now run, (the g filter did not run due to a division by zero error in one of the processEimage jobs). The coadd jobs took a surprisingly long time to run

Filter|CPU|Wallclock
------|------|--------
u|6978.17|6.5 hours
g|-|-
r|2869.88|1 hour
i|3554.16|15.5 hours
z|3875.95|1 hour
y|4566.01|19 hours

Jobs are here:

http://srs.slac.stanford.edu/Pipeline-II

[2016-03-21 15:52] drphilmarshall commented on #183
Alright, 2pm or 3pm on Tuesdays are almost unanimously popular, but we could do with hearing from @wmwv before we decide. Michael, which of those times do you prefer? Or do you want to just fill in the doodle poll at http://doodle.com/poll/ugyxusavuteav8uu and I'll pick? Thanks!

[2016-03-21 17:23] sethdigel commented on #175
The CPU time per co-added image ranged from 22.3 s for the y band to 27.7 s for the u band.  I have no idea whether that is a surprisingly long time.

For possible future reference, it does look like the coaddition jobs did not use all of the available Run 1 images; from a quick look my impression is that the lists of visit numbers were made before all of the phosim jobs had finished.  The table b

[2016-03-21 17:47] wmwv commented on #183
Back from vacation last week.  Poll completed.

I am not available after 4pm Eastern.

[2016-03-21 20:34] tony-johnson commented on #175
Hi Seth, I only reran the jobs in my original 985 visit run, which included phosim jobs which were finished at the time I started, and did not crash in processEimage (when I started, although there is one additional crash since we upgraded the DM installation).

[2016-03-21 23:40] drphilmarshall commented on #183
Thanks Michael! OK, everyone: 12 noon PST on Thursdays is doable by everyone at a pinch. How about we start this week, and see how we go? If you are struggling to make it at this time, we can revisit our poll.

This Thursday I guess we begin the work of preparing for the Twinkles 1 data generation and processing. In other words, we'll need to spend talking about our issues. [A doc for live notes i

[2016-03-23 00:45] jchiang87 commented on #169
Hey Phil!  Please hook us up to Travis CI.   You can close this once we get a travis passing badge on the readme! ;-)

[2016-03-23 01:13] #169 closed

[2016-03-23 01:18] drphilmarshall commented on #169
Done! [Check it out.](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/README.md#latest-news)

[2016-03-23 16:12] tony-johnson opened #185 "Linking github issues?"
This is a random question rather than an "issue", but I am not sure where else to ask this question: Is there any way to put links between github issues? For example for Twinkles I would like to create a "Reprocess all phosim runs" issue, and then link each issue which needs to be fixed before this can be done. This is something I do all of the time with JIRA and so far really miss with GitHub iss

[2016-03-23 16:45] cwwalter commented on #185
Just start to type a "#" and then number or text to bring it up.  Then select and it will put a link in for you.  Or maybe you are asking something more complicated, like actually putting in dependencies?

[2016-03-23 16:48] brianv0 commented on #185
You can also cross-repo, but it doesn't have autocomplete: DarkEnergyScienceCollaboration/ComputingInfrastructure#13

[2016-03-23 16:58] tony-johnson commented on #185
Right I know I can put links in comments, but I want more than that. In JIRA I can actually create link types, like "Is Required By", "Is Related To", "Must be fixed before" etc. Then for any issue I can see what needs to be done before that issue can be completed (and then those issues may in turn have their own requirements). Links within comments does not seem an adequate substitute for this fu

[2016-03-23 17:06] cwwalter commented on #185
Right... this kind of dependency doesn't exist.

@connolly got us access to a JIRA type story board overlay (https://www.zenhub.io).  I'm not sure if it also gives that kind of extension.

[2016-03-23 17:39] drphilmarshall commented on #185
As far as I know, ZenHub does not enable linking of issues in this way. The closest thing that could be useful for us is their ["Burndown Charts"](https://www.zenhub.io/burndownChart) - but its still all just labelled issues.

One thing we could try is making some issues be "epics":  "Reprocess all phosim runs" would be a good example. In an epic, the first issue comment is special: if you make a

[2016-03-23 21:49] tony-johnson commented on #185
Trying this sounds fine. To clarify, I do not need to do anything special to create an "epic", except create an issue, optionally label it as epic, and add a set of check boxes in the first comment (like this: https://github.com/DarkEnergyScienceCollaboration/ComputingInfrastructure/issues/14 I assume).

[2016-03-23 22:37] drphilmarshall commented on #185
That's right - although notice that in that example Andy and I are not
using the issue as an epic, really, because we are not editing the first
comment. In the main list at
https://github.com/DarkEnergyScienceCollaboration/ComputingInfrastructure/issues
you can see that issue 14 is listed as having "0 of 3" tasks done. Here's a
real epic, that I just made for you:

https://github.com/DarkEnergySci

[2016-03-23 23:02] connolly commented on #185
You can also take a look at  a look at https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/41 (I just reopened it for you) which was used as an epic (you might be able to see it in zenhub - I havent checked)

[2016-03-24 00:20] drphilmarshall commented on #41
@connolly you are right to re-open this: DIASources or bust! :-)

[2016-03-24 00:21] drphilmarshall commented on #185
Yes, that was a good one. Although I see that I closed it before the
checklist was complete! Tut tut.

On Wed, Mar 23, 2016 at 4:02 PM, Andrew Connolly <notifications@github.com>
wrote:

[2016-03-24 15:46] jchiang87 commented on #159
This seems to have been addressed by the hack day project at #177 and #178.  I'll open a new issue for Phil's proposed `PhoSimPredictor` class.

[2016-03-24 15:46] #159 closed

[2016-03-24 15:50] jchiang87 opened #186 "Implement PhoSimPredictor class using ML results from #159"
At #159, Phil says:

### Status

@sethdigel is investigating the long CPU time jobs in Run 1, by re-doing (with @TomGlanzman) them at 1-second exposure time ("Run 1sx").

### Summary of Results

The Run 1 and Run 1sx CPU times are only approximately linearly related, meaning that our ability to predict the longest CPU times is very uncertain. See this [Confluence page](https://confluence.slac.stan

[2016-03-24 15:52] tony-johnson opened #187 "Epic: Run 1.1: Re-run DM workflow on Run 1 images"
The pre-requisites are to fix:
- [x] Division by zero problem #161
- [x] "Number of columns of design matrix (6) must be smaller than number of data points (0)" #162
- [x] Stale file handle when running at scale at SLAC #163
- [x] Cross-filter astrometric registration #175
- [x] ISR to cope with saturated stars #94

When all these are done:
- [x] Re-run DM workflow #206

[2016-03-24 16:01] drphilmarshall commented on #185
Nice epic at #187, @tony-johnson ! I labelled it attractively for you :-) Feel free to close this if you like.

[2016-03-24 16:03] drphilmarshall commented on #186
Yeah! Did you make this because you have started work on it, @jchiang87 - or were you thinking @sethdigel might like to take it on? Either way @TomGlanzman should advise with how to slot it into his PhoSim workflow.

[2016-03-24 16:11] jchiang87 commented on #186
Actually, my motivation was to close my issue! ;-)   I am interested on working on this, after sorting out  the mysql db work.  If it looks like we are planning to do more phosim runs soon, I can bump this up in my stack, but if Seth wants to run with it, that's ok with me.

[2016-03-24 16:13] #185 closed

[2016-03-24 16:14] tony-johnson commented on #163
Stuart Marshall has set us up with some GPFS space at SLAC, which we will try using for the next DM workflow run.

[2016-03-24 16:29] danielsf opened #188 "setup script is too lsstsw specific"
The setup.sh script only works for users who are using lsstsw (as opposed to eups distrib install or conda) to install their copy of the stack.  Specifically, I am referring to this line
[code]
EUPS_PATH will be declared by loadLSST.bash for users who are using eups distrib install.

$LSSTSW/stack will not exist for users who are not using lsstsw.

I wonder if the setup script should just declare

[2016-03-24 16:34] sethdigel commented on #186
Yes, I'd like to work on this.  I actually was not overwhelmed with the 0.2 dex precision that the predictor was able to achieve for estimating CPU times and I wanted to look at ways to potentially improve it.

The two possibilities that came to mind are scaling the CPU times by the SLAC CPU factors rather than letting the algorithm effectively discover the factors by using the batch host type as

[2016-03-24 16:39] jchiang87 commented on #188
Yep, I agree.    The setup.sh and setup.csh scripts were from before we sorted out my understanding of eups usage during the DESC meeting.   I'm thinking now that we should just have instructions on how to declare Twinkles to eups and forgo any setup script that does it in a particular way.

[2016-03-24 16:41] danielsf commented on #188
I agree that documentation is probably the way to go on this.

[2016-03-24 16:41] jchiang87 commented on #186
Could I ask you to post any new details here instead?  There's a lot of unrelated cruft in that issue that I'd like to avoid wading through.

[2016-03-24 16:42] TomGlanzman commented on #186
@sethdigel note that the physics override file used in Run 1 had this line pertaining to sky brightness:

# Set the nominal dark sky brightness
zenith_v 21.8

[2016-03-24 16:54] awborgland commented on #186
About this @sethdigel : "The two possibilities that came to mind are scaling the CPU times by the SLAC CPU factors rather than letting the algorithm effectively discover the factors by using the batch host type as one of the 'features'. "
It's worth doing, but I would think that you get worse results. The reason is that the CPU factor is (well, at least used to be) derived from some running some s

[2016-03-24 18:34] drphilmarshall commented on #183
Hi all! Looking forward to meeting up in half an hour. We'll use [the usual SN group Blue Jeans room, 513427879](https://bluejeans.com/513427879). Our agenda is [here](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit), in our [live notes file](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit) - please do take a look and add an

[2016-03-24 18:39] drphilmarshall commented on #182
We'll discuss this at our meeting today - we need to work on our approachability a bit I think, and Jason can certainly help with that (as long as his expectations are set accordingly :-) ). We do have a test running at Travis now, so *in principle* humans shoudl be able to get up and running too. However, there is an ongoing discussion about  `eups` stuff in #189 that we should perhaps see throug

[2016-03-24 18:53] #171 closed

[2016-03-24 18:53] #154 closed

[2016-03-24 18:54] #150 closed

[2016-03-24 18:55] sethdigel commented on #186
Thanks, @TomGlanzman.  From the phosim reference guide, my impression is that the zenith_v parameter specifies the V-band brightness of the sky at the zenith.  This is certainly related to the phase and location of the moon, which are also independently specifiable inputs to phosim, and we clearly see a strong dependence of the CPU time on moon altitude.  So I cannot say that I know what effect ze

[2016-03-24 19:24] TomGlanzman commented on #151
This works fine and was used to transfer ~80 GB of instanceCatalogs/SEDs from NERSC to SLAC for Twinkles Run 1.

[2016-03-24 19:24] #151 closed

[2016-03-24 19:27] wmwv opened #190 "Twinkles DESC request to Project"
The Twinkles TaskForce would like to request the following things from LSST Project.  This request cover, and often span, both DM + SIMS.

1. SIMS master should build against DM master
2. Weekly builds should be tagged for both SIMS and DM.
3. Weekly Conda binaries based on those tags should be distributed for both SIMS and DM.
4. Breakage of SIMS against last week's DM tag or breakage of DM again

[2016-03-24 19:28] wmwv commented on #190
@drphilmarshall @rbiswas4 @danielsf @jchiang87 @jbkalmbach

Please add additional items to help put together our request.  @drphilmarshall and @wmwv will edit and summarize the list and submit through DESC Leadership.

[2016-03-24 19:33] TomGlanzman commented on #144
A slot in the Twinkles-phoSimII pipeline has been created but at the moment does nothing.  Given the reliability of phoSim (no crashes in Run 1!), this is not at the top of my priority list.  But I think it is worth keeping the issue alive.

[2016-03-24 19:35] TomGlanzman commented on #145
The scheme described in my post above worked well for Run 1.  Unless others with to continue discussion or offer alternatives, will close this issue.

[2016-03-24 19:35] #145 closed

[2016-03-24 19:38] cwwalter commented on #151
What is the relevant SLAC globes endpoint for future reference?

[2016-03-24 19:40] cwwalter commented on #190
I think this is implicit above but just in case:

Having master builds is good but have a version of sims built against a stable version of the stack when feasible is also useful (preferable) as DM is often changing APIs etc during their development.

[2016-03-24 19:44] TomGlanzman commented on #151
I used slac#osg but have been using this for BNL data transfers for a couple of years, and do not recall what hoops I jumped through to use this endpoint.

[2016-03-24 19:54] cwwalter commented on #151
OK as test I tried to access it.  It asks to authenticate through osgmyproxy.slac.stanford.edu

I tried using my SLAC unix credentials but they don't work.

[2016-03-24 19:55] jchiang87 opened #191 "Set up world-accessible database to serve up Twinkles Level 2 data"
Let's see, what needs to be done to complete this epic task? (Now renamed to better represent its epic nature.)

* [x] Implement and test a simple MySQL version of the database we want to see. PR in #184
* [x] Explore and discuss various options for database type (dbserve? qserv? sqlite? pandas?!) and location (SLAC? NERSC?). Recommend solutions for Run 1, Run 2, and Twinkles 1. See discussion in

[2016-03-24 19:59] jbkalmbach commented on #179
@DarkEnergyScienceCollaboration/twinkles here is the link again for the doodle poll for a Twinkles retreat in the fall.

http://doodle.com/poll/xpdcrkdzhaverii2

[2016-03-24 20:01] jbkalmbach opened #192 "Add in remaining TDC1 rung 4 lenses."
In #117 we decided to sprinkle in a set of lenses defined by the TDC1 rung 4, but for run 1 we settled on only sprinkling in the first 200 from that rung. We need to update our sprinkling catalog with the rest of rung 4 since only taking the first 200 left out all quads from the lens catalog.

[2016-03-24 20:04] drphilmarshall commented on #183
Good to see you all just now! Thanks for your help with the notes, and for making the new issues. I'll do some wrangling of them after lunch. Meanwhile, here's [the doodle poll](http://doodle.com/poll/ugyxusavuteav8uu) again, now with morning slots. Please edit your row to reflect your weekly availability!

[2016-03-24 20:07] drphilmarshall opened #193 "Issue tending"
While all you @DarkEnergyScienceCollaboration/twinkles people tend your own issues (click on your avatar to filter the list), I will wrangle the whole lot to make sure everything is assigned and labeled. Please close issues aggressively - we can always re-open them if we disagree!

Notes to self from chatting with @tony-johnson and @jbkalmbach:

* [x] Re-assign issues to Run 2 milestones, and whil

[2016-03-24 20:10] TomGlanzman commented on #151
Chris, if you need to use this endpoint, please contact Wei Yang, the gatekeeper: yangw@slac.stanford.edu.

On 03/24/2016 12:54 PM, Chris Walter wrote:

[2016-03-24 20:13] cwwalter commented on #151
Thanks.  I don't need it now but wanted to check/document it for the future.

[2016-03-24 21:14] danielsf commented on #190
Just to be clear: the way LSST's continuous integration works, Sims master is already guaranteed to build against DM master.

[2016-03-24 21:16] danielsf commented on #190
@cwwalter what do you mean by "stable"?  Is a DM weekly release good enough?

[2016-03-24 21:19] danielsf commented on #183
Is this weekly or bi-weekly (because I see that the Thursday 10am -- otherwise known as the bi-weekly Survey Simulations telecon -- slot was an option)

[2016-03-24 21:58] drphilmarshall commented on #183
It's really weekly - I just didn't do any filtering for known conflicts. I
guess we'll all mark Thurs 10am as being out!

On Thu, Mar 24, 2016 at 2:19 PM, danielsf <notifications@github.com> wrote:

[2016-03-24 21:59] jchiang87 commented on #105
Closed by #147

[2016-03-24 21:59] #105 closed

[2016-03-24 22:02] drphilmarshall commented on #186
Glad that the focus of the discussion has shifted to feature selection - we
must be doing something right! Seth, I think the PhoSimPredictor should be
able to be run on *any* csv file, as long as it contains a column marked
'CPUtime'.: then we can set the Random Forest training procedure in stone,
and move on to comparing different input datafiles against each other. You
suggest a good initial tes

[2016-03-24 22:57] drphilmarshall commented on #193
Notes to self from chatting with @tony-johnson and @jbkalmbach:

* [ ] Re-assign issues to Run 2 milestones, and while doing so, think about any nearer milestones that could be of use
* [ ] Look for groups of issues that could be assigned to an Epic. The NERSC test is one example, there are bound to be others.
* [ ] Look up ZenHub "Story Points" and adopt some system for estimating "complexity", s

[2016-03-24 23:08] sethdigel commented on #186
Yes, of course technically implementing the PhoSimPredictor is not the same as making it a useful predictor.  I think that we need better than 0.2 dex but I don't know (yet) how much better is realistic.

Regarding Random Forest and the various splitting into training data sets implemented in the Hack Day notebook, I'm also planning to figure out how to set a seed so that I can get the exact same

[2016-03-24 23:10] drphilmarshall commented on #193
Looks like "story points" are just an [abstract measure of task complexity that are defined by agreement among the group](https://www.mountaingoatsoftware.com/blog/the-main-benefit-of-story-points). So, I can go ahead and make estimates for all issues, and everyone else can calibrate the meaning from that. I think. Then, ZenHub will make "burndown charts" for us, [like this](https://www.zenhub.io/

[2016-03-24 23:13] drphilmarshall commented on #186
Sounds good - although you would hope that after all that cross-validation
the results would not vary outside the uncertainty (once we have extracted
it ;-) )

On Thu, Mar 24, 2016 at 4:08 PM, Seth Digel <notifications@github.com>
wrote:

[2016-03-24 23:16] drphilmarshall commented on #192
No quads! Thanks for rectifying this sorry situation, Bryce.

On Thu, Mar 24, 2016 at 1:01 PM, Bryce Kalmbach <notifications@github.com>
wrote:

[2016-03-25 16:26] drphilmarshall commented on #180
@SimonKrughoff Do we have an epic on getting difference imaging working, yet? If not I think you should make one. It would be great if we could include difference imaging in Run 2, so that we can flush out any bugs before the summer Twinkles 1 generation starts.

[2016-03-25 16:49] SimonKrughoff commented on #180
I have not scheduled this yet.  When is Run 2 happening?

[2016-03-25 17:44] danielsf commented on #190
---
Weekly builds should be tagged for both SIMS and DM.
---
It occurs to me that we may already be able to do this for ourselves (at least for eups distrib install-able versions of the stack).  I just haven't been doing it because I did not realize there was demand for DM stack versions between "official releases" (where "official releases" means things like v11.0 or Winter2016).

The next time I

[2016-03-25 18:17] wmwv commented on #190
@danielsf   Excellent.  That would be great.

[2016-03-25 20:44] danielsf commented on #190
Follow up to my own post: I ran the idea by Simon and he saw no problem with publishing sims tagged versions of lsst_apps.  So, really, the only thing we can't do for ourselves is guarantee the availability of conda builds with any regularity.

[2016-03-25 21:08] drphilmarshall commented on #190
At this point, should we pause while we implement the things we can do, and
then send the request for what we know we cannot? If you think that's
sensible, we are only left with what to do about the draft request in the
first comment: I think I'd suggest we edit that so that it reflects our
current understanding, and keep iterating until we are ready to draw
people's attention to this issue thread

[2016-03-25 21:47] danielsf commented on #190
I am fine with that.  I need to sit down with Mario and talk to him about implementing git-lfs in the conda-lsst build system, anyway.  I will try to broach the subject of who is going to be maintaining conda-lsst long-term when that happens.

[2016-03-26 06:58] rbiswas4 opened #194 "_parent directory has incorrect link"
On the Nersc Computers: /global/homes/t/tony_j/Twinkles/985visits/985visits has a _parent directory which is probably the _mapper which is empty and probably has a link. Can we replace this file from the processing runs/ phosim output?

[2016-03-27 16:02] jchiang87 commented on #160
@drphilmarshall The DM team has a suggested fix for the `libboost_filesystem.dylib` loading problem:

https://community.lsst.org/t/library-loading-error-in-an-ipython-notebook/623

I'll make a note at #164 as well.

[2016-03-28 02:21] cwwalter commented on #190
@danielsf Sorry… missed this before.

What I meant was that, although having weekly releases is also fine, having a quickly moving sims version that is built against the stable DM version (I mean quarterly releases modulo version that have bugs which must be fixed) is valuable since it gives us a stable API base to build on when we are thinking about the sims work and not DM.

I’m open to be convi

[2016-03-28 07:18] sethdigel commented on #186
Just a brief update:  vSkyBright is not a panacea, but including it as a feature certainly helps.  It has kind of an odd distribution, with most values in the range 21.2-21.5, a fairly broad tail extending down to about 19.4, and a dozen or so entries in the 17.2 range.  The latter don't correlate as well as I would have guessed with moonalt and dist2moon.  Anyway, the MSE for the tuned Random For

[2016-03-28 16:27] drphilmarshall commented on #182
Related to this issue, @wmwv started a "Request to the project" email for us to discuss at #190 which should lead to a smoother initial setup by new Twinkles contributors.

[2016-03-28 16:45] danielsf commented on #190
@cwwalter In principle, I agree with you.  I'm not sure if it's possible, though.  For example: sims cannot be built against DM v11.0, which, I think, is still the stable version of record.  Granted, that had to do with changes to afwCameraGeom, which I don't anticipate changing in the near future, but I cannot guarantee that something else we want to change won't come up between stable DM release

[2016-03-28 16:46] rbiswas4 commented on #190
@cwwalter
There are two kinds of API changes in the DM stack that you might worry about:

1. Those API that are directly called from sims that may have changed from a release to weekly builds
2. Those API that are only indirectly called by sims or not called at all.

For those in the first category, it would seem that two versions of sims code will need to be produced and maintained, one that corr

[2016-03-28 16:58] drphilmarshall commented on #186
Sweet! This is looking much better :-)  Seth, can you think of a good way
of automatically estimating uncertainty on the predictions? The best I can
think of is binning the residuals in predicted CPU time and computing std
deviations.

On Mon, Mar 28, 2016 at 12:18 AM, Seth Digel <notifications@github.com>
wrote:

[2016-03-28 17:04] rbiswas4 commented on #186
Maybe this was shown before and I missed this, is there a place where we
can see how much the performance is improved compared to say only using the
moon specific features (altitude, distance to moon, phase)?

On Mon, Mar 28, 2016 at 9:58 AM, Phil Marshall <notifications@github.com>
wrote:

[2016-03-28 17:09] rbiswas4 commented on #190
I  think it would help us prioritize our requests if we kept track of the functionality or use-cases for the requests. This might be in terms of approachability for a casual user, functionality (some need in our workflow, so it could be done in an alternative way if such a method is available) or other categories that I am not thinking of.

Approachability: This was supposed to be for 'casual user

[2016-03-28 17:42] sethdigel commented on #186
It was not shown before.  I am not sure what the right measure of performance is.  I quoted the Mean Square Error above.  Probably what is most interesting is the uncertainty for the longest jobs, where the accuracy of the estimates is most important and the predictions currently are least accurate.  Below is the corresponding predicted vs. actual CPU time plot for the tuned Random Forest algorith

[2016-03-28 18:04] rbiswas4 commented on #186
Very half-baked thought:

I was wondering if you have considered the use violin plots on predicted (CPU Time - CPU Time ) on the y axis and CPU Time on the x axis. Given dataframes, these can be easily made using seaborn for example:  https://stanford.edu/~mwaskom/software/seaborn/generated/seaborn.violinplot.html : Maybe this is hard with all the filters together?

[2016-03-28 19:16] drphilmarshall commented on #186
As I recall neither filter nor hostname made much difference to the
prediction precision but it'd be worth checking. I was thinking that
prediction precision could be shown with means and confidence intervals in
bins, and maybe visualized by filling in between points to make a shaded
band:
http://stackoverflow.com/questions/12957582/matplotlib-plot-yerr-xerr-as-shaded-region-rather-than-error-bars

[2016-03-28 20:09] rbiswas4 commented on #186
@sethdigel Sorry, I realize that this comment "Maybe this was shown before and I missed this, is there a place where we can see how much the performance is improved compared to say only using the
moon specific features (altitude, distance to moon, phase)?
" was off-context.

The point I was making was that it is also possible with the given data to make a prediction per band using some very basic

[2016-03-29 02:14] cwwalter commented on #190
@danielsf Yes, OK I agree.  Clearly we couldn't use V11.0 as you said.   What I meant by "deliberate" above was that I would imagine in those cases we could agree to bump to a  higher version (as opposed to just taking a weekly snapshot) when it became necessary.  But as both you and @rbiswas4 say that is going to be a lot of work and overhead.

[2016-03-29 07:04] sethdigel commented on #186
Thanks, @rbiswas4.  Yes, that sounds like a sensible definition of a good predictor.

Of course, we don't have the ideal data set for making a predictor - more than 100 runs reached the 5-day CPU limit so we have only lower limits on CPU time for these (and actually they are not used in any way in this study).  And any predictor is likely to be challenged in making extrapolations.

In the run up t

[2016-03-29 08:05] rbiswas4 commented on #186
@sethdigel

I had assumed this to be the case without too much thinking ... this is what had led me to believe that things will correlate better with filtskybrightness.  Your statement brings up the question of how phosim deals with out of band flux ? Does it outright ignore that or maybe does it to a quick numerical calculation to threshold what is important?

About the plot: My guess is that the

[2016-03-29 16:54] rbiswas4 commented on #186
@drphilmarshall

I had missed your post ... yes, I would agree that it is possible that we will not have enough

[2016-03-29 17:09] jchiang87 commented on #194
@rbiswas4 I made a symlink to the files in  `/global/homes/t/tony_j/Twinkles/985visits/985visits` here:

[code]
and replaced the `_parent` symlink with one that points to directory with the `_mapper` and `registry.sqlite3` files.  I *think* that is all that is needed to start using those data with `Twinkles`, `Monitor`, etc..  If you need the eimages, etc. also, let me know I and I can copy them o

[2016-03-29 17:10] wmwv opened #195 "Can we run a dbserve instance for Twinkles?"
@tony-johnson @jchiang87 @TomGlanzman  @drphilmarshall

Can you talk with Jacek Becla and perhaps Fritz Mueller to learn what the current status of DBserve is and whether or not we could stand up a prototype to ingest Twinkles data products?

I have specifically in mind the single-frame and coadd-measurement catalogs.  The image and processing metadata would be a secondary, but less important goal

[2016-03-29 17:12] jchiang87 commented on #195
Sure, I asked @brianv0 to set up a time next week when Tony and Jacek are back from travels.

[2016-03-29 17:29] brianv0 commented on #195
I'm actually the developer on dbserv and metaserv (aka the web interfaces to databases).

I can set up an instance of it most anywhere. We'd need to plug in some security because dbserv allows you to perform any SQL queries against it, but I can get it set up relatively quickly.

(Unless you're actually talking about qserv, in which case that's a different issue)

What is it specifically you'd lik

[2016-03-29 17:41] drphilmarshall commented on #195
Or to put @brianv0 's question another way, how does this relate to #191, "Set up world accessible MySQL database at SLAC to serve up Twinkles Level 2 data"? I know there have been discussions about our setting up and using databases, but I don't see any comments on threads yet. @wmwv If you haven't seen @jchiang87 's initial SQL foray, it's in PR #184

[2016-03-29 17:59] wmwv commented on #195
Yes, for the purposes of Twinkles, this is a duplicate of #195 (although "MySQL" and "SLAC" don't seem to be key parts).  Thanks @drphilmarshall for the pointer to this.  I searched for dbserve, qserv, but not database when looking for duplicates.

@brianv0  What @jchiang87 was doing in #184 is exactly what we would want to use dbserve to do.

Take a set of source measurements from the output of r

[2016-03-30 21:38] drphilmarshall commented on #192
Hmm - while putting together this week's meeting agenda it occurs to me that this issue is worth discussing with the group. Fixing the lens sample to include quads is something we could test in Run 2 - *if* we decide to re-make the images as well as re-do the L2 processing... I'll put this question to the floor tomorrow.

[2016-03-30 21:40] drphilmarshall commented on #181
I'll put this on the agenda for tomorrow, but I wonder: how does Half Moon Bay as a retreat location sound to you?

[2016-03-30 21:48] SimonKrughoff commented on #181
Sorry, I dropped this.  Half Moon Bay sounds good.  I don't know about any of the conference resources there, but I can look into it.

[2016-03-30 22:20] drphilmarshall commented on #183
Hi all! Since the doodle poll is only half-filled out, we will meet at 12 noon PDT tomorrow (Thursday March 31st) as usual. I made an agenda for us in our [usual live notes file](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit#heading=h.x7030f9r6ak5) which also contains our BlueJeans room link. Comments and edits on the agenda are most welcome, as always!

We n

[2016-03-30 22:35] KirkGilmore commented on #181
There is a great resort right on the beach just south of HMB.
Ritz- Carlton.  May be a bit pricey but it's spectacular.

kg

From KG's BB

-----Original Message-----
From: SimonKrughoff <notifications@github.com>
Date: Wed, 30 Mar 2016 14:48:56
To: DarkEnergyScienceCollaboration/Twinkles<Twinkles@noreply.github.com>
Reply-To: DarkEnergyScienceCollaboration/Twinkles <reply@reply.github.com>
Subject

[2016-03-30 22:37] drphilmarshall commented on #175
@SimonKrughoff Can you please report on this issue at the Twinkles meeting tomorrow, please? Agenda is linked from #183 Thanks!

[2016-03-30 22:43] drphilmarshall commented on #180
I'm going to suggest May, for the Run 2 data generation and processing. I'll start an epic for you to edit, and attach this issue (now re-named!) to it. Sound good?

[2016-03-30 22:47] drphilmarshall opened #197 "Run 2 Image Differencing"
Let's do this. @SimonKrughoff @wmwv @DominiqueFouchez and @feinstei made a great start at the March Hack Day, now let's build it into the Twinkles Level 2 processing pipeline. What do we need to do?

* [ ]  Get the DM task configuration right #180
* [ ] Figure out correct reference image (to emulate the year N annual data release)
* [ ] Update the Cookbook so the workflow engineers can work from i

[2016-03-30 22:50] drphilmarshall commented on #110
Declaring victory, only 27 days after Run 1 was released!

[2016-03-30 22:50] #110 closed

[2016-03-30 22:59] rbiswas4 commented on #133
I think this is closed.

[2016-03-30 22:59] #133 closed

[2016-03-30 23:02] drphilmarshall opened #198 "Twinkles 1 Analysis Retreat"
Organizing a beano is an epic task. We need to:

* [x] Agree on a location #181
* [x] Agree on a date #179
* [x] Book a venue

[2016-03-30 23:17] drphilmarshall commented on #36
Hey @jbkalmbach @TomGlanzman - I edited this Twinkles epic to [lay out a program](https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/36#issue-113622092) for us, through the summer. What do you think? We can add more steps as we go, of course! And we can also refer to Monitor and SLTimer issues, too - great if you can help cross-link these to the check list in the first comment of th

[2016-03-30 23:26] drphilmarshall opened #199 "Make Twinkles Approachable"
We want to make it easier for outsiders/new users to see what is going on here, so that we can a) make it easy for them to make contributions to the project and b) keep track of things ourselves. Here's what we need to do:
- [x] Tend the issues, to make sure they are well organized #193
- [ ] Make a few demos to get people started, whatever that means
  - [ ] Beta test the demos #182
- [x] Have th

[2016-03-30 23:33] drphilmarshall commented on #168
Hey @jbkalmbach , is this problem now resolved?

[2016-03-30 23:45] drphilmarshall commented on #167
@wmwv @TomGlanzman @tony-johnson I have elevated this issue to epic status, and edited the all-important [first comment](https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/167#issue-138712160) to include an initial checklist for what we need to do to get this validation analysis into the workflow and run automagically. No doubt I have done this inadequately, it would be great if you

[2016-03-30 23:51] drphilmarshall commented on #166
@SimonKrughoff @wmwv I had been wondering whether we ought to try and emulate a few annual data releases, rather than focusing on DR10 all the time. Might this ameliorate at least some of this long DM stack CPU time problem?

@tony-johnson Is this an issue to be added to the [Run 1.1 epic](https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues?q=is%3Aissue+is%3Aopen+label%3A%22Epic%3A+R

[2016-03-30 23:53] drphilmarshall commented on #155
@jbkalmbach @danielsf I have a feeling this issue could be closed, if the problems identified are correctly issued elsewhere and referred to here. Can you make sure of this and then shut this down please, Bryce? Thanks!

[2016-03-30 23:57] drphilmarshall commented on #120
Sonnenfeld and I worked on this during the Hack Day, and made some good progress I thought. We'll see if we can get a better OM10 in time for Run 2.

[2016-03-31 00:05] #192 closed

[2016-03-31 00:14] drphilmarshall commented on #52
Hi @linan7788626 ! Can you please give me a very short update on this work, post Hack Day? I thought your Illustris 3 results were very promising, did you try the higher resolution systems?  Some quick links to your Hack Day results and others would be very helpful here, too.

We'll need to make a decision about whether or not to try and build realistic galaxy images into Twinkles 1 fairly soon: i

[2016-03-31 00:15] drphilmarshall commented on #10
Closing this, so we can focus on #52 !

[2016-03-31 00:15] #10 closed

[2016-03-31 00:16] drphilmarshall commented on #54
Closing this, with fondness, as we have begun regular all-group meetings instead. The notes will live on, though!

[2016-03-31 00:16] #54 closed

[2016-03-31 00:17] #12 closed

[2016-03-31 00:26] drphilmarshall opened #200 "Twinkles 1 Specifications Document"
We said we'd write one; we even set ourselves a [deadline](https://github.com/DarkEnergyScienceCollaboration/Twinkles/milestones) of the end of the Oxford collaboration meeting. So, what do we need to do?

* [ ] Decide on the scope of Twinkles 1 #64
* [ ] Adjust the Science Roadmap accordingly #75
* [ ] Code up the specifications of the Twinkles 1 project in latex
  * [ ] Format sensibly, based on

[2016-03-31 00:42] drphilmarshall commented on #94
How's this going, @SimonKrughoff ?

[2016-03-31 00:46] drphilmarshall commented on #146
I think this is something we should shoot for in Run 2 - unless it's so easy we could just do it for Run 1.1...

[2016-03-31 00:49] drphilmarshall commented on #43
@jbkalmbach @rbiswas4 I am wondering if this should become an epic, like the Basic Validation one and the Light Curve Analysis ones, just because it's about validating the contents of the images without looking at the light curves. Comments welcome!

[2016-03-31 00:59] drphilmarshall opened #201 "Test Workflow at NERSC"
An epic task indeed! Not sure when the best time to do this is, but Run 1.1 could be a good opportunity, at least after it has been executed successfully at SLAC. If we are hoping to do Run 2 at NERSC, this could be the way to go.

Things that need doing are:

* [x] Make a plan #116
* [ ] Request shared service account #86
* [x]  Figure out how to submit jobs #87
* [x] Get Workflow Engine working

[2016-03-31 01:12] drphilmarshall commented on #193
OK, I have done half the issue reorg work:
* Identified epics and labelled them, and their associated issues, accordingly
* New labeling color scheme to try and make it easy to filter issues by epic, and also by pathfinder category.
* Brought all milestones up to date, and ensured all issues are assigned

Next is to implement other labels ("criticality") and then provide links to these filterings

[2016-03-31 01:16] drphilmarshall commented on #181
I'm thinking we'll need 1) cheap accommodation for the UW/Pitt crowd (like
an airbnb house) and 2) a meeting room with good wireless. Whiteboards and
projectors we can improvise. Shoestrings will be supplied.

On Wed, Mar 30, 2016 at 3:35 PM, Kirk Gilmore <notifications@github.com>
wrote:

[2016-03-31 01:18] SimonKrughoff commented on #94
This is actually done on the ticket branch of obs_lsstSim.  Can we close it, or does it need to be merged?

[2016-03-31 01:25] drphilmarshall commented on #94
This here is a Twinkles issue, which can be closed on delivery of proof that the ISR is good enough (at least visually, I guess). Then I guess we need to do whatever it takes to `obs_lsstSim` so that the Twinkles pipeline uses the fixed code...

[2016-03-31 01:29] SimonKrughoff commented on #94
I showed the plot during the hack session.  I still don't know exactly what the artifacts are around the cores, but the saturation spikes are certainly greatly reduced.  Tony has already implemented the changes necessary to use the new code.

[2016-03-31 01:33] drphilmarshall commented on #94
Ah yes - you are talking about the before/after plot below. Sounds like this is all done then! Great stuff :-) Thanks Simon!

![image](https://cloud.githubusercontent.com/assets/710903/14162973/bdd1879c-f6a5-11e5-9321-1ccbc72ee2b8.png)

[2016-03-31 01:33] #94 closed

[2016-03-31 02:06] jchiang87 commented on #58
I'm going to proclaim this closed by #184.

[2016-03-31 02:06] #58 closed

[2016-03-31 03:11] linan7788626 commented on #52
Hi @drphilmarshall ,

Sorry for my Silence, I am in China now, the network here is terribly unstable because of "the Fucking Great Firewall".  I post some description of the progress of this project below. and I will organize all updates better when I am back in the US (about 2 weeks later).

- [x] We can match the OM10 lenses by {sigma,zd,ellipticity} to some massive Illustris galaxies, and then,

[2016-03-31 03:19] zhanhu commented on #52
Watch your language. Be mature.

From: bounces+848413-deae-zhanhu=nao.cas.cn@sgmail.github.com [mailto:bounces+848413-deae-zhanhu=nao.cas.cn@sgmail.github.com] On Behalf Of Nan Li
Sent: 2016年3月31日 11:12
To: DarkEnergyScienceCollaboration/Twinkles
Subject: Re: [DarkEnergyScienceCollaboration/Twinkles] Realistic lens galaxies from Illustris (#52)

Hi @drphilmarshall <https://github.com/drphilmarshal

[2016-03-31 03:25] linan7788626 commented on #52
@zhanhu, apologize for my improper expression, just erase it, and will be careful next time. thanks for your reminding.

[2016-03-31 03:42] drphilmarshall commented on #58
Sounds good! Thanks Jim :-)

On Wed, Mar 30, 2016 at 7:06 PM, James Chiang <notifications@github.com>
wrote:

[2016-03-31 03:48] drphilmarshall commented on #52
Sounds good, @linan7788626 - thanks for the update! Sounds like we should meet up with @jbkalmbach  when you are back, so we can look at the higher resolution Illustris results, and how your code might be used to update the Twinkles lens sprinkler. We'll need to think about how to pass around the simulated image data too, so it can be ingested by PhoSim at SLAC or NERSC. Enjoy the rest of your tri

[2016-03-31 15:45] rbiswas4 commented on #194
@jchiang87  Thank you. But I do not have permissions to access  this directory.

[2016-03-31 15:55] jchiang87 commented on #194
@rbiswas4 Can you try again?  I *think* I've set the permissions correctly.

[2016-03-31 16:00] rbiswas4 commented on #194
@jchiang87  Yes, I can get it now. Thanks! I will close this issue

[2016-03-31 16:00] #194 closed

[2016-03-31 17:27] sethdigel commented on #186
@TomGlanzman is launching another Run 1 task in the pipeline to regenerate exactly the same visits but with 1 s exposures instead of 30 s.  With 30 s exposures, 103 of the visits had hit the 120 CPU hour limit, and it is visits like these that we'd be most interested in being able to predict accurately.  The original Run 1 task took about 4 CPU years, with 1.5 years going into visits that hit the

[2016-03-31 17:44] drphilmarshall commented on #186
Sounds good - interested to see how long this takes. This should be helpful for any smoke test planning (#144) we might eventually want to do as well. We'll need a name for this PhoSim run. "Run X" is out, because a "Run" indicate both PhoSim and DM. What are you calling it, @TomGlanzman ?

[2016-03-31 18:08] sethdigel commented on #186
@rbiswas4, good question.  The z band is not especially broader in wavelength (or frequency) range than the other bands.  I had thought that the big blue dot in the plot above was a blend, and so not the longest CPU time, but I see that I mistakenly made the plot only with the ~900 runs that finished in less than about 33 hours.  Here is the complete plot for Run 1.  The points are still logarithm

[2016-03-31 18:20] rbiswas4 commented on #186
Actually, I was still confused as I was expecting the y band to take longer times as the filter sky brightness is much higher there than the others.

[2016-03-31 18:29] yoachim commented on #186
As a possible (partial) explanation, I'll point out that the y-band is taken entirely in twilight. The current OpSim has a crude model for the twilight sky level (it sets it to a "bright" constant when the sun gets above a certain altitude, something like -18 degrees).  That little clump in the lower left are all exposures that drifted into twilight and thus got set to "bright".

For the other fil

[2016-03-31 19:39] jbkalmbach opened #202 "Overlay new coadds to check astrometry"
New coadds are at: bullet0002.slac.stanford.edu:/lustre/ki/pfs/fermi_scratch/Twinkles/2.

[2016-03-31 19:47] jchiang87 opened #203 "Write scaled down workflow executor for Twinkles cookbook example."

[2016-03-31 19:50] jchiang87 opened #204 "Install shared Stack at NERSC"
@djbard @heather999   Any suggestions on where this Stack should be installed?

[2016-03-31 20:12] heather999 commented on #204
@djbard has pointed us to: /global/project/projectdirs/lsst/lsstDM/Cori with the caveat that we might still want to consider how the directories should be organized.

But I'm also wondering what version of DMstack - a dev conda installation? and how will it be kept up to date with what folks want and need in terms of various modules. Do we want to set up a stable version being used for work (which

[2016-03-31 20:18] drphilmarshall commented on #183
Hi all,

Good to talk just now. Our notes are [here](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit#heading=h.x7030f9r6ak5), for anyone who missed it. Action items are marked in red, all of these need to be issued (either afresh, or by replying to existing threads). Thanks!

@cdfassnacht we punted the question of when to move this weekly meeting to until you h

[2016-03-31 20:23] drphilmarshall commented on #203
"The Little Engine That Could" :-)

Is this a small epic? (Write code, show off in demo notebook, add to travis
test suite, etc?) Or a simple task?
You can use the empty comment at the top of this thread to make a check
list of related/child issues if you think it's the former.

On Thu, Mar 31, 2016 at 12:47 PM, James Chiang <notifications@github.com>
wrote:

[2016-03-31 20:26] jchiang87 commented on #94
@SimonKrughoff What ticket branch in obs_lsstSim is this in?  I assume we need to update the Stack at SLAC with this?   When will this be merged into master?

[2016-03-31 20:31] jchiang87 commented on #204
I don't know what people will want regarding "stable" vs "development" version of the Stack and am inclined not to think about it very deeply unless forced.   Twinkles may need a ticket branch of obs_lsstSim, and maybe some sims packages for the sprinkler to work.    If we can build those particular packages against a "dev" conda install of the Stack+lsst_sims, then that's what we'll need for  Twi

[2016-03-31 20:35] rbiswas4 commented on #204
Jim I put my suggestion in the google doc.

[2016-03-31 20:38] heather999 commented on #204
Just for posterity, @rbiswas4, here is what you wrote in the google doc:
The lsst project space is located here /project/projectdirs/m1727/ . In previous attempts on edison, project/projectdirs/m1727/edison/loadmodules.sh was useful (but what we had used was a conda build)

[2016-03-31 21:05] danielsf commented on #204
Regarding the status of DM conda installs:

Currently, there are no builds of the DM stack in the conda dev channel.  The only available conda install of the DM stack is v11.0, available in the 'stable' conda channel.  v11.0 dates back to Summer 2015, and is probably too old for our purposes.

Now that it has been decided that we are going to publish copies of the DM stack tagged as 'sims' (tagged

[2016-03-31 21:25] cwwalter commented on #204
I thought the project space was

/global/project/projectdirs/lsst

?

Is that not right?

[2016-03-31 21:30] rbiswas4 commented on #204
Thanks @heather999 !

To clarify what a few of my previous statements (others who might know more about that could chime in):
- The 'suggestion' for location was based on what I thought we all had write/read access to (m1747 is an allocation with PI Peter Nugent), rather than put it in any one of our home directories, where it will count against the individual quota and we will have to set up perm

[2016-03-31 22:10] rbiswas4 opened #205 "Study sky background in Twinkles outputs and compare them to backgrounds in Opsim/SkyBrightness Model etc."
- [] Obtain the sky brightness background from visits by
    - [] obtaining the background image for each visit
    - [] obtain the median values for sky background
    - [] compare to OpSim filtskybrightness for the same visit (and similar predicted quantities)

@jbkalmbach  @jchiang87
However, I am a little confused right now as to what should do what.

Should we be trying to obtain all these qu

[2016-03-31 22:20] jchiang87 commented on #205
@rbiswas4 That information should go into the CcdVisit table, which is created by the `db_table_access.py` code using this schema:

https://lsst-web.ncsa.illinois.edu/schema/index.php?sVer=baseline&t=CcdVisit

You could either update the [CcdVisitTable](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/python/desc/twinkles/db_table_access.py#L110) class, adding a method to ing

[2016-03-31 22:45] heather999 commented on #204
While I have not played around with NERSC installation of the DMstack yet, I have dealt with that elsewhere. We might want to have our own Anaconda python installation so we have more direct control over what versions of various modules are available (I'm thinking about numpy, matplotlib and scipy specifically). Most of the time, when doing an eups distrib install, I prefer to have my anaconda pyt

[2016-03-31 22:48] drphilmarshall opened #206 "Re-run DM workflow on Run 1 images"
But only when the prerequisites in #187 are done!

[2016-03-31 22:51] djbard commented on #204
You should be targeting installation on Cori above Edison, since Cori is
better configured for DESC-scale work.
Of course, Cori didn't exist 6 months ago so that's why people originally
installed code on Edison.

RE the project space: indeed, m1727 is the repo name, but it's also called
lsst (I actually have no idea how this works and if/how to change it). I
have been using /global/project/project

[2016-03-31 23:05] richardxdubois commented on #204
I don't know where the 1 TB partition came from. We could think about using it for shared installs actually. Maybe Peter knows the origin of that partition (I don't seem to be able to @ him).

[2016-03-31 23:31] drphilmarshall commented on #205
Are you saying that the Twinkles `CcdVisitTable` does not currently contain a `skyBg` column, because we did not run the `ingestProcessed.py` script? I see from the schema that the `CcdVisitTable` is supposed to contain these three interesting quantities, among other things:
[code]
Are the `seeing` and `skyNoise` also currently missing?

[2016-03-31 23:33] jchiang87 commented on #204
Hey @drphilmarshall!  Could you add @heather999 as a Twinkles contributor so that we can assign her this issue? :-)

[2016-03-31 23:39] jchiang87 commented on #205
It's got those columns, but they're filled with NULL currently.   The only ones that are being filled with meaningful values (from the registry.sqlite3 file) are ccdVisitId, visitId, ccdName, raftName, filterName, and obsStart.  I don't think the `ingestProcessed.py` script will work out of the box, or at least not without some head-scratching.

[2016-03-31 23:43] drphilmarshall commented on #203
Assigned labels "Epic" and "Epic: Tiny Workflow Engine" :-)
When you make issues for the checklist items, be sure to label them with the latter (but not the former, because those issues won't be epics themselves).

[2016-03-31 23:47] drphilmarshall commented on #157
Hmm. See #167 for the epic that this should belong to, but also #173 for a possible duplicate and some doubt about whether we want to keep this plot going at all. I like it, personally, but the validation suite that Michael is using in #167 might supercede it.

[2016-03-31 23:51] drphilmarshall commented on #205
Got it, thanks! Rahul, do you have a JimDB already made, up there? I guess you'll need one to work on.

[2016-03-31 23:56] drphilmarshall opened #207 "Epic: Getting Started at Twinkles"
OK, we need a short tutorial page to help new people get oriented with the project, and then start using and then contributing to the Twinkles codebase.
- [x] Start something and link to it from the README #208
- [x] Tour of the Twinkles Issues
- [x] Installing the DM Stack and Twinkles package #160
- [ ] Getting your environment set up correctly #289
- Running the demos (sic)
- [x] Clean up the w

[2016-04-01 00:03] drphilmarshall opened #208 "Documentation design, README clean-up"
Hi @heather999

We now have an epic to work on, based on today's meeting: #207

Thinking about the design of a "Getting Started" page: I know we need a guided tour of the issues, with links to filtered subsets and guidance of how to parse the growing issue stack. But, we also need an introduction to the Twinkles code base - and this seems more like a job for `sphinx` (plus we should learn and teac

[2016-04-01 00:37] drphilmarshall commented on #204
Done!

On Thursday, March 31, 2016, James Chiang <notifications@github.com> wrote:

[2016-04-01 01:15] jbkalmbach commented on #155
Yes, I think this can be closed. Problems from this are related to issues #175 and #168 and can be discussed there.

[2016-04-01 01:15] #155 closed

[2016-04-01 02:08] rbiswas4 commented on #205
@drphilmarshall @jchiang87 No, I do not have a JimDB made up yet. I want to first make sure I am doing the right stuff and then ingest this into JimDB. @jchiang87's pointing out the schema is quite useful.

[2016-04-01 04:04] rbiswas4 commented on #205
So, from a conceptual point of view, we have the following classes of information:

- Forced Sources:  For each visit, this has measurements for each object identified as a Source. eg. Flux, Flux error
- Visit Related Information : eg. seeing, PSF width, zero point etc, sky background

Is this why there are two tables? So, the reason for ccdvisit ID is to create an integer ID using the dictID?

[2016-04-01 04:49] jchiang87 commented on #205
Yes, that's correct.  Although, there is a [Visit](https://lsst-web.ncsa.illinois.edu/schema/index.php?sVer=baseline&t=Visit) table, which has the filterName, obsStart, expMidPt, expTime columns.  If the database tables were completely normalized, those columns wouldn't also appear in CcdVisit.  And since I wanted to plot source locations, I implemented the Object table based on the merged catalog

[2016-04-01 10:47] cdfassnacht commented on #183
Done.  Sorry I have a daily class in the mornings, which eliminates the 9
and 10am PDT slots.

   Chris

On Thu, Mar 31, 2016 at 1:18 PM, Phil Marshall <notifications@github.com>
wrote:

--
Chris Fassnacht
Professor, Physics Dept.
UC Davis
1 Shields Ave.
Davis, CA 95616
+1-530-554-2600

[2016-04-01 16:28] SimonKrughoff commented on #157
I agree that a more comprehensive suite of validation is more important.  If that's the validatte_drp stuff, I think we should prioritize that.

[2016-04-01 17:34] wmwv commented on #157
The one thing I need to do on the `validate_drp` side is change how it reads and iterates over dataIds because of some details about the structure of the dataRefs for LSST simulated data vs. CFHT or DECam data.

[2016-04-01 17:42] SimonKrughoff commented on #157
@wmwv I know there are some issues about how the dataIds are handled because of the way I built the registry.  Is that what you are running into, because if so, I can try to fix that.

[2016-04-01 18:47] heather999 commented on #208
Your suggestions sound perfectly reasonable and my inclination is to make a simple draft "Getting Started" page and iterate from there @drphilmarshall.
First I need to better acquaint myself with what documentation is already available and perhaps the best people to poke when I run into questions: @jchiang87 @TomGlanzman and @sethdigel come to mind because I know them - but if there are others, pl

[2016-04-01 19:27] wmwv commented on #157
@SimonKrughoff Perhaps.  I already had one level of small hack to figure out what "ccd" means.  E.g., "ccd" or "ccdnum" which I wrapped up in `getCcdKeyName`.  But for the sims case (and the long term LSST case) I need to iterate by "(raft, sensor)" to get all of the parts of a focal plane in a particular visit.

This is in `u/wmwv/read_sims` of `validate_drp`

https://github.com/lsst/validate_drp

[2016-04-01 19:30] wmwv commented on #157
And thanks to some prompting by Željko Ivezić, I started (and am almost done with) DM-5660, which fits for the systematic floor sigma_sys, along with gamma and m_5 that were such nice parts of @SimonKrughoff  's plot in #70.  My plots aren't as pretty, though.  I'll perhaps try to make them a little more visually appealing.

[2016-04-01 20:20] SimonKrughoff commented on #157
I'll see if I can find some time this afternoon to look at iterating over ids.

[2016-04-01 21:00] TomGlanzman commented on #186
A full redo of Run1, but with 1-second exposures (rather than 30 second exposures) is running and mostly complete.  The SLAC task name is Twinkles-phoSim1sx.  At this moment, about 100 (of 1227) jobs are still running.

http://srs.slac.stanford.edu/Pipeline-II/exp/LSST-DESC/task.jsp?task=41492097

[2016-04-01 21:11] drphilmarshall commented on #208
@KirkGilmore is our number 1 repo guinea pig right now - he's been trying
to figure out what we are up to, and will give us feedback at our next
meeting (next Thursday). So it's not that Kirk nows what we are doing and
what docs we already have - he can instead give us input as to how things
*should* be :-)

On Fri, Apr 1, 2016 at 11:47 AM, heather999 <notifications@github.com>
wrote:

[2016-04-01 21:13] drphilmarshall commented on #186
Great! Run 1sx shoudl be a nice little CPU time dataset. Thanks Tom :-)

On Fri, Apr 1, 2016 at 2:00 PM, Tom Glanzman <notifications@github.com>
wrote:

[2016-04-01 21:18] TomGlanzman commented on #186
Note to @sethdigel : the log files will look just a bit different.  Some new, mostly debugging, data was added, including a dump of the first 21 lines of the instance catalog, post modification, just before invoking phoSim.

[2016-04-01 21:43] TomGlanzman commented on #186
Here is what the execution time distribution looks like for the 1-second exposure version of Run1 (with 85 jobs still running).
![phosim1sx](https://cloud.githubusercontent.com/assets/9436484/14220921/0b24e99e-f818-11e5-9a90-8f41aba82be8.png)

[2016-04-01 22:38] sethdigel commented on #186
Thanks a lot, @TomGlanzman.  That distribution is interesting.  I'd say that it suggests that the overhead in starting up phosim is a small fraction of the execution time.  On the other hand, looking at the CPU times in the summary plots (and accounting for the 30-s runs that never finished), the speed up looks like about a factor of only 20.  Also, thanks for the heads up about the change in the

[2016-04-03 02:39] rbiswas4 commented on #205
@jchiang87
The information that I think we need to be able to pull out of (joins) of the databases:

objectid ccdvisitID visitID mjd ra dec ra_sigma dec_sigma pixel_x pixel_y flux flux_err zero point zero point Err skyBackground

objectID : ID assigned to detected objects on which forced photometry is being run
visitID : ID that indexes every single visit (OpSim obsHistID)
ccdVisitID : ID that ind

[2016-04-03 16:42] jchiang87 commented on #205
I think it would be fine to add those other quantities.  At the time, I was just interested in implementing the  schema for the ForcedSource table as shown at that [LSST Schema Browser](https://lsst-web.ncsa.illinois.edu/schema/index.php?sVer=baseline&t=ForcedSource) site.  It only has 5 columns, so I was a bit relieved not have to transcribe a lot of column in the `create table` query.   But sinc

[2016-04-04 07:25] sethdigel commented on #186
I've posted some plots comparing the Run 1 and Run 1sx results [here](https://confluence.slac.stanford.edu/display/LSSTDESC/Phosim+CPU+times+in+Twinkles+Run+1+and+Run+1sx) in Confluence.  I expect to have more to post soon.  You can Watch that page if you want notifications.

The CPU time ratio between the 1 s and 30 s runs has more scatter than I would have expected.  If this means that the CPU t

[2016-04-04 15:30] TomGlanzman commented on #186
As of Monday morning there are eight 'stuck' batch jobs.  This does not appear to be related to any sort of failure within phoSim.  The jobs are being investigated and, at some point, they will be killed and resubmitted.  Stay tuned.

[2016-04-04 15:34] drphilmarshall commented on #181
I found us a nice house on the coastside: 5 BR, sleeps 10, high speed internet and a home theater for data visualization. [What do you think?](https://www.vrbo.com/413894) The SLAC team could commute to HMB pretty easily, and the UW/Pitt crowd could all (I think) stay in the house, which for 6 nights would run to just about our whole $4k budget. All you'd have to do is get to SFO, and we should be

[2016-04-04 15:57] rbiswas4 commented on #186
@sethdigel
I would have had similar expectations and this think this means that we should try to understand the steps that phosim goes through. Hopefully the main program will be sufficient for this.

@TomGlanzman
I recall that at SLAC we all had a discussion about running a very fast version (small exposure time) of the job through phosim as preparation and check that there is nothing that would

[2016-04-04 16:40] connolly commented on #193
@tony-johnson @drphilmarshall

Looks like zenhub will now do epics which could make the organization of tasks easier

https://www.zenhub.io/blog/working-with-epics-in-github/

[2016-04-04 19:19] sethdigel commented on #186
@rbiswas4, yes, I'm afraid so.  Even a sanity check re-running the same visit a few times would be interesting.  Tom pointed out that it would be possible to add some logging in phosim.py to track how the CPU time is used in the main steps the execution, which I guess is what you also were suggesting above.  In any case, I presume that we are seeing a feature and not a bug, and the point is to fig

[2016-04-04 20:02] drphilmarshall commented on #179
Thanks for filling out the retreat doodle poll at http://doodle.com/poll/xpdcrkdzhaverii2 - @wmwv @richardxdubois have not filled this out yet, perhaps because they weren't there at the Hack Day lunch when we started talking about this... We'll talk about it at Thursday's meeting!

[2016-04-04 20:04] drphilmarshall commented on #193
Nice! Looks like they implement the same functionality that our homegrown system has, with the added feature of keeping track of the story points associated with the epic. I'll upgrade each epic issue to a ZenHub epic as I do my rounds. Thanks!

[2016-04-04 20:06] jchiang87 opened #209 "Modify code to be runnable under Python 3"
The DM team are migrating to Python 3 this year and are in the process of converting their code to be runnable under Python 2.7 and 3.    See the discussions at [RFC-60](https://jira.lsstcorp.org/browse/RFC-60) and [here](https://dev.lsstcorp.org/trac/wiki/DM/Policy/Python3Prep).

We should follow suit and use the [future](http://python-future.org/quickstart.html) module and `futurize` script to m

[2016-04-04 20:12] wmwv commented on #179
@wmwv doesn't think he'll be able to make it due to teaching commitments.

[2016-04-04 20:30] cwwalter commented on #193
BTW, currently you can only use this on Chrome.  Here is an issue to make it work with Safari:

https://github.com/ZenHubIO/support/issues/53

[2016-04-05 15:04] heather999 opened #210 "Request for input concerning next DMstack release"
I was wondering when the next DMstack release would come along. Do we have any guidance or requests to offer @jchiang87?  Anyone else?
https://community.lsst.org/t/do-we-know-when-winter2016-will-be-released/655

[2016-04-05 15:13] jchiang87 commented on #210
For Twinkles, @SimonKrughoff is better placed to comment than I am.   Ideally, that release should contain any needed development in obs_lsstSim such that we don't have to build it from a dev branch.  There were some data butler issues as well, e.g., `butler.subset` seemed to be broken.

[2016-04-05 16:42] drphilmarshall commented on #186
Interesting, thanks @sethdigel! Do you think it's worth using your linear extrapolations from Run 1sx to train the Predictor to estimate the CPU time of the longest jobs? I know the scatter is high, but it'd at least allow us to say *something* quantitative about those runs, and perhaps trace where the longest CPU times are coming from. I agree that re-executing the longest jobs is a good idea, to

[2016-04-05 16:58] SimonKrughoff commented on #209
@jchiang87 Note that the official line is that LSST will be both 2.7 and 3.x compatible as of ~August.  There are some who think it would be easier/better to just take the leap and drop 2.7 compatibility, so that we can use Python3 features.  If you have an opinion (especially with a DESC perspective), I'd be very interested to know what it is.

[2016-04-05 16:58] drphilmarshall commented on #186
PS. I just tried checking in an IPython notebook to the Twinkles wiki (which is itself a git repository). [It does not render correctly](https://github.com/DarkEnergyScienceCollaboration/Twinkles/wiki/Test.ipynb) and also does not appear in the [wiki's page list](https://github.com/DarkEnergyScienceCollaboration/Twinkles/wiki). (It looks as though only `*.md` files are picked up and displayed in t

[2016-04-05 17:15] danielsf commented on #210
Depending on what you need, I have adopted the policy of releasing a development version of lsst_apps tagged 'sims' every time I update the sims stack.

Which is to say
[code]
will get you a version of the DM stack that is consistent with their last tagged weekly build, if that is helpful.

[2016-04-05 17:22] jchiang87 commented on #209
My initial reaction is that people will be resistant to move directly to Python 3 and drop Python 2.7 since they will have code outside of their Stack usage and DESC that may/would also need to be migrated, but I may be wrong.  We should really run this by the WGs to get their reaction.

On the Camera side, I'm guessing that people using the Stack might be resistant for the same reason, but that c

[2016-04-05 17:22] rbiswas4 commented on #210
Since we would like the ability to run comparisons between sims outputs and DM outputs, the sims tagged ones are probably the ones we will need in Twinkles.

[2016-04-05 17:31] rbiswas4 commented on #209
Since there is a small amount of code in Twinkles, it would perhaps make sense from the start that no code should be written that is incompatible with 3. ie. everything is written in a way compatible with 2.7 and 3.0. I am not sure if it is possible to write tests that will ensure this, given that Twinkles code will call sims/DM code which will not work with a python 3 version. Is it possible to h

[2016-04-05 17:40] jchiang87 commented on #209
@rbiswas4 Regarding Python 3 compatibility tests, I was thinking exactly as you suggest: run the usual tests with whatever Stack is available (presumably Python 2.7 flavored for some time), and have a linter check all the code for Python 3 compatibility.  Pylint seems to be up to the task.

[2016-04-05 17:48] rbiswas4 commented on #209
@jchiang87 I was worried that this kind of linter would be hard to setup. If pylint can do this, that is awesome. I think we should do this soon before we unintentionally land up with more of python 2.7 specific code.

[2016-04-05 18:32] sethdigel commented on #186
@drphilmarshall, yes the 1sx simulations provide *some* information about CPU times for the longest Run 1 jobs, although as we've seen the approximations/optimizations in phosim prevent (for the better) the CPU times from scaling linearly with the simulated exposure time.  I don't want to head down another ML path developing a predictor for the CPU times for the long runs based on the 1sx results

[2016-04-05 19:08] drphilmarshall commented on #186
@sethdigel As a test, I just re-implemented part of the Confluence page in the [first comment on this thread](https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/186#issue-143283731), just to see what it would be like, trying to use issue threads as online lab-books. The 2-panel image display was a bit fiddly, but the copy and paste image uploading is nice, as is the previewing. Note

[2016-04-05 22:26] rbiswas4 commented on #186
@sethdigel

Yes, Sorry. I misread the minutes in @TomGlanzman's histogram for seconds, so when I thought that a large fraction of jobs had finished in  < 10 minutes, I should have been thinking less than 10 hours! So, as a way of preparing to make sure there was nothing in the job that would crash it when run with the full exposure time, this is probably too expensive.

I am sure this is already t

[2016-04-05 23:17] sethdigel commented on #186
@rbiswas4, this file http://www.slac.stanford.edu/~digel/lsst/run1_metadata_v5.csv has information for all of the Run 1 visits.  The value in the column 'runlimit' is 1 for the phosim runs that hit the CPU time limit.  For these runs the entries in the 'cputime' column show the CPU time used up to the when the jobs got killed by the batch system.  (This file also has columns with vSkyBright and fi

[2016-04-06 01:23] rbiswas4 commented on #186
@sethdigel . Got it! and having a seperate file with runlimit =1 is probably not very useful, more files -> more confusion .

I have not put any real thought into this, more thinking aloud: Our thinking has been that phosim runs that hit limit are due to sky background. What if we are wrong and somehow, there is some superbright source that is creeping into the image? But we cannot even look at th

[2016-04-06 01:35] TomGlanzman commented on #186
@rbiswas4 it would seem that the 1 sec exposure visits corresponding to the 30 sec timed out runs might have some clues as to the presence of extremely bright sources?  Or directly from the instance catalogs?

[2016-04-06 01:57] rbiswas4 commented on #186
@TomGlanzman That is correct though. But to get that from the exposures the same way we are trying to calculate the sky noise, it would require the 1 second run to go through the DM processing.  That is a possible route we should explore.

Instance catalogs, yes, it should be possible, but it is not clear what makes a source too bright etc. yet to me.

[2016-04-06 05:13] jchiang87 commented on #209
@rbiswas4 [Here](https://travis-ci.org/DarkEnergyScienceCollaboration/Twinkles/builds/121062699) is a travis-ci build with `pylint --py3k` running on all of the `.py` files in the repo.  This looks like it does what we want.  The next step would be to `futurize` the current code.

[2016-04-06 16:12] rbiswas4 commented on #209
@jchiang87 Great!

So, if I understand correctly:
where we should have had a __future__ statement but don't, it says:
'missing'
and where we have used a python 2 style print statement that is incompatible with python 3: it complains with print statement used.

A question:
- By default, I have a problem with pylint in that it seems to not recognize numpy modules as a valid members. Of course this,

[2016-04-06 16:37] jchiang87 commented on #209
@rbiswas4 One can specify a configuration at the command line, e.g.,
[code]

I'm not sure I understand what you want me to do regarding pushing to master but commenting out the pylint lines.   I guess I would suggest that everyone `futurize` their code and push to the `issue/209/python3_compatibility` branch.   Each push will trigger a travis build on that branch, which is fine, I think.  Once tha

[2016-04-06 16:57] rbiswas4 commented on #209
Ah good. So the rcfile can be supplied in the repository itself.

That sounds like a better alternative.

Sure

I will try to find an example.

[2016-04-06 17:52] jchiang87 commented on #209
@rbiswas4 BTW, I do have a little test repo that I've been using to experiment with the travis-ci configs.  Having one in DESC for people to try out and use as an example is a good idea.  I'll see about making one available.

[2016-04-06 17:54] ktlim commented on #210
@jchiang87 Could someone file a DM JIRA ticket for the `butler.subset` breakage you mentioned?  I'm not aware of any particular problems, and I don't see anything related in the existing tickets.

[2016-04-06 17:57] jchiang87 commented on #210
sure. will do

[2016-04-07 01:24] rbiswas4 opened #213 "Create an accessible small data repository for tests"
The outputs of DM processing are kept in a data repository which has a particular structure that is defined in a mapper file. For our run1 having 985 visits, this is a large-ish repository with ~385 gigs of data. This makes it hard to work on computers with small hard drives. This is even harder if we want to run unit tests in a continuous integration system as the data must be donwloaded into the

[2016-04-07 01:41] rbiswas4 commented on #213
I checked that zipping the data with a tar zips it down from ~1 G to ~< 500 MB. So, I can see us putting in 10 ish visits for 1 G.

[2016-04-07 04:42] rbiswas4 opened #214 "Code Organization for Twinkles related projects"
We need to come up with a hierarchy of packages in order to prevent the situation where package A requires package B and package B requires some functionality in package A. Right now we have various LSST packages, OM10 .

I think it is easy to simply say that these packages will never import Twinkles code (Twinkles code that is thought to be more generally useful will be pushed into these packages

[2016-04-07 04:45] drphilmarshall commented on #183
Hi all,

Thanks for filling out the doodle poll. We have some options for next week, but none of them are perfect - it seems impossible to get both Chris and Michael at the same high popularity time. @cdfassnacht @wmwv are any of these three slots possible for you both?

A. Weds 1pm PDT / 4pm EDT (10 yes, 0 if-needs-be, 1 no = MWV)
B. Thurs 2pm PDT / 5pm EDT (9, 2, 1 no = MWV)
C. Thurs 12pm PDT /

[2016-04-07 05:12] jchiang87 commented on #214
I think this is a good discussion to start having.  My preference would be to spin off functionality that is not Twinkles-specific into separate packages, e.g., postage stamp creation, db access, etc..  Since Monitor seems to be more generic than Twinkles, having Twinkles (and other packages) depend on Monitor seems fine to me, but stuff currently in Twinkles that is needed by Monitor should eithe

[2016-04-07 05:26] rbiswas4 commented on #183
@drphilmarshall

The only 9,  2, 1 distribution I can see on the poll is on Tuesday ... is that a typo?

[2016-04-07 09:23] cdfassnacht commented on #183
Hi Phil,

Our weekly cosmology seminars are Thursdays at noon, so I cannot make that
slot.  Sorry.

   Chris

On Wed, Apr 6, 2016 at 9:45 PM, Phil Marshall <notifications@github.com>
wrote:

--
Chris Fassnacht
Professor, Physics Dept.
UC Davis
1 Shields Ave.
Davis, CA 95616
+1-530-554-2600

[2016-04-07 15:23] drphilmarshall commented on #214
Sounds good. What are the principles we should try and stick to do when
building these sorts of inter-dependent packages? Should packages be
somehow "atomic" (ie small and indivisible), or is there a different
logical boundary to draw? I guess trying to keep each package as light
weight as possible is desirable too - but what trumps lightness?

On Wed, Apr 6, 2016 at 10:12 PM, James Chiang <notifi

[2016-04-07 15:44] drphilmarshall commented on #183
Right, and Michael said he could not do any late afternoons EDT. If neither
of you can get round these constraints, we can look at the next best
option, which would be to *alternate* between A and C, One week we get
Michael, the next we get Chris. Shall we give that a try?

 A. Weds 1pm PDT / 4pm EDT (10 yes, 0 if-needs-be, 1 no = MWV)
 C. Thurs 12pm PDT / 3pm EDT (6, 5, 1 no = CDF)

On Thu, Apr 7

[2016-04-07 15:49] jchiang87 commented on #214
The immediate problem we need to solve (or avoid) is circular dependency, e.g., Twinkles and Monitor somehow requiring the other.  More broadly, I think we'd like to avoid dependencies between packages that are nominally at the same level of generality, e.g., a WL package should not require functionality in Twinkles (the dependency tree shouldn't have any closed loops.)

I don't necessarily see a

[2016-04-07 15:55] heather999 commented on #214
In agreement with @jchiang87, I might add that it doesn't hurt to periodically review the packages to consider the need for refactoring and creation of smaller packages.

Speaking of eups.. I have been happy to see strides towards an improved eups introduction:
https://github.com/lsst-dm/dm_dev_guide/blob/master/build-ci/eups_tutorial.rst

[2016-04-07 16:00] heather999 commented on #204
I set off to do an install at NERSC on Cori.  Thanks to @rbiswas4 for pointing me to your previous work on this - particularly the loadmodules.sh used for edison.  Cori has a slightly different list of pre-loaded modules - I adjusted it as I thought best (a bit of a shot in the dark!), but I made sure to load the anaconda python 2.7 and gcc 4.9.3.  Was there any particular way you were able to arr

[2016-04-07 16:16] danielsf commented on #183
Sorry  to make this more complicated, but UW has a job candidate visiting,
so it seems unlikely that Simon, Rahul, and I will be at today's meeting.

-- Scott

On Thu, Apr 7, 2016 at 8:44 AM, Phil Marshall <notifications@github.com>
wrote:

[2016-04-07 16:20] drphilmarshall commented on #183
OK, thanks for letting us know! We'll focus on the Run 1.1 Data Release,
and the project approachability stuff. If you have comments on any agenda
items, please do write them into the notes before 12 PDT if you can!

On Thu, Apr 7, 2016 at 9:16 AM, danielsf <notifications@github.com> wrote:

[2016-04-07 16:21] rbiswas4 commented on #204
@heather999 : for me the set of modules on edison came about more by trying to build on stuff @SimonKrughoff and @wmwv had done on nersc machines and rambling across failures than with any clear insight, other than wanting to use a set of nersc provided compatible modules. And obviously, things will need modifications on cori as you are pointing out.

I ran into a problem with mariadb during stack

[2016-04-07 16:28] jchiang87 commented on #210
@ktlim Here's the ticket:  [DM-5735](https://jira.lsstcorp.org/browse/DM-5735)

[2016-04-07 16:51] heather999 commented on #204
Thanks for the response @rbiswas4 I'll play around with the modules and see if I can move forward. I'm thinking I should do a module swap PrgEnv-intel PrgEnv-gnu..  I'll give that a try and see if I can use "module show" to help me understand what some of these other preloaded modules are.

[2016-04-07 18:37] danielsf commented on #210
For what it is worth:

There is now a sims-compatible conda install of lsst_apps

You just need to start a conda environment, add the dev channel with

conda config --add channels http://eupsforge.net/conda/dev

and then run

conda install lsst-apps

and you should get lsst-apps in binary form.  Let me know if any of those statement prove to be untrue.

[2016-04-07 18:46] heather999 commented on #210
Thanks, @danielsf, I'll give that a try.

[2016-04-07 18:58] drphilmarshall commented on #183
Look at the time! We're meeting in 2 minutes :-) https://bluejeans.com/513427879/

[2016-04-08 16:16] heather999 commented on #210
I gave it a try at SLAC on RHEL6-64, using Anaconda Python 2.3 (python 2.7.10) and hit a little snag (I would not rule out pilot error, and I will try it again on my own laptop - perhaps with a newer Anaconda). Any suggestions @danielsf?  Here is the ultimate error, with the rest of the output following:
Error: ERROR: placeholder '/home/ilan/minonda/envs/_build_placehold_placehold_placehold_placeh

[2016-04-08 16:53] danielsf commented on #210
I have never seen that error before (and it's rare enough that stackoverflow doesn't seem to have any answers).  Did it work with the newer anaconda?  I would try updating anaconda on the SLAC machine and see if that fixes it.

[2016-04-08 17:59] heather999 commented on #210
An update.. I installed anaconda 2.5 and did "conda update conda" before trying again. It failed the same way.  I did find a GitHub issue, which seems to imply that the problem stems from my path being longer than the one used by conda as a placeholder.  I can try doing this in another directory with a shorter path to see if that takes care of it:
https://github.com/rtfd/readthedocs.org/issues/190

[2016-04-08 18:15] danielsf commented on #210
@mjuric  Is this something we can easily change within conda-lsst (give the packages larger place-holder names so people installing into environments with ridiculously large directory structures don't have a problem)?

[2016-04-08 18:31] heather999 commented on #210
and just to confirm.. using a less than ridiculously large directory path worked, please note some of us have little control over this! :) I haven't tested the installation yet, but it completed successfully.