[2016-04-08 18:34] danielsf commented on #210
Thanks, @heather999 we will try to fix the conda build to be more accommodating.  Sorry this is a problem.

[2016-04-08 18:46] heather999 commented on #210
Thank you @danielsf for the conda install and the help!

[2016-04-08 19:04] heather999 commented on #208
After @KirkGilmore's comments, I'd like to understand where GitHub markdown docs and Confluence fit together. So we have LSSTDESC: https://confluence.slac.stanford.edu/display/LSSTDESC/Twinkles (which points to GitHub), this GitHub area, and the more general DESC Computing area in Confluence: https://confluence.slac.stanford.edu/display/LSSTDESC/Computing+and+Infrastructure, is there anywhere else

[2016-04-08 20:07] tony-johnson commented on #208
A few personal comments to follow up on some of the remarks @KirkGilmore made.

I think it would be useful to have a page in confluence for the weekly Twinkles meeting, with essential information including bluejeans number. I think this would make it much easier to find rather than having to search github for a particular issue (we can always link to the github issue from confluence).  I would als

[2016-04-08 20:08] drphilmarshall commented on #208
@heather999 Thanks Heather - great if you can make a first attempt at a
Getting Started markdown page, and find a good way of linking to it from
the README and from confluence. We have another potential entry point as
well, in that we can make a very simple Twinkles website via the gh-pages
web hosting service. This would have the URL
http://darkenergysciencecollaboration.github.io/Twinkles and mi

[2016-04-08 20:13] drphilmarshall commented on #208
@tony-johnson  Good point, I should be posting the meetings to the
calendar. We can certainly make a weekly meetings page in confluence too
(or maybe just add notes about this from the current Twinkles confluence
page). I guess this confluence page serves as a introduction to the project
for DESC members who find it by browsing or searching confluence rather
than Googling for it.

Regarding the se

[2016-04-10 05:08] mjuric commented on #210
@heather999 This is a generic issue when one tries to make binaries relocatable w/o changing their source code.

The way `conda` does relocation is that it patches the binary files by looking for placeholder strings and replacing them with the directories into which the code is being installed. This is easy to do in text files, but not so in binary files. If the placeholder is too short, there'll

[2016-04-11 17:00] jchiang87 commented on #161
I filed a ticket for this issue and #162 with DM at  [DM-5758](https://jira.lsstcorp.org/browse/DM-5758).

[2016-04-11 17:01] jchiang87 commented on #162
Ticket filed with DM at [DM-5758](https://jira.lsstcorp.org/browse/DM-5758)

[2016-04-11 17:05] cwwalter commented on #161
Careful!

If you divide by 0 you die: “The Kid Who Learned about Math on the Street by Roz Chast:

https://t.co/pXMeH1zzhk

[2016-04-11 17:34] drphilmarshall commented on #162
Nice! BTW you can now see a record of all the DM tickets we have generated
in [this filtered issue list](
https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues?utf8=%E2%9C%93&q=label%3A%22DM+Ticket%22+).
We are at 3 and counting!

On Mon, Apr 11, 2016 at 10:01 AM, James Chiang <notifications@github.com>
wrote:

[2016-04-11 19:28] SimonKrughoff commented on #161
@jchiang87 Thanks for filing that ticket.

[2016-04-11 22:23] jchiang87 commented on #162
Some progress at [DM-5758](https://jira.lsstcorp.org/browse/DM-5758):  Paul Price pushed some updates to the corresponding ticket branch of obs_lsstSim that seem to address this issue and #161.  We'll need an update of the Stack in use at SLAC.

[2016-04-12 19:05] jchiang87 commented on #210
@danielsf I was able to install lsst-apps and lsst-sims on cori in my user directory.  The installation seemed to succeed, but when I try to use the code I get this:
[code]
Any suggestions?

[2016-04-12 19:20] mjuric commented on #210
@jchiang87 Is openssl installed on Cori (and if so, could you check the version)? Also, what is the version of the OS?
@danielsf Where do you build your binaries?

[2016-04-12 19:25] heather999 commented on #210
Looks like openssl is there:
heatherk@cori10:~> which openssl
/usr/bin/openssl
heatherk@cori10:~> ls /usr/lib/*ssl*
/usr/lib/libssl.so.0.9.8  /usr/lib/libssl.so.1.0.0  /usr/lib/libssl3.so
heatherk@cori10:~>

[2016-04-12 19:27] cwwalter commented on #210
The OS on Cori is a (cray modified?) version of open suse.

[2016-04-12 20:02] jchiang87 commented on #210
@mjuric Here is the info I could find on the openssl I'm using:
[code]
As Chris notes, the OS is based on a version of SuSE Linux Enterprise Server distribution.

[2016-04-12 20:04] mjuric commented on #210
@heather999, @jchiang87 -- try creating a link to `/usr/lib/libssl.so.1.0.0` named `libssl.so.10`, and place it somewhere onto the `LD_LIBRARY_PATH` where the code can see it. The issue is that RHEL installs the openssl library as `libssl.so.10`, rather than `libssl.so.1.0.0` ( e.g., see an analogous issue at http://askubuntu.com/questions/339364/libssl-so-10-cannot-open-shared-object-file-no-such

[2016-04-12 20:06] cwwalter commented on #210
OK FWIW I have done this and it works... but for a previous version.

Jim I think maybe the way you are calling it is wrong.  Don't do the module setup.

Just do something like this:

set path = (/global/u1/c/cwalter/LSST-Conda/bin $path)
ource /global/u1/c/cwalter/LSST-Conda/bin/eups-setups.csh

then which which python you are using and just try python
then you can try a setup pipe_tasks or somet

[2016-04-12 20:07] cwwalter commented on #210
Just to be even more explicit:  Don't use cori's anaconda setup.  First do the anaconda installation yourself.  The, install lsat-sims as part of that installation.  Use that closed system.

[2016-04-12 20:10] heather999 commented on #210
@cwwalter I've been going back and forth wondering if we wanted to install our own shared anaconda at NERSC - but the convenience factor of using theirs had won out in my recent experiments.  So.. are you suggesting we should go with our own shared Anaconda python installation if setting up a shared stack install at NERSC?
I'm not advocating one way or the other.. just wondering..

[2016-04-12 20:11] jchiang87 commented on #210
Thanks, Chris.  If followed the procedure as best I could ascertain it from reading the NERSC documentation on using Anaconda.  I'll give your suggestion a try.

@mjuric That symlink got past the openssl linkage problem, but now I see:
[code]

[2016-04-12 20:17] cwwalter commented on #210
Hmm... That's how I did it.  I would actually be surprised if it worked using the cori shared distribution.  Scott built the lsst-sims using his installed anaconda python.  You are going to want to use the same system I think.  Actually,  I don't quite even understand how you  installed the lsst-sims packages in your own area using their setup.

In terms of convenience I don't really think there i

[2016-04-12 20:17] jchiang87 commented on #210
For the record, setting a similar symlink for libcrypto.so.10 gets me to the point where the Twinkles unit tests pass.   I'll do more tests, but I suspect the cori anaconda can actually work for this.

[2016-04-12 20:19] cwwalter commented on #210
I think the other reason for having our own contained system is that we may need particular versions of anaconda for our versions of the stack/sims.  We can't really control what happens to the cori anaconda.  So things might either break from under us, or not be up-to-date enough for a new version we need.

[2016-04-12 20:24] heather999 commented on #210
@jchiang87 where does your libcrypto.so.10 point to?
For fun I installed the conda version at:
/project/projectdirs/lsst/lsstDM/Cori/LSST_STACK-conda-2016-04-12
so if you do:
source activate /project/projectdirs/lsst/lsstDM/Cori/LSST_STACK-conda-2016-04-12
others could try it out

I do see your point @cwwalter and I don't know yet how often we'll want different or more up to date versions of anaco

[2016-04-12 20:24] mjuric commented on #210
@cwwalter -- I think the LSST conda binaries should pull the correct versions of everything they need into the conda environment (if they don't, it's a bug and we need to fix it). So (in theory), there should not be a significant gain from having your own install of anaconda [*].

[*] The only time you may need to do that is if you're using packages that can only be installed into the root environ

[2016-04-12 20:25] mjuric commented on #210
@jchiang87, @heather999 Good to know that the symlinks worked! Could you still open a bug on conda-lsst, so we don't forget to solve this going forward?

[2016-04-12 20:25] jchiang87 commented on #210
sure, will do.

[2016-04-12 20:29] cwwalter commented on #210
Hmm... so how does this actually work? You declare your own environment and it installs everything it needs there?   Somehow if you didn't explicitly install it (including through dependencies) it can fall back on the other environment on cori?

[2016-04-12 20:33] heather999 commented on #210
@jchiang87 I'm sure it's documented somewhere .. can you point me to how one runs the Twinkles unit tests?

[2016-04-12 20:39] jchiang87 commented on #210
@heather999 We're still sorting out the documentation on setting up the environment (#189).
This is what I did (after setting up lsst_apps):

[code]
It will skip the db tests if you don't have a mysql server running, but that is by design.

[2016-04-12 20:43] mjuric commented on #210
@cwwalter: I think it's a matter of passing the `--prefix` flag to `conda create` to create an environment in a directory that's writable to you. Here's an example (run on my mac, but should apply everywhere):

[code]
Note how it pulled in `python`, `numpy`, etc.., including setting up the `nomkl` versions.

[2016-04-12 20:43] jchiang87 commented on #210
@heather999 I'm getting this:
[code]

[2016-04-12 20:48] cwwalter commented on #210
@mjuric Ah I see.  So really the only thing you are using is the hosts 'conda' executable itself.  Anything you need needs to be put in your new environment anyway right?  It can't access the "default" environment anymore.

[2016-04-12 20:52] heather999 commented on #210
@mjuric One more slightly off-topic question.. I went to add lsst-sims to the conda environment I already installed lsst-apps, it did warned me about pulling in a different tag of numpy:
numpy:                         1.11.0-py27_0 --> 1.11.0-py27_nomkl_0
Is there any reason to be concerned if lsst-apps and lsst-sims are looking for different versions of numpy? even if only slightly different..

T

[2016-04-12 20:57] heather999 commented on #210
@jchiang87 this might be why:
ls -l /project/projectdirs/lsst/lsstDM/Cori/LSST_STACK-conda-2016-04-12/var/opt/eups/ups_db/cfitsio/
total 128
-rw-rw-r-- 1 heatherk lsst 411 Apr 12 13:01 3360.lsst4.version
lrwxrwxrwx 1 heatherk lsst 104 Apr 12 13:01 b2003.chain -> /global/homes/h/heatherk/.conda/envs/.pkgs/lsst-cfitsio-3360.4-0/var/opt/eups/ups_db/cfitsio/b2003.chain
lrwxrwxrwx 1 heatherk lsst 104 A

[2016-04-12 20:59] danielsf commented on #210
@mjuric The OSX binaries are built on my laptop; the Linux binaries are built on lsst-dev

[2016-04-12 21:03] mjuric commented on #210
@heather999 -- the `numpy` changes you're seeing are unfortunate but tough to avoid -- Continuum rebuilt numpy & co. with a MKL backend. MKL provides an (incomplete) implementation of BLAS and FFTW, and that implementation uses exactly the same symbols (function names) as do the regular ones. So once our code (that's been built against FFTW proper) gets loaded into the same address space with nump

[2016-04-12 21:05] mjuric commented on #210
@heather999 And `lsst-sims` will also pick up the `nomkl` versions from now on, so there should be no need to worry.

In general, we're striving for `conda install lsst-XXX` to always does the Right Thing (tm) and there's no need to futz around with anything else.

[2016-04-12 21:06] mjuric commented on #210
Also [see here](https://jira.lsstcorp.org/browse/DM-5123) for more about the MKL issue.

[2016-04-12 21:09] heather999 commented on #210
Thanks, @mjuric - that helps a lot.  I guess I'm wondering.. why didn't that version of numpy (1.11.0-py27_nomkl_0) get pulled in when I installed lsst-apps initially?  To be more clear.. initially I created the conda environment and installed lsst-apps (which installed  numpy: 1.11.0-py27_0)
.. then I went to install lsst-sims, and I was prompted that numpy would be updated. Wouldn't they both be

[2016-04-12 21:18] mjuric commented on #210
I'm guessing the `lsst-apps` build that you had installed is an old one (which channel did they come from?). Those don't get updated regularly, unfortunately (it's a resource issue -- we need a person to make those builds, and everyone's busy with other things right now). In this particular case, I suspect that w/o the `nomkl` versions that older code may not even run any more. If you get a chance

[2016-04-12 21:36] heather999 commented on #210
I'm using the same dev channel  for both apps and sims, so i though i was getting a fairly new lsst-apps.
http://eupsforge.net/conda/dev

No complaints from me! Maintaining binary installations is no small task and it's greatly appreciated.

[2016-04-12 21:38] danielsf commented on #210
the lsst_apps installed on the dev channel should have come from the same build as lsst_sims (we have recently decided that, to facilitate use by DESC, we would release a version of lsst_apps tagged as 'sims' and built against the same basic libraries as lsst_sims whenever we release lsst_sims).  If one pulls in nomkl and the other does not, that is odd.

[2016-04-12 21:44] mjuric commented on #210
Awesome!!

Yup. I can't reproduce this on `lsst-dev`, though:

[code]

@heather999 -- is it reproducible on cori?

[2016-04-12 21:47] heather999 commented on #210
I'll retrace my steps later tonight and repeat my install to confirm what I'm seeing and report back.

[2016-04-12 21:47] cwwalter commented on #210
OK.. For the record:

I went ahead an installed a new totally self contained Anaconda 4.0 + lsst-sims stack on cori.

It works fine with no openssl errors etc.

It is in

/global/project/projectdirs/lsst/cwalter/Anaconda

[2016-04-12 21:51] cwwalter commented on #210
and my (csh) setup to use it is:

[code]

[2016-04-13 15:20] heather999 commented on #210
It looks reproducible @mjuric @danielsf, and the behavior is different (and seemingly correct) if I repeat the experiment on the SLAC public RHEL6 machines. I also tried it again on Cori where I set the --prefix to "foo" rather than a full path into our shared directory space at NERSC - but the version of numpy it reportedly wants to install is still:  1.11.0-py27_0
I'm going to try again at NERSC

[2016-04-13 17:35] heather999 commented on #210
and now that I also installed Anaconda2-4.0.0 and used it to do the conda install at NERSC.. it picks up the correct numpy.  @cwwalter I hope you're smiling! :)  Must be some quirk with the NERSC supplied conda, I guess.

[2016-04-13 17:58] jchiang87 commented on #210
Using the NERSC anaconda, I'm getting the system python and numpy, which seem to be consistent version-wise with what's needed:

[code]

Running `processEimage.py` using the [tickets/DM-5758](https://jira.lsstcorp.org/browse/DM-5758) branch with Paul Price's fix, everything seems to work.   Furthermore, the `ndarray/tests/ndarray-python.py` tests also pass.

So as a practical matter, at least as f

[2016-04-13 18:53] heather999 commented on #210
Thanks, @jchiang87 I am still a bit confused.. however my fresh install clearly exhibits the same output for "eups list numpy" and numpy.__version__ as you report.  If I look in my Anaconda installation pkgs directory:
/project/projectdirs/lsst/lsstDM/Cori/python/anaconda2-4.0.0/pkgs
(/project/projectdirs/lsst/lsstDM/Cori/LSST_STACK-conda-2016-04-13)heatherk@cori03:/project/projectdirs/lsst/lsstDM

[2016-04-13 19:08] mjuric commented on #210
@heather999 looks like the NERSC Anconda is old enough for conda not to know about feature tags :( would they be willing to update it (just conda)? Otherwise, heed Chris' advice :)

[2016-04-13 19:10] heather999 commented on #210
I'll submit a ticket to NERSC and ask very nicely @mjuric :) and report back.

[2016-04-13 19:15] jchiang87 commented on #210
I'll try, but it wasn't clear from the previous discussion whether the permission problems I reported last time I tried were still an issue.

For the DM-5758 fix, set up lsst-apps, git clone a copy of obs_lsstSim, checkout branch tickets/DM-5758, then from the repo directory do
[code]
The test data to run on is in `/global/u1/j/jchiang8/twinkles/bugs/issues_161_162` and the command is
[code]
run f

[2016-04-13 19:25] cwwalter commented on #210
Words to live by :)

[2016-04-13 19:27] jchiang87 commented on #210
@mjuric I'm wondering whether the NERSC Anaconda version is the issue re: numpy.   At SLAC, I'm using the miniconda dist that one gets by following the lsstsw install process, and even though the nomkl versions are installed, I'm still getting the system python and numpy:

[code]

[2016-04-13 19:39] mjuric commented on #210
@jchiang87 Not sure I understand -- the above looks like you're picking up both the miniconda python and numpy?

[2016-04-13 19:41] mjuric commented on #210
Oh, I see what you're confused by -- the versions that euos list reports are always 'system', no matter what. This indicates that EUPS will pick up whatever is on the system, rather than building it's own python (we've stopped doing that a few years ago).

I agree that the choice of words id unfortunate -- we could've said "external".

[2016-04-13 19:47] jchiang87 commented on #210
I think I felt less confused before your answer, but that's fine.  The behavior I'm seeing at SLAC is consistent with what I am seeing at NERSC with my install.  I *think* you are telling me that that is all expected behavior.  If so and if everything works, that's good enough for me.

[2016-04-13 19:57] mjuric commented on #210
When your say `eups list python`, the version it shows is not the version of Python; it's the version of the EUPS package of Python. Back in the day we used to build python and we made tge package the same as the version of Python it built. But then we stopped doing that as everyone had python 2.7 installed and there was no reason to build ours. For backwards compatibility we kept the EUPS package

[2016-04-13 22:57] jchiang87 commented on #210
@heather999 I tried the Stack in
[code]
and the setup etc. all seem to go well, and the ndarray-python.py test ran ok as well as a couple test scripts in afw that don't try to write to the test directory.  Unfortunately, that Anaconda lacks pandas:
[code]
so the Twinkles code won't run.  `nose` is also missing, which is not necessary, but useful for running a full suite of test scripts in a packag

[2016-04-13 23:03] cwwalter commented on #210
I guess  you are using miniconda?  The normal anaconda does include pandas.  So you should do a conda install pandas to get it..

[2016-04-13 23:17] drphilmarshall commented on #202
Hey @jbkalmbach  - anything to report on the registration problem from these new coadds?

[2016-04-13 23:18] drphilmarshall commented on #175
This issue is starting to look like a real roadblock! Can you give us an update in the Twinkles weekly meeting tomorrow, please @SimonKrughoff ? Thanks!

[2016-04-13 23:26] drphilmarshall commented on #213
Hmm - where to put the data for unit tests... For now, I guess your own `public_html` directory would work - or dropbox perhaps. Is 1Gb really the smallest possible dataset to enable unit tests? I would think we could go quite a lot smaller than that (depending on the tests of course). Which test are you working to?

[2016-04-13 23:39] drphilmarshall commented on #183
Hi all - weekly Twinkles gathering tomorrow at 12 noon PDT, [notes here as usual](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit#heading=h.nz98cvmbcclg). Please add agenda items, so far we just have updates on NERSC setup, and Run 1.1 progress/roadblocks (ie. the registration problem). I guess we might briefly touch base on the retreat just to get things movin

[2016-04-13 23:55] drphilmarshall commented on #208
Update: I moved the [Twinkles confluence page](https://confluence.slac.stanford.edu/display/LSSTDESC/Twinkles) to live under "Computing WGs" and added links to our meeting notes, and the BlueJeans room we always use. I also put our meetings on the DESC events calendar. The confluence page still points at the repo README as our entry point, for now.

[2016-04-14 00:01] SimonKrughoff opened #215 "What happened to the script for generating phosim inputs?"
There used to be a script called generatePhosimInput.py, but I can't find it.  Was it renamed?

I need to make updates to it for the new reference catalog format.

[2016-04-14 00:02] jchiang87 commented on #215
https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/python/desc/twinkles/generatePhosimInput.py

[2016-04-14 00:02] drphilmarshall opened #216 "Database plan"
In response to the DB epic in #191: we need to start a simple markdown document, and use it to sketch as succinctly as possible our database needs for Run 1.1, Run 2 and Twinkles 2, so that we can communicate well with our colleagues at SLAC and NERSC (ie so we can send them a URL and ask for feedback). I'll make a stub and then pass it on!

[2016-04-14 00:04] SimonKrughoff commented on #215
Thanks, just found it.  Sorry for the noise.  I don't know why a search for that exact name didn't turn anything up.  I guess github search does not search file names.

[2016-04-14 00:04] #215 closed

[2016-04-14 00:11] SimonKrughoff opened #217 "Add code to make the reference catalog."
We should include code to make a reference catalog when we generate the phosim input catalogs.  I need a suggestion for where to put it.  In the old version this was in the same file as the code to generate inputs.

This is the code I use to do it:

[code]

[2016-04-14 00:14] drphilmarshall commented on #216
Alright, check out our new [Database Plan](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/doc/Database.md), as committed at https://github.com/DarkEnergyScienceCollaboration/Twinkles/commit/daae4834415f87b1a78a3372320d92239f628261 . It has lots of "XXX"'s in it - want to have a go at filling in the blanks, @jchiang87 ? The main thing I am missing is the numbers of records -

[2016-04-14 00:17] drphilmarshall commented on #142
@SimonKrughoff just provided code in #217 - does this belong in the Monitor, @rbiswas4 ?

[2016-04-14 01:34] SimonKrughoff commented on #175
@tony-johnson I'm trying to look at these coadds again, but I only see i, u, and y.  Are there others?

I'm looking in: /lustre/ki/pfs/fermi_scratch/Twinkles/2 on bullet.

[2016-04-14 04:16] drphilmarshall commented on #175
Tony's in Banff this week - maybe someone else can help Simon out?

On Wed, Apr 13, 2016 at 6:34 PM, SimonKrughoff <notifications@github.com>
wrote:

[2016-04-14 05:36] jchiang87 commented on #217
If this is intended as a standalone script that would take an opsim db file as input, I would argparse it and put it in the `bin` folder.  If this code should be packaged as a function that could be imported and used elsewhere, I would do that, then put it in `python/desc/twinkles`.

Note that I wrote `bin/build_index_files.py` based on the cookbook back when we only had r-band simulations, and th

[2016-04-14 05:47] jchiang87 commented on #175
Unfortunately, files in that scratch area are automatically deleted after 7 days.  I don't know if they had been moved elsewhere before that happened.

[2016-04-14 14:06] heather999 commented on #210
Sorry for the slow response.. @mjuric, the NERSC folks kindly updated their conda to 4.0.5 and that seems to have taken care of it.  Yea, NERSC! :)
Nah, it's not miniconda @cwwalter, I set up a new conda environment for lsst-apps and lsst-sims, that environment just didn't pull in nose or pandas.  I'm making a new install using the native Anaconda on NERSC and will add those packages in, pull in t

[2016-04-14 14:30] tonyj321 commented on #175
Hi, I did not realize that those files would be deleted, and the most recent runs were not copied off of the scratch area. I can recreate them (but will take a day or so). Should I rerun exactly the same as before?

Tony

[2016-04-14 14:51] jchiang87 commented on #210
Thanks @heather999.  I think the obs_lsstSim revisions will be an ongoing thing for a while, so it would be good to make the cloned obs_lsstSim area writeable by others in this group (assuming that is possible) so that we can update it with changes as necessary.

[2016-04-14 15:28] jchiang87 commented on #216
I've updated the [Database Plan](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/doc/Database.md) with some numbers.   In the db I have setup here at SLAC, the ForcedSource table dominates everything and has 40M rows corresponding to 4.7GB.  Note that the [ForcedSource schema](https://lsst-web.ncsa.illinois.edu/schema/index.php?sVer=baseline&t=ForcedSource) is pretty minimal

[2016-04-14 15:51] SimonKrughoff commented on #175
@tony-johnson yes please re-run them. Thanks!

[2016-04-14 18:30] SimonKrughoff commented on #175
So.... Here's where I am.  I have g, i, and y coadds from run 1.  I over-plot the reference sources in green on the coadds using the coadd WCS and get the following.  In the order: g, i, y.  As you can see, none of them agree with the reference and none of them disagree in the same way.

I don't know why this is yet.  I need to go back and see when the two begin to disagree.
<img src="https://clou

[2016-04-14 18:49] heather999 commented on #210
@jchiang87 Ok - I reorganized a bit and got nose, pandas, and obs_lsstSim ticket/DM-5758 setup.
lsst-apps and lsst-sims are installed in:
source activate /project/projectdirs/lsst/lsstDM/Cori/conda-env/2016-04-14/LSST_STACK
obs_lsstSim is in /project/projectdirs/lsst/lsstDM/Cori/conda-env/2016-04-14
Yes, we'll leave obs_lsstSim group writable - need to fix that.
I don't seem to have permissions fo

[2016-04-14 18:54] jchiang87 commented on #210
I've updated the permissions to that directory recursively.  Let me know if you still can't access it.

[2016-04-14 20:28] heather999 commented on #210
Getting closer @jchiang87..  now I have a runtime error due to a missing script?
So.. I declared this updated version of obs_lsstSim to eups:
setup lsst_apps
export EUPS_PATH=/project/projectdirs/lsst/lsstDM/Cori/conda-env/2016-04-14/LSST_STACK/stack:$EUPS_PATH
eups declare obs_lsstSim DM-5758 -r . -c
setup obs_lsstSim
and then I hopped into the /global/u1/j/jchiang8/twinkles/bugs/issues_161_162 d

[2016-04-14 20:35] SimonKrughoff commented on #175
@tony-johnson We talked about re-running things and we think it's probably better to hold off for a bit.

I think I may have a handle on the astrometric issues, and if we wait until next week, we may have a chance to fix some bugs as well.

[2016-04-14 20:48] sethdigel commented on #175
The i, u, y files were written on April 11 and so nominally will be deleted on the 18th.

[2016-04-14 20:56] jchiang87 commented on #210
Right, you need to do
[code]
before running processEimage.py.   This is, at some level, in the [cookbook](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/doc/Cookbook/twinkles_cookbook.md#process-the-data-using-the-dm-stack).

[2016-04-14 21:58] drphilmarshall opened #218 "Start Level 2 database emulation project in spin-off repo"
The idea is to emulate the Level 2 database that the DM stack will make, as simply and cheaply as possible, just so we can start analyzing the Twinkles 1 Run 1/2/3 data. We'll need a suitably-named DESC repo made with the cookie-cutter, a README that explains what we are trying to do (and what we are not trying to do) and then the code that @jchiang87 and @rbiswas4 have been playing with. Oh, and

[2016-04-14 22:03] drphilmarshall commented on #216
Cool, thanks @jchiang87 . We decided to try and include image differencing from Run 2 onwards ( #197 ), so I think we will indeed need that extra order of magnitude... Let's cite some issues in the plan to help us navigate all this - I'll add a few, if you see any gaps maybe do likewise? Thanks!

[2016-04-14 22:04] jbkalmbach commented on #202
No, sorry. But is this maybe duplicating in part @SimonKrughoff's work in #175 based upon what we heard today?

[2016-04-14 22:05] jchiang87 commented on #218
I sort of like "Tserv", though maybe "Kserv" where we explain that 'K' stands for kludge would be more descriptive.

[2016-04-14 22:09] drphilmarshall commented on #216
OK - 100M in Run 2 became 1B, and then 3B in Twinkles 1 became 30B. (although I think I am using both 'B' and 'G' to denote billion...) Is it really a factor of 10 to include the DIASources? If we switch to image differencing I guess we can stop tracking the ForcedSources as well, at least in Run 3 (we'll want both in Run 2 for testing, I expect).

[2016-04-14 22:10] drphilmarshall commented on #202
I think so - let's discreetly close this away :-)

[2016-04-14 22:10] #202 closed

[2016-04-14 22:12] drphilmarshall commented on #175
From today's notes:

Let us know what you find out, @SimonKrughoff ! Here's hoping it's a simple configuration change.

[2016-04-14 22:13] jchiang87 commented on #216
The DIASources table looks like it has about 70 columns vs 5 for ForcedSources.  Given that the indexing contributes negligibly for these tables (which runs contrary to what I've been told previously), the db size will scale with the "average_row_length", which is just the number of columns times the average entry size in bytes.  (BTW, "B" for bytes probably precludes using it for billion).

[2016-04-14 22:14] drphilmarshall commented on #162
Who's taking care of the SLAC Stack update, to bring in Paul's `processEimage.py` bug fixes? There's two closable issues and 10 story points for whoever steps up! :-)

[2016-04-14 22:17] heather999 commented on #210
ah, ok, now it goes to completion (with some warnings in there but I'm declaring success). In the Twinkles meeting live notes I saw mention of some branches on lsst-sims, are there some updated packages that need to be installed? or perhaps that is still being determined?
I think I'll get a setup script put together and then post this on the "DMstack install at NERSC" issue so people can try it ou

[2016-04-14 22:17] drphilmarshall opened #219 "processEimage.py ends with runtime error in meas_astrom/matchOptimisticB.py on v488756-fu data"
@jchiang87 You mentioned in our meeting that there was another bug in the Level 2 pipeline, something about the butler being passed something bad. You were going to check with @SimonKrughoff I believe. Here's hoping it's ticketable! We win when we generate DM tickets.

[2016-04-14 22:20] drphilmarshall opened #220 "Transfer Run 1.1 outputs to NERSC when they are made"
So that everyone can work on them. We did this for Run 1, right @tony-johnson? Great if we can open up the pipe and flush everything down it again.

[2016-04-14 22:24] drphilmarshall opened #221 "Assemble repeatability validation script, document it, and check in"
So that @TomGlanzman can pick it up and run it at SLAC, on the Run 1.1 outputs, either as part of the workflow or otherwise but that's a separate issue). Thanks, @wmwv !

[2016-04-14 22:31] drphilmarshall commented on #216
Good, thanks! Edited page, [see what you think.](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/doc/Database.md)

[2016-04-14 22:38] drphilmarshall commented on #179
@richardxdubois @tony-johnson @TomGlanzman The [CHEP2016](http://chep2016.org/) meeting is October 8-14. What do you think about having the Twinkles retreat the week right after that? Could be a nice change, no? :-)

The week of October 17-21 is currently the most popular week on the [doodle poll](http://doodle.com/poll/xpdcrkdzhaverii2), although Richard still hasn't voted. The update from Michae

[2016-04-14 22:46] jchiang87 commented on #219
Actually the thing I mentioned to Simon regarding the butler and `obs_lsstSim/ingestImages.py` is pretty minor, just an interface change in some of the pipe task code that is a single line fix in `ingestImages.py`.   But I'm seeing another issue using the merged DM-4302 branch, but I need to understand it better.  The processEimage.py one looks like a genuine bug, along the lines of #161 and #162,

[2016-04-14 22:46] drphilmarshall commented on #218
K is also for "Krughoff". Hah! Also Kindergarten.

There's also Pserv, which comes before Qserv (and evokes politeness). P is
for Phil, Pragmatism, Pinch, Preliminary.

Or Iserv, because there's no queue, just one machine providing data access
- and we're writing it ourselves, and it's an Interim solution. This one's
a bit corporate though.

Uchoose!

On Thu, Apr 14, 2016 at 3:05 PM, James Chiang

[2016-04-14 22:48] drphilmarshall commented on #210
The setup script you have in mind - would that be something I could and
should run on my laptop, too, Heather? Or is it just for NERSC? I am happy
to be a guinea pig!

On Thu, Apr 14, 2016 at 3:17 PM, Heather Kelly <notifications@github.com>
wrote:

[2016-04-14 22:49] jchiang87 commented on #162
I've got the Stack installed at /nfs/farm/g/desc/u1/LSST_Stack_2016-04-12 via the conda distribution (thanks @danielsf!  It would be great if I never have to build afw again!)  I would like to close these two issues, but I need to resolve the obs_lsstSim discrepancies between Simon and my different merges of DM-5758 and DM-4302 first.

[2016-04-14 22:50] drphilmarshall commented on #219
Ah, OK - feel free to re-title this issue to accurately reflect the problem
you have. I'm still hoping it leads to a DM Ticket! :-)

On Thu, Apr 14, 2016 at 3:46 PM, James Chiang <notifications@github.com>
wrote:

[2016-04-14 22:54] jchiang87 commented on #218
oooh. Pserv is good.  I'll go with that, unless someone objects.

[2016-04-14 22:54] SimonKrughoff commented on #175
@tony-johnson @drphilmarshall It turns out I was wrong.  I don't believe this is due to fragility in the matching.  When looking at all the CoaddTempExp files, they all register well when matched on WCS.

It turns out that the WCS in the coadd is different from the CoaddTempExp files.  This can't really happen in normal processing flow.  I think the only way this is possible if the makeDiscreteSky

[2016-04-14 22:56] drphilmarshall commented on #218
Also "pea-brained"

On Thu, Apr 14, 2016 at 3:54 PM, James Chiang <notifications@github.com>
wrote:

[2016-04-14 22:57] jchiang87 commented on #210
The branches at issue are in obs_lsstSim and still need sorting out.  I think that the Stack as-is from the conda distribution, without the obs_lsstSim branch needed for Twinkles is a useful thing by itself to make available for DESC NERSC users.   I would recommend keeping the obs_lsstSim branch build as a separate thing that people who really need it (and know how to) can enable independently.

[2016-04-14 22:58] drphilmarshall commented on #175
That's OK - one thing at a time! :-)

Let's fix the coadd WCS then. Are you saying that the cookbook is correct
but the workflow is not, or that you need to edit the cookbook?

On Thu, Apr 14, 2016 at 3:54 PM, SimonKrughoff <notifications@github.com>
wrote:

[2016-04-14 23:02] SimonKrughoff commented on #162
I will look this over and merge if I can.

[2016-04-14 23:05] SimonKrughoff commented on #175
I think it is simply a transcription error when translating the cookbook to a parallel system.  I'll have a look.

[2016-04-14 23:07] heather999 commented on #210
actually now that you mention it @drphilmarshall I was thinking of a script to setup the environment for NERSC users to use the DMstack install (and I'll follow @jchiang87's advice above).. but would a general installation script that could grab miniconda, setup the conda install of DMstack (lsst-apps & lsst-sims), add nose, pandas, check for things like libssl.so, etc be useful to other Twinkles

[2016-04-14 23:09] SimonKrughoff commented on #175
Ah, here it is.  I think [this](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/7f249b8c0fae8ed32d2364ae615dc7b9ad14eff5/workflows/DM/processEimage#L4) line needs to go [here](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/7f249b8c0fae8ed32d2364ae615dc7b9ad14eff5/workflows/DM/assembleCoadd#L1) and that will solve the problem.

[2016-04-14 23:44] drphilmarshall commented on #210
Sounds good - please do focus on NERSC for now, as that is the most
pressing thing. But then once that's done, it would be great to make it
easy for poor DESC Members like myself to get set up so we can contribute
to Twinkles and make our fortunes :-)

On Thu, Apr 14, 2016 at 4:07 PM, Heather Kelly <notifications@github.com>
wrote:

[2016-04-14 23:44] drphilmarshall commented on #175
Bonza! @tony-johnson, we could be almost back on track!

On Thu, Apr 14, 2016 at 4:09 PM, SimonKrughoff <notifications@github.com>
wrote:

[2016-04-15 06:14] jchiang87 commented on #219
I've placed the relevant data in `/global/u1/j/jchiang8/twinkles/bugs/issue_219` at NERSC in case anyone wants to reproduce the error.  I'm using the current `tickets/DM-4302` branch of `obs_lsstSim` built against the conda install of lsst_apps which appears to have tag `b2003`.  Here is the command and error message:
[code]

[2016-04-15 14:33] tonyj321 commented on #175
OK, I just reran the original yesterday, using GPFS as the file system, and it finished in <24 hours. The output is here:

/gpfs/slac/kipac/fs1/g/desc/Twinkles/302

if anyone is interested. Will rerun again with the fix from Simon.

[2016-04-15 17:58] SimonKrughoff commented on #219
This does not fail for me using 4302 and a stack built at the beginning of the week.  I'm afraid master and the conda have diverged.

[2016-04-15 18:10] jchiang87 commented on #219
yes. everything is in `/nfs/home/jchiang/Twinkles/tickets/issue_219`

[2016-04-15 18:24] jchiang87 commented on #219
I just tried doing `setup lsst_apps -t b2010` at lsst-dev and see the same failure.

[2016-04-15 19:03] heather999 commented on #204
There is a conda-based installation now available at NERSC for shared use. For now, I am hoping others can give it a try so we can work out any issues that arise.
The install is here:
/project/projectdirs/lsst/lsstDM/Cori/conda-env/2016-04-15
The directory contains a simple setup script: setupVanillaStack.sh
We backed off an installation from source due to the availability of lsst-apps and lsst-si

[2016-04-15 19:18] wmwv commented on #204
@heather999
Awesome!  Thank you.

What is the equivalent of `setupVanillaStack.sh` that is less chatty and doesn't change the PS1 prompt?  Right now I'm just resetting the PS1 prompt after sourcing `setupVanillaStack.sh`, and this isn't a big deal.

[2016-04-15 19:31] mjuric commented on #204
@wmwv I haven't looked at the script, but my guess is that you're looking for: http://conda.pydata.org/docs/config.html#change-command-prompt-changeps1

[2016-04-15 19:44] wmwv commented on #204
@mjuric Thanks for the suggestion.  Sadly, no joy:

[code]

[2016-04-15 20:01] jchiang87 commented on #219
Doing
[code]
as described [here](https://community.lsst.org/t/shared-stack-on-lsst-development-machines/641/15) to get the most recent weekly, I still seeing the same error for that dataset.

[2016-04-15 20:09] SimonKrughoff commented on #219
@jchiang87 I don't think this is a bug in the stack.  I think it's a bug in the data.  We changed how the inputs were generated at one point.  That required a change in the astrometry data.  If I use a different version of the `and_files` other than the one you included in your package, it works (sort of).

There is a problem with the registry and I'll look into that next.

[2016-04-15 20:12] jchiang87 commented on #219
Are you using the and_files_0229 data, i.e., what is currently being used in the SLAC workflow?

[2016-04-15 20:28] SimonKrughoff commented on #219
I'm not sure I understand the question.  The and_files_0229 astrometry_net_data files are old and shouldn't be used for anything other than testing with equally old data.  The SLAC workflow is **not** using these files.  It is using an updated set of files.

[2016-04-15 20:32] SimonKrughoff commented on #219
I'm afraid that I'm going to end up chasing old bugs if we keep testing against old data.  Do you mind running these tests against run1 data instead?

[2016-04-15 20:34] jchiang87 commented on #219
I think we some provenance here.  Where, if any place, do we specify which and_files are being used in the SLAC workflow?  I really have been making a genuine effort to use what I understand to be consistent datasets as well as checking that any changes I make to my local copies of the code actually try to fix things.  If we don't want to waste any more of my time and yours, I think we need to be

[2016-04-15 20:41] SimonKrughoff commented on #219
I totally agree.  I don't have any visibility into how the SLAC data are being curated.  This is a problem in general with the astrometry_net_data.  We should eventually be able to ask the butler for the correct data, but that doesn't happen yet.  I'm open to suggestions for how to deal with this in the short term.

[2016-04-15 20:43] jchiang87 commented on #219
How exactly do you know, then, which files the SLAC workflow is using?

[2016-04-15 20:53] SimonKrughoff commented on #219
I just know what I think I told them to use.

BTW, the ingest bug is fixed on 4302.  How do we close the loop on this so I can merge to master?

[2016-04-15 21:09] heather999 commented on #204
Sorry @wmvw, time for a long story :)
I was unhappy with the length of the prompt that conda set when activating the environment (it was longer than it is now), but I wanted to indicate the updated environment via the prompt as the default. I saw conda allows turning off the updated prompt entirely but was concerned some may prefer to retain the special conda prompt. They provide hooks into the ac

[2016-04-15 22:02] SimonKrughoff commented on #219
@jchiang87 It looks like the SLAC workflow may be using the 0229 and files at: /nfs/farm/g/lsst/u1/users/tonyj/and_files_0229/ (this was on bullet0002).

@tony-johnson can correct me.

[2016-04-15 23:27] sethdigel commented on #219
The assembleCoadd process of the TwinklesDM task defines an environment variable AND_DIR, which for the runs that Tony made yesterday was indeed set to /nfs/farm/g/lsst/u1/users/tonyj/and_files_0229.  This is in the log files of the runs, e.g., [this one](http://srs.slac.stanford.edu/Pipeline-II/exp/LSST-DESC/log.jsp?pi=41528845).

[2016-04-15 23:32] SimonKrughoff commented on #219
Thanks for the pointer @sethdigel

[2016-04-16 01:28] jchiang87 commented on #162
I've built the current tickets/DM-4302 branch (as of this writing) of obs_lsstSim against the conda distribution.  This and #161 appear to be fixed in that branch.   Closing this and #161.

[2016-04-16 01:28] #162 closed

[2016-04-16 01:28] #161 closed

[2016-04-16 01:31] jchiang87 commented on #219
@SimonKrughoff The ingestImages.py script seems to work now.  Thanks.  I've built that branch against the conda dist and verified that I can run the level 2 scripts using that distribution.    If you could start whatever process needs to be done to merge that branch into master that would be great.  I'm going to close this issue.  If any similar bugs arise in the workflow execution, another issue

[2016-04-16 01:31] #219 closed

[2016-04-16 04:49] jchiang87 commented on #204
Thanks @heather999.  I can run all of the Twinkles Level 2 pipeline tasks as well as the Twinkles unit tests with this installation, so I think this issue can be closed.

[2016-04-16 08:39] rbiswas4 commented on #209
Incidentally, I did (hopefully correctly) fix whatever code I had put in. I also tried to insert absolute_import into other packages.

- I am surprised by the travis comment on print being used. Python 2.7 already has the print function, so we can write a print command as
[code]
but I still added the print_function import from __future__.

[2016-04-18 15:24] tony-johnson commented on #175
The data has been reprocess with Simon's suggested change, and at SLAC the output can be found here:

/nfs/slac/kipac/fs1/g/desc/Twinkles/303

The final coadd job is still running, but the six single-filter coadds are complete.

[2016-04-18 16:24] SimonKrughoff commented on #219
@jchiang87 thanks for all your work on this and for your patience.  I am hoping that the next version of the reference catalogs will really help with the provenance issue we ran into here (it puts a link of the reference catalog in the repository with the data).

[2016-04-18 16:29] SimonKrughoff commented on #175
@tony-johnson can you remind me where the stack is at SLAC?

[2016-04-18 16:43] SimonKrughoff commented on #175
O.K.  Somehow that made things worse...
![image](https://cloud.githubusercontent.com/assets/945715/14612025/f46e32ac-0549-11e6-80c7-324bc80d4d6d.png)

[2016-04-18 16:49] jchiang87 commented on #175
From looking at the cookbook and the comments above, my understanding is that makeDiscreteSkyMap.py should be run exactly once on all of the visits.  The change made here

https://github.com/DarkEnergyScienceCollaboration/Twinkles/commit/a7b947a3ec424def63010467ed24b47be7319d73

now has it being run once per filter.  To run it exactly once, I think the xml part of the workflow needs to be amended

[2016-04-18 16:51] SimonKrughoff commented on #175
@jchiang87 Thanks for pointing to that commit, I couldn't find it initially.

You are exactly right.  I wasn't clear before, but makeDiscreteSkymap.py needs to be run exactly once per data run, and it needs to be run after all the images have been run through processEimage.py (i.e. after all the calexp files we expect to use in the coadd exist on disk).

[2016-04-18 16:53] tony-johnson commented on #175
OK, then as Jim says I will need to modify the workflow to handle that,
I should be able to do that today and try to rerun it over night.

Tony

On 04/18/2016 09:52 AM, SimonKrughoff wrote:

[2016-04-18 16:56] SimonKrughoff commented on #175
@tony-johnson do you want to touch base before you trigger another big run to make sure we've got everything in place?  A small run would also help.  If any of the WCSs in the coaddTempExp files differ from any of the WCSs in the coadds, we are going to run into this problem.

[2016-04-18 16:57] jchiang87 commented on #175
The version of the Stack used for Run1 is available at

/nfs/farm/g/desc/u1/LSST_Stack_2016-02-23

to use it from a rhel6-64 machine, just execute

[code]
and it will create a bash with devtoolset-3 and needed packages.

There is a new Stack installed using the recent conda distribution of lsst-apps and lsst-sims (the same as made recently available at NERSC (#210)).  It can be set up by doing

[c

[2016-04-18 17:00] tony-johnson commented on #175
HI, yes might be worth having a brief hangout/bluejeans meeting before
re-running. Would 4pm this afternoon work? I can run on a smaller set of
visits to save time, what would a reasonable number of visits be to be
useful?

Tony

On 04/18/2016 09:56 AM, SimonKrughoff wrote:

[2016-04-18 17:14] SimonKrughoff commented on #175
4PM works for me.  If you run 10 visits in each band, I think that would be enough.

[2016-04-18 22:16] sethdigel commented on #186
Back on the topic of the PhoSimPredictor class, using the Run 1sx results to estimate CPU times for the Run 1 visits that reached the CPU time limit, and scaling the CPU times by empirical factors to make equivalent times for the fell-class of batch hosts, the tuned Random Forest predictor looks pretty good (MSE ~ 0.005) with only three features used to train it (moonalt, filter, and moonphase, in

[2016-04-18 22:59] tonyj321 commented on #175
We can use bluejeans 256850342

[2016-04-19 00:01] tonyj321 commented on #175
One more question, when I run makeDiscreteSkyMap.py do I have to explicitly tell it which set of visits to process (given that it should process them all)? i.e. can I just omit the --visit argument or is it required?

[2016-04-19 00:12] SimonKrughoff commented on #175
The `--id` argument is required, but I  believe if it is empty it will loop over all data.

[2016-04-19 01:24] tonyj321 commented on #175
10 visit/filter run is done (except for last 9 forced photometry jobs which are still running), output is here:

/nfs/slac/kipac/fs1/g/desc/Twinkles/400

[2016-04-19 04:02] heather999 commented on #204
@wmwv Finally fixed the script.. there is now a "-v" option if one desires chattiness, otherwise the script is silent.  Additionally, I've fixed it so that the use of the .condarc setting "changeps1" behaves as it should.  I also left my finagling of the activate script to make the truncated updated prompt the default.  So, if you prefer no changes to your prompt, setting changeps1 true should wor

[2016-04-19 04:13] heather999 opened #222 "Keeping the NERSC DMstack install up to date"
Now that we have a DMstack installation at NERSC using the conda install from the dev channel - I'm wondering how to keep it up to date.
- I could wait until poked via a GitHub issue
- Keep an eye on the dev channel to see if there is a new version available

My intent would be to put fresh installations of the stack in parallel to whatever versions are already available, so nothing should be upda

[2016-04-19 14:05] wmwv commented on #204
Very kind.  Thank you.

[2016-04-19 14:25] drphilmarshall commented on #186
Great stuff, Seth! Pleased the Run 1sx data helped out. If I were you I
wouldn't worry too much about economizing on features: the ML philosophy is
"do whatever it takes to minimize MSE", so unless using 4+ features is
expensive in some way, just throw them in and get a better prediction. The
pickle files should only be stored locally, for example wherever the
workflow engine needs to be able to p

[2016-04-19 14:31] drphilmarshall commented on #175
I am on the edge of my seat here! :-)

On Mon, Apr 18, 2016 at 6:24 PM, tonyj321 <notifications@github.com> wrote:

[2016-04-19 14:31] #204 closed

[2016-04-19 16:28] SimonKrughoff commented on #175
@drphilmarshall A cursory look makes me very optimistic.  I'll be in the office in a couple hours and will confirm.

@tony-johnson Did you kick off a full run as well?  I feel confident that would be useful at this point.

[2016-04-19 16:44] tonyj321 commented on #175
Yes, 401 is the full run, you can see the progress here:

http://srs.slac.stanford.edu/Pipeline-II/exp/SRS/si.jsp?stream=41531797

[2016-04-19 17:42] tonyj321 commented on #222
This is probably not 100% applicable to the question, but I thought it might be useful to document how we deal with code installs for EXO, since I think it has worked well, and at least some of this functionality might be applicable to DMstack installs for DESC.

For EXO we use Jenkins to make automatic builds of all of our code. One nice feature of Jenkins is that you can have one central install

[2016-04-19 18:09] rhiannonlynne commented on #222
FYI, the conda dev channel is currently (and until we are satisfied that
the version resolution would occur fast enough, it will stay this way) only
providing the most up-to-date/most recent version of the sims release, so
if you are using a conda install into the same conda environment, I'm not
sure how you could keep multiple versions 'alive'. If you use multiple
conda environments, you should b

[2016-04-19 19:25] heather999 commented on #222
@tonyj321 short answer - yes :) At the moment, I haven't thought much beyond just getting DMstack installed - where right now, we are strictly using the conda-based installation due to the rapid development occurring and the difficulties encountered doing an "eups distrib" at NERSC.  I do want to follow-up with DM about that, since I was assuming "eups distrib" would work just as well at NERSC as

[2016-04-19 19:42] rhiannonlynne commented on #222
It's a bit tricky with the sims updates, as we do depend on various parts
of lsst_apps (afw, obs_lsstSims, etc.). We do try to stick to a particular
weekly build of lsst_apps until we have particular reasons to update
though, as we don't want to make our users who are installing via source do
full rebuilds of afw unless they need to. For this reason, we generally
don't build from master but we can

[2016-04-19 20:08] jchiang87 commented on #218
The new package is at

https://github.com/DarkEnergyScienceCollaboration/pserv

I've used this to install a db instance at NERSC and loaded it with the original Run1 985visit data:
[code]
Once the new Run1 data are available, we can reload the data.  BTW, I've sped up the forced source table ingest.  It took about 82 minutes to load all 985 visits at NERSC.

[2016-04-19 20:08] #218 closed

[2016-04-19 20:15] tonyj321 commented on #218
Is this database publicly accessible? If so are there instructions for doing so?

[2016-04-19 20:17] jchiang87 commented on #218
We have a read-only account available.  I can send the userid/password on request.   I haven't written any instructions yet.

[2016-04-19 20:32] SimonKrughoff commented on #175
How cool is this?
![image](https://cloud.githubusercontent.com/assets/945715/14654547/1a28b6c2-0633-11e6-9c12-e42bef1a19cc.png)

I'm closing this though I'll not that the 401 run used the old version of the obs_lsstSim code.

[2016-04-19 20:32] #175 closed

[2016-04-19 20:35] SimonKrughoff opened #223 "Handling code versions at SLAC"
The most recent run (401) of the twinkles data used a version of the obs_lsstSim code without the saturation interpolation I added at the hack day:
![image](https://cloud.githubusercontent.com/assets/945715/14654625/7c25269e-0633-11e6-9fbf-7bcef544bb8c.png)

I'm not sure how the code is managed at SLAC, but we should probably strive to install packages in the shared stack as the come available and

[2016-04-19 20:37] jchiang87 commented on #216
I think we do have a realizable plan, certainly through Run 2, and are moving forward on a path to implement something for Twinkles 1.   Closing.

[2016-04-19 20:37] #216 closed

[2016-04-19 20:41] SimonKrughoff opened #224 "Compile a list of lessons learned"
We are learning things as we go along and I'd like to see if we can capture that.  My current thinking is just to keep a running list of things [here](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/doc/lessons_learned.md).

[2016-04-19 20:46] jchiang87 commented on #223
Can you point to the documentation on how to go about maintaining a "shared" stack?  I've seen different suggestions at community.lsst.org, but nothing definitive.   In any case, I've advertised the existence of new version of the stack [here](https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/175#issuecomment-211472655) at your request.   The stack location needs to be updated in t

[2016-04-19 21:06] SimonKrughoff commented on #223
@jchiang87 I don't know if there is a definitive guide.  I can look around, but thanks for setting up the shared stack as it exists now.

[2016-04-19 22:10] drphilmarshall commented on #175
Yessssssssss! Nice work everyone :-) Light curves ahoy! :-)

On Tuesday, April 19, 2016, SimonKrughoff <notifications@github.com> wrote:

[2016-04-19 22:12] tony-johnson commented on #223
@SimonKrughoff I can easily rerun the DMstack workflow with any version of the software that Jim has installed. I interpreted your comments in our phone discussion that you wanted to stick with the original install for now, but I can use the LSST_Stack_2016-02-23 and/or LSST_Stack_2016-04-12 just as easily.

[2016-04-19 22:15] jchiang87 commented on #223
I would use LSST_Stack_2016-04-12 since it has the fix for the divide by zero and "design matrix" errors.  Based on my tests using supposedly inconsistent astrometry data,  I actually expect the newer stacks to fail at the forced photometry step, so it's a good thing that we have the run with the astrometry fixed using the older stack.

[2016-04-19 22:44] SimonKrughoff commented on #223
I don't think we want to use LSST_Stack_2016-04-12 quite yet.  I think I have a fix for the errors @jchiang87 was seeing, but I don't have it pushed to master yet.  Is LSST_Stack_2016-02-23 the one with the hackday saturation fix in it?

[2016-04-19 22:44] sethdigel commented on #186
I had been scared by how quickly the size of the pickle file scaled with the number of features.  Adding the three next-most important features increased the size by a factor of four, to 64 Mbyte, for what seemed like diminishing (although measurable) returns.

Anyway, the number of features included can be tweaked later.  Depending on how the predictor is actually used (e.g., if we'd like to run

[2016-04-19 22:48] jchiang87 commented on #223
yes. it should be.

[2016-04-20 03:58] drphilmarshall commented on #186
Yes, this sounds like a good plan. Also a 64Mb local pickle is no problem
to make, store and unpack.

On Tue, Apr 19, 2016 at 3:44 PM, Seth Digel <notifications@github.com>
wrote:

[2016-04-20 12:00] drphilmarshall commented on #206
I think this is now done, right @tony-johnson ?

[2016-04-20 12:01] drphilmarshall commented on #163
Can we close this now we are up to speed, @tony-johnson ?

[2016-04-20 12:03] drphilmarshall commented on #220
Hi Tony! Is it easy to transfer the Run 1.1 images and catalogs to NERSC, like you did last time? Thanks!

[2016-04-20 12:04] drphilmarshall commented on #187
I think you are pretty close to finishing this epic, Tony :-)

[2016-04-20 15:50] tony-johnson commented on #163
We are still seeing job failures, although at a lower frequency than before we were using GPFS (and right now we ran out of space quota so failures are at 100%). There are a few more things to try out to improve reliability before we close this out.

[2016-04-20 15:53] tony-johnson commented on #187
Yes, we are close, but we still have to try out the fixes for #161 and #162 (I need to clarify with @SimonKrughoff and @jchiang87 whether the fixes are currently available in DM builds at SLAC, see #223)

[2016-04-20 16:00] tony-johnson opened #225 "Clean up and document TwinklesDM workflow"
* Add documentation on all parameters which can be set
* Add ability to continue with coadds even if small number of visits fail
* Collect meta-data about which versions of code, etc were used, for possible use in Twinkles Portal page
* Implement wrapup and report steps, including generating verification plots

[2016-04-20 16:13] SimonKrughoff commented on #206
We have re-run, but I don't think this is the last run for Run1.1.

[2016-04-20 16:23] SimonKrughoff commented on #163
I think when I can get obs_LsstSim merged to master and we can upgrade to a master stack, we'll see the failures due to algorithms go down as well.

[2016-04-20 19:01] jchiang87 commented on #187
The fixes for #161 and #162 are in the LSST_Stack_2016-04-12 installation, but I guess we should wait for the DM-4302 branch to be merged into master (then rebuild obs_lsstSim) before trying again.

[2016-04-20 20:01] jchiang87 commented on #209
@rbiswas4 @jbkalmbach Since you guys are looking to do the same in Monitor, I should let you know that the [.travis.yml](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/issue/209/python3_compatibility/.travis.yml) file in the `issues/209/python3_compatibility` branch should be modified.  I added the `pip install future --upgrade` and `pip install pylint`  lines to the install secti

[2016-04-20 21:42] tony-johnson commented on #163
@jchiang87 -- I still see many jobs failures in the case where many jobs all start at the same time (for examples see http://srs.slac.stanford.edu/Pipeline-II/exp/SRS/process.jsp?min=&max=&status=NOTSUCCESS&streamIdFilter=&dateCategory=createdate&minDateDate=None&minDate=-1&maxDateDate=None&maxDate=-1&processhours=&submit=Filter&process=41531522&pstream=41535760&process=41531522). It seems to be r

[2016-04-20 22:08] jchiang87 commented on #163
I don't know if they are relocatable, but I suspect they are not.   I installed the first two (LSST_Stack, LSST_Stack_2016-02-??) using the LSST build tool (lsstsw) which builds from source.  It uses some environment variables in the setup scripts that point to the installation location, so perhaps those setup scripts just need to be updated, but there are a bunch of shared libraries, and I don't

[2016-04-21 16:17] tony-johnson opened #226 "New failure mode in completeCoadd"
I reran the TwinklesDM workflow using /nfs/farm/g/desc/u1/LSST_Stack_2016-02-23/ install of DM. It worked until the complete coadd stage which failed with after 8657 second of CPU with:

measureCoaddSources.measurement.applyApCorr: Applying aperture corrections to 2 flux fields
measureCoaddSources.measurement.applyApCorr: Use naive flux sigma computation
measureCoaddSources.measurement: Measuring

[2016-04-21 16:53] SimonKrughoff commented on #226
@tony-johnson unless the markdown munged your text, there was a problem with the command line you ran.  There is no such thing as ccd 2211.  I'm not sure there should be a ccd key in there at all.

[2016-04-21 17:04] tony-johnson commented on #226
The command line was just:

measureCoaddSources.py /gpfs/slac/kipac/fs1/g/desc/Twinkles/402 --id tract=0 patch=0,0 'filter=u^g^r^i^z^y' --config measurement.doApplyApCorr=yes --doraise --clobber-config

(see https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/workflows/DM/completeCoadd). I do not know where ccd 2211 came from?

[2016-04-21 17:12] SimonKrughoff commented on #226
Yes.  Looking further, there is a bug.  I'll look into it.

[2016-04-21 17:42] SimonKrughoff commented on #226
I've turned this off in DM-4302, so when that is merged, it should take care of this.

[2016-04-21 18:57] SimonKrughoff commented on #183
I hope we are doing this today.  Are we?

[2016-04-21 19:01] jchiang87 commented on #183
Phil is on an airplane right now.  I'm in a talk, but you guys should meet.

[2016-04-21 19:08] cwwalter commented on #183
Someone fire up PhilSim!

[2016-04-21 19:11] wmwv commented on #183
@SimonKrughoff  Do you want to spend this time knocking of DM-5825 ?

[2016-04-21 19:15] drphilmarshall commented on #183
Great stuffGlad this happening. Simon would you mind keeping a few notes in
the usual doc, the link is above?For an agenda I'd suggest you just get
check ins from the active groups, esp run 1.1 data generation, NERSC setup
and pserv databasing.For the latter I guess well need identical pserv
instances at SLAC and uw, if not at NERSC too.Thanks! :-)

On Thursday, April 21, 2016, Chris Walter <notif

[2016-04-21 19:18] drphilmarshall commented on #183
Crunching DM issues is also a good use of time of course! :-)

One other thing: it'd be good to hear how the monitor is doing, esp it's
pserv connection. Well want to make light curves as soon as the catalogs
are ingested!

On Thursday, April 21, 2016, Phil Marshall <dr.phil.marshall@gmail.com>
wrote:

[2016-04-21 23:43] SimonKrughoff commented on #163
@jchiang87 @tony-johnson I just installed a new stack at SLAC.  It's located at `/nfs/slac/kipac/fs1/g/desc/DMStack/lsstsw/build/lsstsw`.

The most recent build with the DM-4302 merge is b2016.  I didn't make a nice setup like Jim had, but it is basically:
[code]

[2016-04-22 02:41] tony-johnson commented on #163
I would like to try this out with the workflow, but currently the workflow assumes the existence of Jim's setup script. I could probably create this myself based on previous examples, but currently I don't have write access to the installation dir. @SimonKrughoff -- could you:

chmod -R  g+w /nfs/slac/kipac/fs1/g/desc/DMStack

(or add something equivalent to Jim's setup.sh).

[2016-04-22 02:49] jchiang87 commented on #163
@tony-johnson I'm in the process of running the scripts on a small dataset to make sure everything works.  Note that the ingestImages.py script has been renamed to ingestSimImages.py and now every script needs to have an --output specified (see https://github.com/DarkEnergyScienceCollaboration/Twinkles/commit/e3b29c42ef19bf9b1723ed7c9cb261e108f746ad ).   I'll put a set up script somewhere I have w

[2016-04-22 02:53] jchiang87 commented on #163
Ok, the setup command is
[code]

[2016-04-22 14:58] jchiang87 commented on #163
I ran the cookbook scripts on the first ten visits of the `Twinkles-phoSimII` data.  There were failures in one of the `procesEimage.py` runs, in `mergeCoaddDetections.py`, `measureCoaddSources.py`, and `forcedPhotCcd.py`.   Presumably the failure in `mergeCoaddDetections.py` propagated into the latter two.
[code]

[code]
----
[code]

[code]
----
[code]

[code]
----
[code]

[code]

[2016-04-22 15:25] SimonKrughoff commented on #163
The nbit bug is fixed on master.  I'm building a new version of the stack now (it will be b2017).  I am working with @wmwv to put some continuous integration in for processing of simulated images to try to avoid bugs like this.  That should fix the error you are seeing in mergeCoaddDetections.

To be clear, there was one failure in processEimage and the rest succeeded?  I'll try to reproduce the e

[2016-04-22 15:27] jchiang87 commented on #163
yes, 9 of 10 succeeded for processEimage.

[2016-04-22 15:30] jchiang87 commented on #163
BTW, the mergeCoaddDetections.py failure didn't seem to return a non-zero return code even though I ran with the --doraise option.  The other three failures had non-zero return codes.  FWIW, I using my [Level2_Pipeline](https://github.com/jchiang87/Level2_Pipeline) to exercise the cookbook scripts.

[2016-04-22 15:39] tony-johnson commented on #163
I also tried to run using the new code build, but I noticed that the serialIngest stage has slowed down enormously. Previously it took about 5000 CPU second to process 900 odd visits, now it run out of CPU time after 7160 seconds. Is this expected? My understanding was that it was basically creating symlinks, so I am not sure why it was slow to begin with?

[2016-04-22 15:47] SimonKrughoff commented on #163
@tony-johnson The ingest should not have changed at all.  It is creating symlinks, but it does need to read the header from the fits file.  How many were ingested in 7000 sec?

I just tested this on my laptop for 30 visits and it took 22 sec.

[2016-04-22 15:52] SimonKrughoff commented on #163
@tony-johnson @jchiang87 FYI, I'm doing some debugging on the stack, so don't run any large jobs for the moment.  I'm inserting calls to pdb so I can look at values in the processing.

[2016-04-22 15:53] tony-johnson commented on #163
Strange, it processed 811 visits in that time. I will investigate and
see if I can find any hints as to why it is running so slowly.

On 04/22/2016 08:47 AM, SimonKrughoff wrote:

[2016-04-22 17:31] SimonKrughoff commented on #163
O.K.  I added a config override to obs_lsstSim that seems to help.  I'm rebuilding the stack because something got all confused.  I'll ping this thread when it has built.

[2016-04-22 17:45] tony-johnson commented on #163
A stupid question, where do I look to find what ingestSimImages actually runs? I found

./build/obs_lsstSim/bin.src/ingestSimImages.py
#!/usr/bin/env python
from lsst.obs.lsstSim.ingest import SimIngestTask
SimIngestTask.parseAndRun()

but where do I look to find the definition of SimIngestTask?

[2016-04-22 17:46] SimonKrughoff commented on #163
You can look in $OBS_LSSTSIM_DIR/python/lsst/obs/lsstSim/ingest.py.

[2016-04-22 20:27] SimonKrughoff commented on #163
@jchiang87 @tony-johnson I installed the new version of the stack in the same location.  The tag to use is b2016.

[2016-04-22 21:55] SimonKrughoff commented on #163
I ran processEimage.py on the first 40 visits in the dataset and they all worked, so I'm hoping we are on the right track now.

[2016-04-22 23:10] drphilmarshall commented on #224
Good idea! Something about the need for provenance, based on recent issues - @tony-johnson you had an idea for helping with that, you were going to issue it?

Also this relates to [this Computing Infrastructure issue](https://github.com/DarkEnergyScienceCollaboration/ComputingInfrastructure/issues/18) - so if we can get some ideas about the pathfinder side of things going here, maybe we can prepar

[2016-04-22 23:48] jchiang87 commented on #163
@SimonKrughoff Do you mean b2017 (not b2016)?   BTW, when I try to see which tags area available for obs_lsstSim, I get this:
[code]

[2016-04-23 00:11] SimonKrughoff commented on #163
No I meant b2016.  The last build overwrote one of my previous tags for some reason.

Oh man.  Now I see the problem.  I accidentally started another stack while the first was still set up.  Let me rebuild the stack in the right place.  Sorry about that.

[2016-04-23 00:27] SimonKrughoff commented on #163
O.K.  I deleted the other offending stack.  There is only one now (I hope) in: /nfs/slac/kipac/fs1/g/desc/DMStack/lsstsw

If you start a new shell and source the `bin/setup.sh` script in there, you should only see a single b2016 tag.  That's the one to use.

[2016-04-23 00:56] jchiang87 commented on #163
ok, thanks.  @tony-johnson I've updated the /nfs/slac/kipac/fs1g/desc/setup.sh script to use that location.

[2016-04-24 15:44] tony-johnson commented on #163
I have create two new streams using @SimonKrughoff latest build:

Stream|Comment|URL
-------|-----------|---
403|Using same 984 visits as before|http://srs.slac.stanford.edu/Pipeline-II/exp/SRS/si.jsp?stream=41541421
500|Using all 1124 visits which completed phosim|http://srs.slac.stanford.edu/Pipeline-II/exp/SRS/si.jsp?stream=41541457

Unfortunately in both cases (the same) 4 visits failed in pro

[2016-04-25 04:58] SimonKrughoff commented on #163
@tony-johnson thanks for this.  For what it's worth, you don't have to do the ingest step every time.  I understand that it's nice to do the whole process, but we could just use the same input repo for all the runs.

[2016-04-26 17:29] tony-johnson commented on #163
We are continuing to see problems with very long elapsed times for batch jobs (right now the coadd jobs for stream 501). This has been reported to SLAC unix-admin (as [INC0092281](https://slacprod.service-now.com/nav_to.do?uri=incident.do%3Fsys_id=b10a60d56f031240fd565d412e3ee4bc%26sysparm_stack=incident_list.do%3Fsysparm_query=active=true))

[2016-04-27 18:30] jchiang87 commented on #205
Hi @rbiswas4 ,

I implemented some straw-man calculations of `seeing`, `skyBg`, and `skyNoise` using the `calexp` products and update those values in the `CcdVisit` table.  The code is in `pserv` [here](https://github.com/DarkEnergyScienceCollaboration/pserv/blob/master/python/desc/pserv/utils.py#L51).   Could you have a look and comment?   Thanks!

[2016-04-28 00:27] tony-johnson commented on #163
Run 501 is now complete (at last). This run processed 1120 visits (all that were successfully processed through phosim) minus 4 which failed in processEimage (documented above), using the DMStack which Simon installed here:

/nfs/slac/kipac/fs1/g/desc/DMStack/lsstsw

The output can be found at SLAC here:

/nfs/slac/kipac/fs1/g/desc/Twinkles/501

The workflow (useful for looking at log files etc) c

[2016-04-28 00:54] drphilmarshall commented on #183
Hi all,

Back to normal tomorrow, let's meet at 12 noon and catch up. [Agenda and notes are here as usual](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit#heading=h.wjoq86btlzlw), please add things you want to discuss. I guess the newly finished Run 1.1 should be up there, and perhaps also our list of topics for Monday's CI meeting (where we'll be doing some pa

[2016-04-28 01:09] drphilmarshall commented on #163
Hooray! Well done Tony :-)

I guess the immediate validation tests are: look at the color composite of the stacked image, check objects are in the right place? Checking light curves can be done once the ForcedSources are easily queryable. I guess @wmwv 's `drp_validate` script can be run - is that not part of our pipeline yet? That task was issued in #221.  All this validation feels like a separat

[2016-04-28 01:14] jchiang87 commented on #163
Awesome!  Yes, let's ship it to NERSC, and once it's there, I'll ingest it into the database.

[2016-04-28 01:17] SimonKrughoff commented on #226
DM-4302 was merged with the latest version of the stack I installed.  @tony-johnson can you confirm that this went away?

[2016-04-28 01:18] SimonKrughoff commented on #163
I'll make a color composite tonight and send it around.

[2016-04-28 01:24] cdfassnacht commented on #183
Any chance that we can ever do a time besides Thursday at noon?

  Chris

[2016-04-28 01:47] drphilmarshall commented on #183
Hi Chris! We've been trying to find a better time, and so far have made the
following progress:

* MWV can never meet at 1pm PDT or later
* There is unanimous desire to only have one weekly meeting time

The next step would be to extend the doodle poll two ways: first, to
include more early morning times, and second, to include times that start
on the half hour (which might alleviate some tensions

[2016-04-28 02:15] jchiang87 commented on #163
This isn't a color composite, rather it's a set of  20x20 arcsec postage stamps centered on an object picked at random (objectId=40390) with all of the objects from the merged catalog in the field overlaid on the image for each band.  Looks good to me.

![40390_ugrizy_stamps](https://cloud.githubusercontent.com/assets/1994473/14873494/1bf3f42e-0cac-11e6-8c06-d25afb3d0fd1.png)

[2016-04-28 02:45] SimonKrughoff commented on #163
Really awesome @jchiang87 !

[2016-04-28 03:25] tony-johnson commented on #163
Phil, can you remind me where the group space is at NERSC which we discussed on Friday - once I have that I will copy the data there.

[2016-04-28 03:30] tony-johnson commented on #226
Yes this went away with the latest version of the stack. Closing issue.

[2016-04-28 03:30] #226 closed

[2016-04-28 03:37] SimonKrughoff commented on #163
Color images with full gri, subsection of ury, and another thumbnail from giy.  Let me know if you want the other two full images.  I just couldn't attach them to this comment.
![image](https://cloud.githubusercontent.com/assets/945715/14874645/529e031a-0cb7-11e6-92a7-a000c8514d11.png)
![image](https://cloud.githubusercontent.com/assets/945715/14874687/a333652c-0cb7-11e6-9859-7dbd3f4c4476.png)
![i

[2016-04-28 03:42] tony-johnson commented on #206
I think we can now declare this as closed. More details can be found in #163.

[2016-04-28 03:42] #206 closed

[2016-04-28 03:52] tony-johnson opened #228 "Create a Twinkles Portal"
It would be great to have one page where we can easily see which twinkles datasets have been produced, how each one was produced, and how the data can be access.

For each data release we could include

* Links to the pipeline jobs which ran the simulation/analysis
* Important data input such as the astrometry files
* Links to which DM stack and which phosim versions were used
* Links to data loca

[2016-04-28 03:53] tony-johnson commented on #224
I have created #228 which I think is somewhat related to this issue.

[2016-04-28 03:59] drphilmarshall commented on #226
W00t!

On Wed, Apr 27, 2016 at 8:30 PM, Tony Johnson <notifications@github.com>
wrote:

[2016-04-28 04:12] drphilmarshall commented on #163
Sweet! :-) Looks like the registration and object deblending is working really nicely, check out those 1-2" source separations in Jim's cutouts!

@jbkalmbach @cdfassnacht we have some lens validation to do - some systems look right, others do not (but I could be getting confused by the blue stars). Here's a nice zoom of two lenses that look good:

![image](https://cloud.githubusercontent.com/asset

[2016-04-28 04:23] SimonKrughoff commented on #163
I like this one.  @drphilmarshall do you have any idea what's going on here?
![image](https://cloud.githubusercontent.com/assets/945715/14875301/340cf6c0-0cbe-11e6-8e97-72733ff49e65.png)

[2016-04-28 04:27] drphilmarshall commented on #163
No! I'd really like to see the CatSim stars and galaxy positions overlaid,
not to mention the OM10 object positions!

On Wed, Apr 27, 2016 at 9:23 PM, SimonKrughoff <notifications@github.com>
wrote:

[2016-04-28 07:07] rbiswas4 commented on #205
Hi @jchiang87

I am traveling and will miss tomorrow's meeting. I looked at the code and it seems good. The one thing that seems like a typo is that a square root seems necessary for sky noise.

One thing that I think we may want to do is find these values of skybg in units of mag/arcsec^2 rather than counts. I understand your choice follows the schema of ccdvisit table, but this would be a useful

[2016-04-28 07:18] rbiswas4 commented on #214
I suppose we can close this for now.

[2016-04-28 07:23] rbiswas4 commented on #209
@jchiang87
would it be good to try pymsql in place of MySQLdb for this purpose. Here is a page I stumbled on  with a comparison of available options: http://stackoverflow.com/questions/4960048/python-3-and-mysql

[2016-04-28 14:57] jchiang87 commented on #205
@rbiswas4 Thanks for having a look at the code!  I agree that adding a function to compute the skybg in terms of mag/arcsec^2 is the best way to go for now.  I'll also make the fixes you noted (and will fill the zeroPoint column.)

Are there specific features you were considering?  From conversations with the Qserv team, they were recommending against modifying their schema and suggested instead t

[2016-04-28 15:25] tony-johnson commented on #163
The run 501 data has now been copied to NERSC (cori) in:

/global/homes/t/tony_j/Twinkles/Run1.1/

[2016-04-28 15:25] #163 closed

[2016-04-28 15:52] tony-johnson commented on #220
This is now done, the output is here:

/global/homes/t/tony_j/Twinkles/Run1.1/

[2016-04-28 15:52] #220 closed

[2016-04-28 15:58] tony-johnson commented on #201
Now that Run 1.1 is complete, we should focus on getting things running at NERSC, with a goal to have things working by the end of May. @djbard should we organize a follow-up (phone) meeting to discuss some of the issues that were left from the meeting we had in December, such as running jobs under group account? @brianv0 are there other issues that we need to discuss with NERSC to get job submiss

[2016-04-28 16:06] tony-johnson commented on #223
For Run1.1 we ended up using a version of DMStack installed by @SimonKrughoff. This was great for getting things working, but if we wanted to reproduce this run 6 months from now I am not sure if/how we could reproduce the exact stack build.

My feeling is that we should come up with an automated way of making builds, tracking exactly which code was used. If we want to be able to produce builds wh

[2016-04-28 16:07] djbard commented on #201
That's a good idea. I can't meet in the "usual" Twinkles slot tomorrow, but
next week (perhaps Tuesday?) would work.

On Thu, Apr 28, 2016 at 8:58 AM, Tony Johnson <notifications@github.com>
wrote:

[2016-04-28 16:11] tony-johnson commented on #195
We are working to get a QServ instance set up at SLAC (and accessible from anywhere). @brianv0  has arranged a meeting for today to discuss more details about how this will be set up and when it will be available.

[2016-04-28 16:12] SimonKrughoff commented on #223
I'll note that by using the `lsstsw` mechanism of installing the stack, we should be able to reproduce the environment simply by using the specific build tag used in this run to setup all the packages.  That is not a solution for cross environment tracking.

[2016-04-28 16:12] tony-johnson commented on #187
This is done.

[2016-04-28 16:12] #187 closed

[2016-04-28 16:21] tony-johnson commented on #166
In the most recent (Run 1.1) completeCoadd job, the log file was 77.7MB. The logfile can be found at SLAC here:

/nfs/slac/g/ki/ki06/lsst/pipeline/prod/logFiles/TwinklesDM/3.0/completeCoadd/501/logFile.txt

The job took 37357 seconds of CPU time.

[2016-04-28 16:26] tony-johnson opened #229 "DMStack crashes during Run 1.1"
This is extracted from the new closed issue #163, since it is still and outstanding issue. @jchiang87 @SimonKrughoff Should we report these failures as DM issues?

I have created two new streams using @SimonKrughoff latest build:

Stream|Comment|URL
----------|-------------|------
403|Using same 984 visits as before|http://srs.slac.stanford.edu/Pipeline-II/exp/SRS/si.jsp?stream=41541421
500|Using

[2016-04-28 17:31] jchiang87 commented on #220
The Run1.1 data have been ingested into the MySQL tables at NERSC.  Here are the stats:
[code]
I've only had a cursory look so far, but things seem ok.   I'll try to do more tests before this afternoon's meeting.

Let me know if you want the connection info, and I'll email you the details.

[2016-04-28 17:32] jchiang87 opened #230 "Write code to handle data transfers to NERSC"
The Run1.1 data have been transferred to NERSC via #220, but the same problem regarding the incorrect `_parent` link, as noted in #194, pertains.   I've implemented a similar workaround as for the 985visits data, but the data transfer to NERSC should routinely include the data in the `_parent` directory (particularly the `_mapper` and `registry.sqlite3` files) and update the `_parent` link in the

[2016-04-28 18:19] SimonKrughoff commented on #220
I'd love the connection details.

[2016-04-28 18:24] jchiang87 commented on #220
btw, the `obsStart` column in `CcdVisits` is filled with incorrect values....investigating.

[2016-04-28 18:27] SimonKrughoff commented on #220
@jchiang87 Thanks for the connection details, but I think I also need the endpoint to where the database is (is it accessible from outside NERSC?).

[2016-04-28 18:41] jchiang87 commented on #220
Right, sorry.  The host is `scidb1.nersc.gov`.   From outside of NERSC, Bryce notes that he needed to ssh tunnel to connect.

[2016-04-28 19:02] drphilmarshall commented on #183
Whooops! Rushing over to BlueJeans now! [Agenda and notes are here.](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit#heading=h.wjoq86btlzlw)

[2016-04-28 19:08] jchiang87 commented on #220
`obsStart` should be fixed now.

[2016-04-28 19:35] drphilmarshall commented on #224
Cool. Passing to @SimonKrughoff to get the ball rolling. Post a lesson learned, and pass the assignment on!

[2016-04-29 00:36] wmwv commented on #195
+1

[2016-04-29 00:54] drphilmarshall commented on #187
Rock. On.

Here's the final burndown chart:

![image](https://cloud.githubusercontent.com/assets/710903/14905867/1020b506-0d6a-11e6-9269-9f29db5af089.png)

I think it must be plotting issues by their *start date* not their finish date, which is interesting. It makes it look as though we released Run 1.1 a week early! Oh well :-)

[2016-04-29 01:48] SimonKrughoff commented on #224
Tag @rbiswas4. We are passing the ball around adding some lessons learned.  When you have added one to the page linked in the initial message in this issue, re-assign to someone else.

[2016-04-29 14:56] jchiang87 commented on #220
@jbkalmbach @rbiswas4 FYI:  I've reloaded the ForcedSource table with fluxes converted to nanomaggies.

[2016-04-29 18:55] jchiang87 commented on #228
Regarding Stack provenance, there are discussions at community.lsst.org that may (or may not) be useful:
https://community.lsst.org/t/storing-knowledge-of-stack-runs-in-a-production-environment/429
https://community.lsst.org/t/stack-provenance-in-tasks/605
At JIRA, there is
https://jira.lsstcorp.org/browse/RFC-169
https://jira.lsstcorp.org/browse/DM-3372

[2016-05-01 13:52] heather999 commented on #210
Perhaps it's time to close this issue?

[2016-05-02 16:20] tony-johnson commented on #201
Would Tuesday afternoon work, after 2pm (say 3pm to be concrete?).

Possible topics:
* Throughput on serial queues
* Max job time (especially as it applies to phosim jobs)
* Group account for running jobs at NERSC #86
* Submitting jobs directly to NERSC bypassing NEWT #87
* Getting twinkles appropriate installs of phosim and DMStack at NERSC
* (add more topics here)

[2016-05-02 17:16] drphilmarshall opened #231 "Switch to lower case naming"
@cwwalter recommended we not capitalize "Twinkles" so as to avoid the problems the `GalSim` team had working on both linux and Mac OS X. I'm not sure where this needs to be done, possibly everywhere?

[2016-05-02 17:37] cwwalter commented on #231
Here is a little background info on what I was saying based on our GalSim experience.

Basic background: OSX doesn’t really distinguish between case. For example, Look in your home directory and then type something like:

ls Music
ls MUSIC
ls music

you will see the same thing in all three cases.

But, the way eups is written it actually pays attention.  So if you actually do it properly by typing

[2016-05-02 17:39] jchiang87 commented on #231
It applies just to filenames I think, since filenames on OSX aren't case-sensitive.  We can still use mixed case internally in code, e.g., for module or class names within a file.

[2016-05-02 17:40] jchiang87 commented on #231
btw, eups determines the package name from the filenames in the ups folder.

[2016-05-02 17:41] cwwalter commented on #231
Right I am only referring to the eups package name.  Nothing else.

[2016-05-02 17:42] djbard commented on #201
3pm will be great. Do you have a BlueJeans number to use?

On Mon, May 2, 2016 at 9:20 AM, Tony Johnson <notifications@github.com>
wrote:

[2016-05-02 21:05] jchiang87 commented on #209
@rbiswas4 I've tried `pymysql` and it seems to work fine as a drop-in replacement for `MySQLdb` except for [a bug that I reported](https://github.com/PyMySQL/PyMySQL/issues/447).  Our NERSC db uses `port=3306`, so we are not directly affected, but it would be good if they fix the problem.  BTW, it seems that `astropy.time` also has a `MySQLdb` dependency (via `pytz`), so technically it also is not

[2016-05-03 04:53] djbard commented on #201
Hello:
 I talked to Shreyas today, who will probably be a useful person to have
involved in this discussion since he's our NEWT expert. He's not available
tomorrow however - he could meet on Friday before 12am, or in the 2.30
Twinkles slot. Perhaps we could have a half-meeting tomorrow to discuss the
areas I can help with, and postpone the other half of the meeting until
Friday?
 -Debbie

On Mon,

[2016-05-03 13:01] richardxdubois commented on #201
If there is a meeting today (Tuesday) - I realized I have something on at 3, but 4 would work... if that doesn't work for everyone else, just carry on.

Richard

[2016-05-03 15:51] tony-johnson commented on #201
OK, following Debbie's suggestion, we should meet this afternoon to discuss at least a subset of the topics listed above. Either 3pm or 4pm would work for me -- others should chime in if one time works better than the other. We can use https://bluejeans.com/256850342/. Everyone is welcome but I would suggest that useful attendees would include @brianv0  @TomGlanzman @djbard @jchiang87 @richardxdub

[2016-05-03 16:06] djbard commented on #201
I can only do 3pm this afternoon, I have other meetings at 4 (and in fact
the rest of today). Let me know if I need to book a slot for me and Shreyas
on Friday AM, @brianv0 <https://github.com/brianv0>.

On Tue, May 3, 2016 at 8:51 AM, Tony Johnson <notifications@github.com>
wrote:

[2016-05-03 16:08] heather999 commented on #201
I was pondering attending and I think I can manage 3 PM Pacific.  Thanks!

[2016-05-03 17:15] jchiang87 opened #233 "Additional code checking in .travis.yml: pylint and coverage"
In addition to unit tests and python 3 compatibility checks (see #211), we should add standard pylint (2.7) checking.   We'll probably want to have a `pylintrc` file to customize which checks are applied.

It was also suggested that [coveralls](https://coveralls.zendesk.com/hc/en-us) could be used to track coverage via travis.

[2016-05-03 19:36] tony-johnson commented on #201
Sounds like the consensus is to meet at 3pm today. We can discuss possible follow up meeting on Friday at today's meeting.

[2016-05-03 21:55] tony-johnson commented on #201
Meeting starting in 5 minutes. Notes and agenda are here:

https://docs.google.com/document/d/1NnsW3XZTQcJNqVi-3RZQivCqSMlY753S2MZk9dsbMNg/edit?usp=sharing

[2016-05-04 08:07] sethdigel commented on #186
I've made a branch called issue/186/cpu_time_predictor and pushed three files:
data/run1_metadata_v6.csv, which has the complete metadata for the Run 1 phosim visits, including CPU times scaled to their equivalents on 'fell' batch hosts, and estimated CPU times from Run 1sx (1-s visits) for the 103 Run 1 visits that reached the 120 hr CPU limit.

python/desc/twinkles/run1_cpu_generate_rf.py, which

[2016-05-05 17:09] SimonKrughoff commented on #229
I'll try to find time this week to make a minimal how to reproduce.

[2016-05-05 17:43] SimonKrughoff commented on #166
@tony-johnson Just doing some issue cleanup.  Do I need to debug this more?  It is longer than I'd expect, but I don't know where the time is all going.

[2016-05-05 17:44] SimonKrughoff commented on #183
@drphilmarshall Are we meeting today?

[2016-05-05 17:52] tony-johnson commented on #166
Hi, if we think this time is reasonable we can close the issue, although I was somewhat worried that if the time is increasing more than linearly with the number of visits how we we handle this long-term.

I do have a perhaps related question. I have heard mention of the ability to specify -jN option to specify that DM jobs should use multiple threads. Is this something which comes "for free", or

[2016-05-05 17:55] brianv0 commented on #166
I don't know where the threading kicks in, but here's the discussion I was referring to:

https://community.lsst.org/t/implicit-threading-intervention/728

[2016-05-05 18:00] SimonKrughoff commented on #166
@tony-johnson I actually don't know if the time is reasonable.  It's only measuring sources on six images, right?  It seems excessive, but I don't know where all the time is going.  E.g. if it's all I/O of the logs, I don't think it's something we can fix in DM other than turning down the log level.

The `-jN` switch is free, but it only parallelizes over dataIds.  Practically, this means each ima

[2016-05-05 18:07] drphilmarshall commented on #183
I think we should - but I will not be able to attend, unfortunately. Here's an [agenda for you to all jump on and edit](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit#heading=h.yx4yagfldqqx) - it'd be good to see what's happening with extracting and analyzing the Run 1.1 light curves. 53 minutes to work on the agenda!

[2016-05-05 18:29] heather999 opened #235 "new lsst_apps sims compatible conda install on dev channel"
@danielsf We had a meeting about setting up NERSC for another round of runs.  The need of an updated version of the stack came up. We were wondering if it would be possible to make another conda installation of lsst_apps available on the dev channel. #163 mentions b2016 as our target. I am making a fresh attempt to build from source, but a conda installation is clearly preferable, if it is possibl

[2016-05-05 18:32] cwwalter commented on #235
Hi Heather, that URL has a problem for me.  I fixed the "a" in google but it still says page not found.

[2016-05-05 18:33] heather999 commented on #235
Thanks, @cwwalter - better now?  I hope!

[2016-05-05 18:34] cwwalter commented on #235
Yes thanks!

[2016-05-05 18:39] cwwalter commented on #235
One comment: On Cori if you are running a single CPU job you want to run in the "shared queue".  That queue has a 48 hour limit.

There were recently some increased time options but I think they were only in the regular queue and are limited.  @djbard can comment more about this and if special run conditions are possible.

[2016-05-05 18:40] danielsf commented on #235
@heather999 Which weekly do you need the conda install built against?

[2016-05-05 18:42] heather999 commented on #235
I want to say b2016 @danielsf, but I would owe @jchiang87 a beverage if he can confirm that.

[2016-05-05 18:46] jchiang87 commented on #235
@danielsf I'm not sure there is a weekly build that has what we want.   @SimonKrughoff would know what weekly would be needed, if such a thing exists.

[2016-05-05 18:52] danielsf commented on #235
I agree.  It does not look like the weeklies have been updated since the last version was built.  Let me talk to some folk about how to handle this (usually our policy has been to build against weeklies on the assumption that they are more stable than the average build; I'm not sure if there is a compelling reason for this policy or not).

[2016-05-05 18:56] jchiang87 commented on #233
I added coverage tests and `coveralls` integration via 2631fede.  See https://coveralls.io/github/DarkEnergyScienceCollaboration/Twinkles for the coverage stats.

[2016-05-05 19:16] rbiswas4 commented on #205
I was under the impression that the baseline schema was very fluid, so good to know. Regardless, it would simply make sense to keep these quantities in separate tables, which is alsp what I ad in mind. The feature that I am interested in is making this easy rather than having to write out a schema like you did, thereby making the addition of new quantities into tables very easy. Of course, that do

[2016-05-05 19:37] jchiang87 commented on #205
For those examples, I can imagine a table with obsHistID as the primary key, and having tools to add columns as desired, e.g., the table may initially just have obsHistID and skyBG as columns, then later someone could run the code to add the zeropt column and fill it.   I played around with this before and [this recipe](http://stackoverflow.com/questions/5677932/optimize-mysql-for-faster-alter-tab

[2016-05-06 14:27] heather999 commented on #201
Are we still planning to meet at 2:30 Pacific today?

[2016-05-06 15:29] tony-johnson commented on #201
Debbie had suggested we meet at 2:30 today to discuss NEWT specific issues with Shreyas Cholia. I have not heard a definitive reply as to whether he can make 2:30, I just sent him a reminder, will post here if the meeting is happening. We could also use the meeting to further discuss other NERSC issues if we have it.

[2016-05-06 19:54] tony-johnson commented on #201
We will have a meeting at 2:30 today, using  https://bluejeans.com/256850342/.

It will focus on use of NEWT for submitting jobs from the workflow engine to NERSC. Topics include:

1. Brian has successfully submitted jobs via NEWT, but the job completion emails don't seem to be getting through. Is there some issue with NEWT that would prevent this from working?
2 Jobs disappear quickly from the sl

[2016-05-06 22:14] heather999 commented on #235
@SimonKrughoff @danielsf In the interest of allowing this NERSC test to proceed - I'm wondering (and perhaps this was your initial suggestion at the Twinkles meeting, I assumed you were intending we just take the binaries) if we can just copy the source that exists in /nfs/slac/kipac/fs1/g/desc/DMStack/lsstsw to NERSC and rebuild it?
So some questions.. is that the right directory location at SLAC

[2016-05-06 23:24] jbkalmbach opened #236 "New TDC Lens catalog missing TwinklesId numbers"
So, I guess we haven't been creating new Instance Catalogs because otherwise I think somebody would have mentioned this. I was trying to make a new instance catalog to get a list of sources to overlay on our new coadds and discovered I couldn't because there was no 'twinklesID' column in the new file 'data/twinkles_tdc_rung4.fits'). So, I fixed that and now since there are 872 possible lenses we n

[2016-05-09 15:51] heather999 commented on #235
@tony-johnson can you confirm that /nfs/slac/kipac/fs1/g/desc/DMStack/lsstsw is the copy of the code used in the Twinkles run at SLAC?

[2016-05-09 15:59] tony-johnson commented on #235
Yep, that is the code that we used.

[2016-05-09 16:23] SimonKrughoff commented on #235
@heather999 I was hoping that we could literally copy the binaries over to NERSC and just use them (that's basically what a conda install does anyway).  I know the anaconda distribution is not relocatable, but maybe we can just patch a new one on top.

[2016-05-09 16:35] heather999 commented on #235
@SimonKrughoff My concern is that rather than using the more generic Cent OS5 used for the conda install ( I think that's still the case ).. we'd be going from RH6-64 and build that wasn't intended to be ported anywhere else, but maybe I'm being pessimistic. I'm open to zipping this up and copying it over to try it.
It wouldn't hurt to try to do an actual build from source at NERSC - just to see h

[2016-05-09 17:26] heather999 commented on #235
@SimonKrughoff There are 2 bits:
/nfs/slac/kipac/fs1/g/desc/DMStack/lsstsw/build/boost/libs: Cannot open: Permission denied
and
cannot open `/nfs/slac/kipac/fs1/g/desc/DMStack/lsstsw/stack/ups_db/Linux64.pickleDB1_3_0' for reading: Permission denied
I also receive complaints about afw's .git directory, but I think that's safely ignored. Is it possible modify the permissions?

[2016-05-09 17:30] SimonKrughoff commented on #235
O.K.  I'll have a look.

Simon

[2016-05-09 20:47] jbkalmbach opened #238 "Overlay new coadds with sprinkled positions"
So, I compiled a list of sprinkled objects and then converted their ra,dec to pixel locations using the coadd wcs and astropy.wcs.

First, I looked at the locations of all the sprinkled objects. Obviously, they cover a larger range than just the chip we are looking at.
![full_layout](https://cloud.githubusercontent.com/assets/4755090/15127435/8c77796c-15eb-11e6-89f8-ee1a2dbca541.png)

Then I looke

[2016-05-09 20:49] jbkalmbach commented on #238
Here I've attached the location information on the sprinkled objects and the lens galaxies.

[sprinkled_agn_pixel_locs.txt](https://github.com/DarkEnergyScienceCollaboration/Twinkles/files/255876/sprinkled_agn_pixel_locs.txt)
[sprinkled_lens_galaxy_pixel_locs.txt](https://github.com/DarkEnergyScienceCollaboration/Twinkles/files/255877/sprinkled_lens_galaxy_pixel_locs.txt)

[2016-05-09 20:54] SimonKrughoff commented on #238
Can I also get the ra, dec locations?

[2016-05-09 20:59] jbkalmbach commented on #238
Those files above should have ra,dec as well as the pixel coordinates I derived.

[2016-05-10 00:19] SimonKrughoff commented on #238
Following Bryce's lead, I plotted some positions of the SNe on the r-band coadd.
![image](https://cloud.githubusercontent.com/assets/945715/15132002/e1159454-1609-11e6-9178-76342f43d26e.png)
Blue circles are supernova positions.

And the coadd color composite for that galaxy:
![image](https://cloud.githubusercontent.com/assets/945715/15131988/b6a0d8fa-1609-11e6-8f7a-b1a1beb9fb6d.png)

That's a lot

[2016-05-10 00:29] drphilmarshall commented on #238
Who put all those supernovae there?! Biswas! ;-)

It looks as though the lensed quasar images are in the correct positions
relative to the lens galaxies, it's just the absolute positions are off -
and, it seems, somewhat systematically. Is this the case? Is the vector
offset between the ref catalog objects and the CoaddSources constant over
the field? The patterns in this vector field might tell u

[2016-05-10 17:06] heather999 commented on #235
In the good news department, I see how to update the python install very easily by introducing a fresh miniconda install and then doing:
conda install --file etc/conda_packages-linux-64.txt
but I'm stuck otherwise

[2016-05-10 17:14] danielsf commented on #235
@heather999 Are you still trying to figure out how to port over Jim's b2016, or are you just trying to update the conda release of the stack in general?

[2016-05-10 17:18] jbkalmbach commented on #238
Simon, how did you get the coordinates for the supernovae? Because your circles seem to line up perfectly with the objects. Do they come from a phosim catalog or a different one?

[2016-05-10 17:22] heather999 commented on #235
@danielsf We're still hoping to port over b2016 to NERSC.  The hope is to demonstrate that they can reproduce the results obtained from the runs at SLAC, and for that we seem to need a duplicate of this particular snapshot of the code.

[2016-05-10 17:25] SimonKrughoff commented on #235
@heather999 I'm tarring up a version of that stack.  I hope that will get around the perms problem.  That seems easier than trying to modify each of the funny places by hand.  Sorry to have forgotten about this until today.

[2016-05-10 17:28] SimonKrughoff commented on #238
Those are the J2000 coordinates from the catsim catalog.  I think that's the right thing to do.  The phosim catalogs will include some differential effects that may offset them: e.g. refraction, aberration, etc.  If you have J2000 coordinates, I'd use those.

[2016-05-10 17:32] jbkalmbach commented on #238
Sorry, I should have been clearer. By catsim catalog do you mean the Instance catalogs used as input? Those are what I was using, not any sort of catalog that came out of phosim.

[2016-05-10 17:35] SimonKrughoff commented on #238
The important thing is the coordinate system.  The instance catalogs used as inputs (what I called phosim catalogs before) are not in J2000.  They are in some intermediate system that includes several physical effects.  If you are using instance catalog positions, that may account for the offset.

[2016-05-10 17:36] danielsf commented on #238
@jbkalmbach You will want to create a new InstanceCatalog that contains the same objects as your PhoSim input catalogs, but uses the columns 'raICRS', 'decICRS' in place of 'raPhoSim', 'decPhoSim'

[2016-05-10 17:40] jbkalmbach commented on #238
Ah, okay, I understand. Thanks @SimonKrughoff and @danielsf, I will make a new catalog with those coordinates and update.

[2016-05-10 18:13] SimonKrughoff commented on #235
@heather999 Here is the tarball.  Let me know if you make any headway.  /nfs/slac/kipac/fs1/g/desc/DMStack/lsstsw-b2016.tar.gz

I chatted with TimJ a little about how to do this in a general way and it's a bit tricky.  Probably what we should to is to build against a tagged weekly and then install deltas on top of that.  Unfortunately, we can't do that with this stack because it was a master build

[2016-05-10 20:56] heather999 commented on #235
Thanks, @SimonKrughoff!  Here's what I did so far:

- Copied over the tarball and unpacked on Cori into:
/project/projectdirs/lsst/lsstDM/Cori/b2016/lsstsw
- Removed the miniconda subdirectry
- Installed a fresh miniconda
- sourced bin/setup.sh
- installed the stack-specific python modules via:  conda install --file etc/conda_pacakges-linux64.txt

Now to test this out.. do you, @jchiang87 or @tony

[2016-05-10 21:04] jchiang87 commented on #235
How did you get the bin/setup.sh script not fall down?  This is what I see:
[code]
It looks like some site-specific configuration needs to be done to make this usable, although I have no idea what  incantations are needed.

[2016-05-10 21:05] SimonKrughoff commented on #235
@heather999 if you are brave, you can try running one of the CI packages: https://github.com/lsst/lsst_dm_stack_demo.

To do this, clone that repo and source the `bin/setup.sh` script.  Then:
[code]
There is also a script to compare the results to a known good set of results if that happens to work.

[2016-05-10 21:06] SimonKrughoff commented on #235
@jchiang87 I'll have a look.  I think it shouldn't be much.

[2016-05-10 21:12] SimonKrughoff commented on #235
It looks like eups hardcodes some paths.  I don't know if this means eups needs to be rebuilt or if it just means the paths need to be changed in the bin scripts.
[code]

[2016-05-10 21:20] heather999 commented on #235
I started updating a few of the setup scripts.. I'm not sure yet how deep I have to go.. so far the path is hard-coded in:
eups/current/bin/setups.sh
and
eups/2.0.1/bin/eups_setup
but updating those hasn't totally fixed the problem yet.. I'm still receiving an error:
/nfs/slac/kipac/fs1/g/desc/DMStack/lsstsw/stack in $EUPS_PATH does not contain a ups_db directory, and is being ignored

Is there a

[2016-05-11 15:24] #217 closed

[2016-05-11 15:25] jchiang87 commented on #217
code added at 98085bc162b1

[2016-05-11 17:05] heather999 commented on #235
@jchiang87 Just so you know that I didn't abandon this yet!
https://community.lsst.org/t/using-lsstsw-to-rebuild-relocated-dmstack/767/13
Getting there.. I remain hopeful :)

[2016-05-11 17:57] jbkalmbach commented on #238
Ok, I redid them with J2000 coordinates and it seems now they lie in the correct area, but looking closely at the second set it still seems just a bit off, but maybe those are phosim effects, I'm not sure.

![zoom_targets_clean](https://cloud.githubusercontent.com/assets/4755090/15190861/f40e3742-1766-11e6-8bfa-83fd6eadf988.png)
![zoom_targets_icrs](https://cloud.githubusercontent.com/assets/47550

[2016-05-11 18:00] SimonKrughoff commented on #238
@jbkalmbach have you been able to find any systems where the images are separated from the lens by enough that you can distinguish them by eye?

[2016-05-11 18:03] jbkalmbach commented on #238
I'll try to find some.

[2016-05-11 22:00] jbkalmbach commented on #238
Here, I found these. The first set are pretty faint, but you can see them, the second aren't as spread out but I think you can tell by eye without knowing that those are two point sources. I also fixed the problem that was causing the slight offsets before and it looks like I'm getting pretty good matchups on location now.
![zoom_targets_spread](https://cloud.githubusercontent.com/assets/4755090/1

[2016-05-12 18:47] heather999 commented on #235
@SimonKrughoff @danielsf @tony-johnson @jchiang87   If we have a Twinkles meeting.. I'm hoping we can discuss "What Now?" concerning a NERSC installation of DMstack and the plan to try to reproduce the Run 1.1 results from SLAC.

[2016-05-12 18:47] drphilmarshall commented on #183
Hi all! Despite how it probably feels sometimes, I have not forgotten about you. Let's meet as usual at 1200 PDT (in 13 minutes) to catch up on Twinkles things. I see someone else has already started [the agenda!](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit#heading=h.ir7w4pr4edme) Thank you :-) Please add anything else you want to talk about, suitably secti

[2016-05-12 19:39] SimonKrughoff opened #239 "Install w.2016.20 weekly at SLAC"
I will install the latest weekly at SLAC and then ping @tony-johnson here with the build number so he can kick off a new run.

[2016-05-12 19:46] tony-johnson commented on #239
Hi Simon, it might be useful if you could capture what commands you needed to execute to do the build, to make it easier for @heather999 to reproduce it at NERSC (plus I would be interested to know how to do this in future)

[2016-05-12 19:52] jchiang87 commented on #239
It would be helpful to provide the correct procedure to install a version of sims that can be run using that installation of the Stack.   The sims code is needed by Twinkles to run the catsim-related code as well as by the Monitor package to produce light curves.

[2016-05-12 19:56] SimonKrughoff commented on #239
@danielsf Does sims tag with the same weekly tags as the core DM stack?

[2016-05-12 20:02] wmwv opened #241 "What SN Rate should we use for the next Twinkles Run?"
We would like to have a reasonable sample of supernovae in Twinkles and in each image.

We would like a total of 1000 SN Ia lightcurves to analyze.  For a one year run, that seemed like on order 100 SN/image.

We chose 100 SNe at SNR>5 for the first Run with a flat redshift distribution.  That resulted in far too many supernovae.

@rbiswas4 Given the experience in the first run, and your expertise

[2016-05-12 20:32] danielsf commented on #239
Whenever we release a new lsst_sims, we build it against the latest DM weekly.  It has been a while since there has been a new sims release.  I think we are on w.2016.15

If we need to release a new sims version in concert with what you are building, that is fine.  Just let me know.

[2016-05-12 22:24] SimonKrughoff commented on #239
Assuming you have an lsstsw distribution someplace, to install the weekly and lsst_sims on top of that do:

[code]

[2016-05-12 22:44] SimonKrughoff commented on #239
I'll note you can do the last two steps in either order.

[2016-05-12 23:01] heather999 commented on #239
ok I'll give that a try, thanks @SimonKrughoff

[2016-05-13 00:28] SimonKrughoff commented on #239
I'm closing this.  @heather999 if you have problems at NERSC, feel free to open another issue.

[2016-05-13 00:28] #239 closed

[2016-05-13 00:34] tony-johnson commented on #239
Hi Simon, to use this at SLAC what tag do I need to use?

setup lsst_apps -t w.b2016.20

does not seem to work

[2016-05-13 02:31] SimonKrughoff commented on #239
Sorry @tony-johnson! That was the deliverable for this.  For the DM stack use b2017.  @jchiang87 for the sims use b2018.

[2016-05-13 02:49] heather999 commented on #239
I have the install going now at NERSC.. holding my breath :)
Just in the interest of general knowledge @SimonKrughoff .. b2017 and b2018 are the versions of lsst_apps and lsst_sims that correspond to the w.2016.20 build?

[2016-05-13 03:08] heather999 commented on #235
closing this issue as we've moved on..

[2016-05-13 03:08] #235 closed

[2016-05-13 03:40] heather999 opened #242 "Install w.2016.20 weekly at NERSC"
The installation was going along very well, I was running "rebuild -r w.2016.20 lsst_apps" and then it hit afwdata.. there must be an easy fix.. it just can't find the code for some reason.  I recall that the lsstsw doc mentioned possibly maintaining an afwdata install outside the installation area.  What version of afwdata should we grab @SimonKrughoff @jchiang87 ?

    afwdata: Traceback (most r

[2016-05-13 15:31] tony-johnson commented on #242
Hi Heather, not directly relevant, but I tried following Simon's instructions on my ubuntu laptop just to see what would happen. It got a good way though and then failed with:

*** error building product mariadbclient.

I am wondering if this is the same error you saw before when building for NERSC? When I look in the log file I see:

:::::  [2016-05-13T01:06:39.408611Z] Setting up environment wit

[2016-05-13 16:24] SimonKrughoff commented on #242
@heather999 very strange.  It seems like your lsstsw is not up to date.  Did you do a `git pull` before you started the build?  That repo also requires git-lfs, but that should have come with the git installed by lsstsw.

@tony-johnson that could be a red herring.  If you don't have cmake installed, mariadbclient will fail.  I'll ask around for others building on ubuntu.

[2016-05-13 16:46] tony-johnson commented on #242
Hi Simon, after installing cmake and libncurses5-dev I got past the mariadb build.  It took a few more package installs to get doxygen to build, but I am making progress.

[2016-05-13 16:59] cwwalter commented on #242
BTW just as a note.. I was surprised to learn that conda supplies cmake.  It isn't in the default packages but you can do a 'conda install cmake' if you need it.

[2016-05-13 17:49] heather999 commented on #242
@SimonKrughoff I'm using a fresh clone of lsstsw, but I also did a git pull.  I'll try it again to confirm.

@tony-johnson That wasn't the same issue I had with mariadb - I can look it up, but it was a missing system library associated with the mariadb server, as I recall.  cmake was available in that failed attempt at NERSC.  Meanwhile, this latest attempt got past mariadbclient just fine, so I h

[2016-05-13 18:31] SimonKrughoff commented on #242
@heather999 Did you say `git lfs init` before you started your build?  That may be it.  If you want, we are chatting on HipChat if you want to jump on.

[2016-05-13 19:04] heather999 commented on #242
@SimonKrughoff ah.. no I had not done that, or set up ~/.gitconfig or ~/.git-credentials as outlined [here](http://developer.lsst.io/en/latest/tools/git_lfs.html)
However when I do git lfs init, that is not a recognized command.. perhaps my set up of the git config files will be enough?  I'll give it a whirl.

    heatherk@cori09:/project/projectdirs/lsst/lsstDM/Cori/w.2016.20/lsstsw> source bin/s

[2016-05-13 19:31] heather999 commented on #242
Unfortunately @SimonKrughoff  just updating ~/.gitconfig and creating a ~/.git-credentials didn't fix this issue (appending the same afwdata error at the end).  I followed the directions for Option 1 (anonymous access) I wonder if I'm one of the few to choose that option.. rather than Option 2 with authenticated access.  I'm looking at: http://developer.lsst.io/en/latest/tools/git_lfs.html

    he

[2016-05-13 21:32] SimonKrughoff commented on #242
@heather999 did you run `git lfs install`?  It sounded before like you didn't have git-lfs installed for some reason.  What does `which git` tell you?

[2016-05-13 22:54] heather999 commented on #242
@SimonKrughoff I think we're suffering from trying to have this conversation via 2 mediums.. above you had mentioned "git lfs init" and I see on HipChat it was "git lfs install" :)

Let me back up a little.. here is what I am doing step by step:

I load and unload a few modules on NERSC so that gcc 4.9.3 is available (I can show the details if it becomes interesting), then:
    git clone https://g

[2016-05-13 23:02] rbiswas4 commented on #241
Actually, we targeted 100 SNe with SNR > 5 *in that visit*, while the true number of SN showing up on that visit (with lower SNR) could (and would) be much higher. This is what increases the number to such values.  (details in https://github.com/rbiswas4/sgi/blob/master/src/Twinkles_SimulatedSN_Setup.ipynb, https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/doc/SNSimDocumentati

[2016-05-14 02:20] #210 closed

[2016-05-14 05:09] heather999 commented on #242
This has been a hoot-and-a-half :)  We've since discovered that the version of git-lfs (1.0.2) installed by lsstsw/bin/deploy is old and does not correspond to the configuration instructions provided in:
http://developer.lsst.io/en/latest/tools/git_lfs.html
Once I upgraded to the latest release (1.2.0), afwdata downloaded just fine.
However it is not yet a happy ending, the build ultimately failed

[2016-05-17 21:24] heather999 commented on #242
We seem to have a complete build now available on Cori after some discussion
[https://community.lsst.org/t/trouble-installing-dmstack-w-2016-20-at-nersc/779](url)
I've also tested it against lsst_dm_stack_demo via:
`setup -t b2055 obs_sds`
 `./bin/demo.sh`
The build is here: /project/projectdirs/lsst/lsstDM/Cori/w.2016.20
to use it.. I would first setup the necessary NERSC  modules:
`source /proje

[2016-05-17 21:30] tony-johnson commented on #242
Excellent! I will try rerunning some of the run 1.1 jobs by hand to see if they work!

[2016-05-17 21:36] SimonKrughoff commented on #242
@heather999 That is really good work!  Sorry for not being more involved.  This is important information you've provided.

[2016-05-17 21:39] jchiang87 commented on #242
@heather999 Could you also install a few other items?  The ones I see a need for right now are `ipython`, `nose`, `coverage`, and `iminuit` .  The last one is needed to fit light curves with `sncosmo` (which seems to be part of the Stack or sims, but somehow doesn't also pull in `iminuit`).  All of those are available via `pip install`.   We should work on a standard list of add-ons to include wit

[2016-05-17 21:44] heather999 commented on #242
You were vital in this @SimonKrughoff! I can't expect any one person to address all the questions I come up with - some of which are really just ignorance about how the builds work. It forced me to learn a few things. I think this also proves that the various communication tools are working!

@jchiang87 ok, yes I can do that.  No specific versions, just whatever pip feels like grabbing?  :)  It wo

[2016-05-17 21:47] jchiang87 commented on #242
yes whatever pip feels like grabbing.   I haven't run into any cases for these where the default didn't work.

[2016-05-17 22:01] heather999 commented on #242
Done @jchiang87
nose 1.3.7
coverage 4.0.3
iminuit 1.2
ipython 4.2.0

[2016-05-17 22:37] tony-johnson commented on #242
When I tried running at NERSC I got:

/global/homes/t/tony_j/projects/trial/serialIngest: line 8: ingestImages.py: command not found\

My guess is that we also need:

 rebuild -r w.2016.20 pipe_tasks

@SimonKrughoff -- does this sound right, and are there other things which might be missing?

[2016-05-17 22:42] jchiang87 commented on #242
The image ingest task for obs_lsstSim was renamed.  It's `ingestSimImages.py` now.

[2016-05-17 22:58] tony-johnson commented on #242
You are right, plus I forgot the

setup lsst_apps -t b2055

[2016-05-17 23:00] SimonKrughoff commented on #242
@tony-johnson sorry for the rename.  It is on my plate to updated the cookbook.

[2016-05-19 00:04] tony-johnson commented on #242
I have been able to run several jobs using this version of the code, and so far have not seen any problems caused by the installation. I would suggest we can close this issue.

[2016-05-19 00:14] tony-johnson commented on #201
HI @djbard, I have tried running some jobs at NERSC by hand using the stack installed by @heather999 described in #242.

The good news is that if I submit a large number (~1200) of short (~00:30:00) jobs in the shared queue on cori they all seem to start pretty fast, in fact I think they all ran in about 2 hours.

The less good news is that f I submit only 10 jobs at a time (so far I am just runni

[2016-05-19 13:43] #242 closed

[2016-05-19 17:43] drphilmarshall commented on #183
Hi all,

It's our weekly meeting 20 mins, [live notes are here, as usual](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit#heading=h.2l5d9xvfziy1). Will we have some light curve analysis to look at? Most visible activity has been on getting set up at NERSC, but maybe there is more to report from the science side? Looking forward to catching up!

Phil

[2016-05-19 17:46] drphilmarshall commented on #183
A couple of weeks ago we settled on the week of October 17th for the Twinkles Retreat. Should be a nice break from CHEP2016 the week before. Mark your calendars!

[2016-05-19 17:54] drphilmarshall commented on #179
A couple of weeks ago we settled on the week of October 17th for the Twinkles Retreat. Should be a nice break from CHEP2016 the week before. Mark your calendars!

[2016-05-19 17:54] #179 closed

[2016-05-19 18:06] danielsf commented on #183
Rahul and I are confused.  Are we meeting now (20 minutes after Phil sent that last email) or at noon as usual?

[2016-05-19 18:17] SimonKrughoff commented on #183
Regardless of the time, I can't make it this week.  I don't have much to report anyway.

[2016-05-19 18:19] jchiang87 commented on #183
I'm pretty sure that Phil mean Noon Pacific.

[2016-05-19 18:53] drphilmarshall commented on #183
Yes, sorry - lets meet at 12 noon as usual. Now in 7 mins!

On Thursday, May 19, 2016, James Chiang <notifications@github.com> wrote:

[2016-05-19 22:28] djbard commented on #201
Hi Tony:  your best bet is absolutely (and is always!) to submit a ticket,
including your batch scripts so they can look for problems with your syntax
(that's pretty common with job arrays). You'll get a much faster and more
comprehensive response than I can give you - NERSC consultants are great.
 But good news that your large array ran quickly! And that it can run at
all, great that the stack is

[2016-05-19 23:38] drphilmarshall commented on #181
OK, I never got any feedback about the house I posted, and it is no longer available: lesson is to book as early as possible! We have some options still. From the [doodle poll](http://doodle.com/poll/xpdcrkdzhaverii2), I think we are looking at 5 1/2 people staying residentially: @jbkalmbach @SimonKrughoff @danielsf @rbiswas4 @cmccully @wmwv . Given that Curtis is only following along in the backg

[2016-05-19 23:39] #231 closed

[2016-05-19 23:45] drphilmarshall commented on #233
Cool - I didn't know the term ["coverage"](https://coveralls.io/) before. But now our README tells everyone that 40% of our code is covered by our test suite! :-)

What do you suggest we do about a `pylintrc` file? I guess we'll want the same one in other DESC projects, no?

[2016-05-19 23:47] drphilmarshall commented on #236
Seems like a straightforward change, Bryce - is it?

[2016-05-19 23:49] drphilmarshall commented on #238
These matches look close enough for believable light curve comparisons, I'd say! Are you happy to close out, @jbkalmbach ?

[2016-05-19 23:59] drphilmarshall commented on #201
Thanks @djbard! And you Tony, for pushing on this. I guess submitting jobs via the workflow engine is the next step, while the NERSC consultants chew on your log files: is #87 the right issue to work on?

Tony, it could be that you can tick off some of [your checkboxes](https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/201#issue-144758898) by closing some of those issues. I feel li

[2016-05-20 00:03] drphilmarshall opened #243 "Upgrade Cookbook to enable instance catalog generation at SLAC"
So, let's see - what do we need to be able to generate instance catalogs outside UW?

* [x] Generalize the Cookbook into a folder @drphilmarshall #244
* [ ] Make a Sims Recipe in a Cookbook folder @danielsf #246
* [x] Get set up to run procedures in Sims Recipe at SLAC, and carry out small test @TomGlanzman

[2016-05-20 00:04] drphilmarshall opened #244 "Generalize cookbook to include Sims recipes"
Needed by #243 - I'll do some reorganization and linking.

[2016-05-20 00:29] #244 closed

[2016-05-20 01:00] jchiang87 commented on #233
It's that final 60% to get it over the finish line that's the hard part!

One can generate a `pylintrc` file with the default configs and then tweak things from there.   I'll put one in the [desc_package_template](https://github.com/DarkEnergyScienceCollaboration/desc_package_template) repo (and here) which we can leave up to the individual groups to tweak.

[2016-05-20 03:10] drphilmarshall opened #246 "Write Sims Recipe for the Twinkles Cookbook"
Hey @danielsf I made a markdown file for you and @rbiswas4 to write the Sims Recipe in: `doc/Cookbook/Sims_Recipe.md`  At the moment it just has @SimonKrughoff 's minimal notes on generating `phoSim` data, but now we need to complete the job to enable @TomGlanzman produce images from scratch. It'd be great if you could follow Simon's brief and uncomplicated style - Tom and Tony found it easy to tr

[2016-05-20 03:50] drphilmarshall commented on #197
@SimonKrughoff At today's weekly meeting we decided to push the Run 2 data release date back to June, as the NERSC installation and set up has taken longer than expected. It would still be good to include image differencing in this run, though. A question came up for you, which I'll issue now. We'll need to issue all the other tasks in this epic at some point, too. Are you feeling bullish about di

[2016-05-20 03:54] drphilmarshall opened #247 "Image differencing: what to use as a reference image?"
Hey @SimonKrughoff - what is the basic plan for the reference image to use in, say the DR10 Level 2 processing? @rbiswas4 guessed that it might be the DR9 coadd - at which point I wondered if we might use the DR10 coadd as an approximation to this?

Another thing that came up in discussion was the possibility of doing multiple processings, to emulate working with the DR3 data, for example. If we d

[2016-05-20 03:57] drphilmarshall opened #248 "Image differencing recipe"
The DM Level 2 processing recipe now lives in a separate cookbook file, `doc/Cookbook/DM_Level2_Recipe.md`. This is where we need to add in a section describing how to carry out the image differencing, DIASource and DIAObject generation, and then the forced photometry that will give us our final light curves.

[2016-05-20 04:07] drphilmarshall opened #249 "Run 2 Plan"
I will write this down, based on my understanding of where we are, and what should be possible. It can refer heavily to the Run 1 Plan, and need not be very long!

[2016-05-20 05:52] #191 closed

[2016-05-20 20:38] tony-johnson commented on #201
Before contacting NERSC consultants I decided to contact DM support to see if they have any suggestions first:

https://community.lsst.org/t/disk-contention-when-running-many-dm-jobs-advice-needed/791

[2016-05-20 20:41] #116 closed

[2016-05-20 20:41] tony-johnson commented on #116
More recent discussion has been taking place here:

https://docs.google.com/document/d/1NnsW3XZTQcJNqVi-3RZQivCqSMlY753S2MZk9dsbMNg/edit?usp=sharing

[2016-05-20 20:43] tony-johnson commented on #87
Brian is working on automating this via the workflow engine, meanwhile we have been manually submitting jobs to look for any NERSC related issues.

[2016-05-20 20:45] djbard commented on #201
I'd strongly recommend asking the consultants anyway @tony-johnson - that's what they're there for! I am quite sure you have an issue with your scripts, not with $SCRATCH contention. You can check the CSCRATCH performance here:
https://my.nersc.gov/filesystems-cs.php

[2016-05-20 21:10] tony-johnson commented on #201
Impossible -- I never have issues with my scripts! But OK I have submitted an issue, I don't know if you @djbard or anyone else can see it?

https://nersc.service-now.com/nav_to.do?uri=incident.do%3Fsys_id=54248d4d0fa752009ce491a6d1050e9d%26sysparm_stack=incident_list.do%3Fsysparm_query=active=true

[2016-05-20 21:15] djbard commented on #201
ha! Yes, I can see that (and am "watching" the ticket) but noone else will be able to. At the least, by filing the ticket we're raising awareness of how this project will be running jobs.

[2016-05-21 02:00] #214 closed

[2016-05-23 14:34] drphilmarshall commented on #233
Sounds good. Because its in the package template, does that mean that each
package should have one? How might the Twinkles `pylintrc` be different
from the 2pt_validation one, for example?

On Thu, May 19, 2016 at 6:00 PM, James Chiang <notifications@github.com>
wrote:

[2016-05-23 14:37] drphilmarshall commented on #191
Great! :-) Can you post the link to the doc that explains how to do this,
please? Thanks!

On Thu, May 19, 2016 at 10:52 PM, James Chiang <notifications@github.com>
wrote:

[2016-05-23 15:00] jchiang87 commented on #233
Each package created with the template would get one and we could configure the generatated `.travis.yml` to use it as part of the default build, but since we're not requiring any particular set of coding conventions, it would be up to the package owners/developers whether they wanted to continue using it or modify it to suit their group's needs.

[2016-05-23 15:41] jchiang87 commented on #191
That's something that's being worked on in the Monitor package at [issue 24](https://github.com/DarkEnergyScienceCollaboration/Monitor/pull/26).  I don't actually know how to set up the ssh tunnel to get outside-of-NERSC access, but @jbkalmbach does.  I'm hoping that once the implementation issues are settled, we can document access over there.

[2016-05-23 16:07] drphilmarshall commented on #233
Got it! So we could start tweaking the Twinkles one, and maybe push the
changes back to the package template after a while, if we make some good
general choices? I can see how a sensible collaboration-wide default could
evolve like that. That makes me think: I wonder what the GalSim `pylintrc`
looks like? We should ask @rmjarvis, and see if we can adopt come existing
conventions (lots of GalSim de

[2016-05-23 16:16] drphilmarshall commented on #191
Sounds good: we can just put a few links from the Twinkles docs. Thanks!

On Mon, May 23, 2016 at 8:41 AM, James Chiang <notifications@github.com>
wrote:

[2016-05-24 15:30] jchiang87 commented on #233
Added `.pylintrc` at [`desc_package_template`](https://github.com/DarkEnergyScienceCollaboration/desc_package_template/commit/5cff11a5a88521552b68670b47c8318c160befe7).

[2016-05-25 21:32] jbkalmbach commented on #236
Yes, this has been done and now merged in #237

[2016-05-25 21:32] #236 closed

[2016-05-25 21:33] jbkalmbach commented on #238
Yes, I'm happy to say we now have a way to line up sprinkled objects onto the coadds.

[2016-05-25 21:33] #238 closed

[2016-05-25 21:35] jbkalmbach opened #250 "Use Run 1.1 images to discuss changes to sprinkled lenses in future runs"
Hi @drphilmarshall, as discussed last week we should use the Run 1.1 images and the locations of the sprinkled objects to determine if sprinkling parameters for our lens systems should be adjusted and how these changes should be done.

[2016-05-25 21:51] drphilmarshall commented on #236
Great!

On Wed, May 25, 2016 at 2:32 PM, Bryce Kalmbach <notifications@github.com>
wrote:

[2016-05-25 21:53] drphilmarshall commented on #238
Excellent! This would be a good thing to show off in a demo notebook - can
we show the Monitor pulling out a point source and visualizing a postage
stamp around it? I know you've made such plots for the issue comments, but
it'd be good to show the code in action.

On Wed, May 25, 2016 at 2:33 PM, Bryce Kalmbach <notifications@github.com>
wrote:

[2016-05-25 22:02] drphilmarshall commented on #250
Good, yes: maybe this discussion would be best done while looking at a demo
notebook? ;-)

What are the known shortcomings of the lens catalog?

  * Realistic sizes: worked on a little at the hack day, but needs more on
the OM10 side.

  * Missing Einstein rings (ie, AGN host galaxies distorted by the strong
lensing - Nan Li has been working on this)

  * Realistic color variability: we have a mod

[2016-05-26 18:00] heather999 opened #251 "Test out publishing GitHub docs to LSST the Docs"
LSST The Docs is now available (this would replace using GitHub Pages)
https://community.lsst.org/t/introducing-lsst-the-docs-for-continuous-documentation-delivery/781
Jonathan Sick has offered to help interested parties to get started.  I have contacted him. It appears easy enough to get set up.
One hurdle may be the desire to use Sphinx which prefers ReStructuredText to MarkDown.

[2016-05-26 18:06] heather999 opened #252 "Move to use ReStructuredText rather than MarkDown"

[2016-05-26 18:12] heather999 opened #253 "Provide Weekly Summaries"

[2016-05-26 18:38] tony-johnson commented on #201
Status update:

After moving all scripts, input and output data, and log files to the scratch disk, have succeeded in running all of the 1.1 eimage jobs at NERSC, although still with very low efficiency (~4% CPU/elapsed). Not sure keeping everything on scratch is a long-term solution, but there are somme other suggestions from DM and NERSC consultants to try (time permitting).

For now I plan to u

[2016-05-26 18:55] rbiswas4 opened #254 "Have a guideline for code reviews (and code writing)."
It would be good to have a guideline for what parts of code should be reviewed (clear expectations for the reviewer), and also the writer. Sometime back I had suggested this in other contexts. For example, one could expect that every function (at least if not private) should have docstrings, and examples of how to use this. In this guideline we should point out things that the docstring should alw

[2016-05-26 18:58] drphilmarshall commented on #183
I see some activity on the issues, ready for our weekly check-in. See you in http://bluejeans.com/513427879 in a couple of minutes!

[2016-05-26 20:12] drphilmarshall commented on #183
That was good, [notes from teh discussion are here](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit#heading=h.rzprjhy6l8si).

Highlights:

- Run 2 is turning into a NERSC test more than anything: difference imaging is unlikely to be implemented in time, and the objects seem good enough to enable light curve analysis. This pushes our focus to analyzing Run 1.1 b

[2016-05-26 20:17] drphilmarshall opened #255 "Ingest reference information into the Twinkles database?"
In our meeting, I heard mention of querying back to FatBoy to get the reference objects and their light curves. Could/should we ingest this information into the Twinkles database at the point when we make the instance catalogs for PhoSim? Thoughts, @rbiswas4 @danielsf @jbkalmbach @jchiang87 ?

[2016-05-26 20:32] rbiswas4 commented on #255
Yes, and I kind of forgot to mention, if necessary this could be in a file too.

We could, but is the advantage you are thinking of that we have subcatalogs of the reference catalog?

[2016-05-26 21:28] drphilmarshall commented on #255
Yes, and it would make the analysis faster by having everything right there
in the same database - the Monitor would not have to searching around the
UW campus for the old reference objects, and then remake the light curves.

On Thu, May 26, 2016 at 1:32 PM, rbiswas4 <notifications@github.com> wrote:

[2016-05-26 22:02] jchiang87 commented on #254
In general, I think we should try to follow [DM team conventions for code review](http://developer.lsst.io/en/latest/processes/workflow.html#review-preparation), to the extent that is possible, espeically [these points](http://developer.lsst.io/en/latest/processes/workflow.html#the-scope-and-purpose-of-code-review).

With regard to docstrings, here is an [example function and docstring](https://gi

[2016-05-26 22:11] jchiang87 commented on #255
I'm open to ingesting the reference object info into a local database, e.g., the `DESC_Twinkles_Level_2` db at NERSC, but I'd like to see what the code looks like to get that info from fatboy and how complicated it would be (e.g., schema-wise, etc.) to do the local ingest.   If we get things set up so that fatboy doesn't require special access (i.e., whitelist the NERSC nodes), and we can write co

[2016-05-26 22:33] danielsf commented on #255
Cori has already been whitelisted and is able to access fatboy.

It would not be hard to add Edison, too

[2016-05-27 17:01] SimonKrughoff commented on #248
I spent a little time looking at diffim.  Below is a first cut at this using the test data I have on disk.  This is by no means a finished thing, but it shows it's possible.  This is differencing within a night, so it should be empty.  You can see residuals around bright stars.

Things I ran into:
- [ ] calexp PSF can be a different size form the matching PSF which causes an exception
- [ ] There

[2016-06-07 04:24] drphilmarshall opened #256 "Simulating MonoCam with PhoSim"
@DarkEnergyScienceCollaboration/twinkles
Did you all see this email, to the SSim list, from @johnrpeterson ? Looks interesting, and we may be able to both contribute and learn something :-)

————————
PhoSim - MonoCam discussion meeting
Thursday June 9th at 4 pm ET

[2016-06-08 16:05] tony-johnson commented on #85
@brianv0 now has the workflow engine running at NERSC, and we have been able to run a small sample of TwinklesDM jobs using it.

The current implementation does not use NEWT, but instead requires that the daemon is run directly on a login node at NERSC. This seems to work fine, although currently it has to be manually started.

One remaining bug is that rollback does not currently work, but Brian

[2016-06-08 16:25] tony-johnson commented on #201
Cori  06/11/16 4:30-06/27/16 8:00 PDT
Scheduled maintenance.
Cori will be unavailable while preparations are made for the installation of Cori Phase II. Login nodes and job submissions will be unavailable for the duration of the maintenance. The entire two week window is reserved, although the system may be available sooner depending on the progress of the maintenance.

[2016-06-08 17:05] djbard commented on #201
FYI: I've gotten a shared partition installed on Edison for the duration of the outage (and perhaps for the rest of the summer, until after the Cori P1/P2 integration). It has 1300MB/core (so less than the Cori shared partition) but it will be useful.

[2016-06-08 17:06] heather999 commented on #201
That sounds very useful @djbard, would we need a fresh DM installation for Edison?

[2016-06-08 17:48] djbard commented on #201
I think you would need an Edison-specific installation, @heather999. But it should be the same installation process.
Another thing to note - the upcoming downtime on Cori is to install a new OS, so the DM stack (and indeed all code) may need to be recompiled after it. We've been told that everything should recompile just fine, no changes necessary...

[2016-06-08 18:13] heather999 commented on #201
Thanks, @djbard, yes I suspect this should be very straightforward to re-install.
@tony-johnson is it ok if I get to that tonight or tomorrow?  Or are you hoping to hop onto Edison sooner?

[2016-06-08 22:58] tony-johnson commented on #201
@heather999 , I am not entirely sure I have plans to hop onto edison at all, because next week I will be busy with the camera workshop at SLAC, and I am not sure that we are ready to run Twinkles run 2. I think this should be a topic for tomorrow's twinkles meeting.

[2016-06-09 16:00] tony-johnson commented on #85
Rollback is fixed. Closing this issue since basic functionality is now complete. Will open other issues for any additional work.

[2016-06-09 16:00] #85 closed

[2016-06-09 16:06] drphilmarshall commented on #183
Morning all! Sorry for my absence last week, we've been having our institutional review here, and two KIPAC summer students arrived in the middle of it. I'll catch you up on the students when we meet at 12, both are working on Twinkles-related things :-)  [Live notes are here](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit), please edit the agenda to fit your

[2016-06-09 16:09] drphilmarshall commented on #201
Yes - I added an agenda item at the top of the [agenda](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit#heading=h.jqpckcxhia3u). @djbard we'll report back here afterwards - you're welcome to join us at 12noon PDT as well, of course! :-)

[2016-06-09 16:12] drphilmarshall commented on #256
Thinking about this a little more: the big challenge with PhoSimulating MonoCam will be the telescope model, I guess. What we can maybe offer (already, and then again in the fall via Run 3), is MonoCam-like data, which may still be of interest to the SAWG group looking to compare real MonoCam images with simulated ones. Our DM Level 2 pipeline should be of interest to the MonoCam group too.

[2016-06-09 16:18] rbiswas4 commented on #183
Hi,

I won't be able to make it as I am traveling, but will be back for next
week's meeting.

Thanks,
Rahul

On Thu, Jun 9, 2016 at 9:06 AM, Phil Marshall <notifications@github.com>
wrote:

[2016-06-09 16:19] drphilmarshall commented on #248
@SimonKrughoff I saw from last week's meeting notes that you have since made a difference image using a Coadd as the reference. Is it true? :-) Interested to hear what additional PSF issues you ran into. Where are you keeping notes on your work? I don't see any new commits on the [DM Level 2 cookbook recipe](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/doc/Cookbook/DM_Lev

[2016-06-09 16:28] drphilmarshall commented on #254
Does this docstring get parsed by sphinx well? It'd be good to get in the habit of writing docstrings that got turned into nice API documentation using readthedocs or LSSTthedocs or just plain sphinx. I am a total sphinx newbie, since I have forgotten everything that I learned during our little pilot ImSim Recipes project.

[2016-06-09 16:30] drphilmarshall commented on #253
Hi Heather - did you look into this possibility? You're describing something like a Twinkles blog, which would indeed be a nice thing to produce based on our meeting notes. I now realize that I am confused between readthedocs for code, and LSSTthedocs - if the latter can support a blog as well as API documentation that could be very nice! Is there an example of this kind of useage that we could br

[2016-06-09 16:33] drphilmarshall commented on #252
As I recall, we agreed in one of our meetings that we would move to .rst for documenting Twinkles code, while keeping our little markdown files for things like the Run plans. A good start would be to get the code documentation up first (even while its minimal), so we can look at what additional .rst files are needed to introduce it.  Do you want to make a start on this? I would love to be able to

[2016-06-09 16:34] drphilmarshall commented on #251
Whoops - my last comment on #252 is actually more relevant to this thread. In short, go for it, @heather999 ! :-)

[2016-06-09 16:35] drphilmarshall commented on #195
I'm going to close this out, trusting that we are all agreed that a QServ instance would be great, and that working with PServ in the meantime is cool.

[2016-06-09 16:35] #195 closed

[2016-06-09 16:36] drphilmarshall commented on #247
@SimonKrughoff @wmwv Did you see this question? Any idea what the DM diffimaging plan is?

[2016-06-09 16:37] drphilmarshall commented on #246
Hey @danielsf - anything to report on this easy piece of documentation? Thanks!

[2016-06-09 16:39] drphilmarshall commented on #183
Cool, thanks @rbiswas4 . Should we therefore assume that reference light curve extraction is still roadblocked? If you have anything to report you could drop it in the notes, otherwise we will slide gracefully past that item :-)

[2016-06-09 16:41] rbiswas4 commented on #183
I will have that in by the end of the weekend, but not today ...

Thanks,
Rahul

On Thu, Jun 9, 2016 at 9:39 AM, Phil Marshall <notifications@github.com>
wrote:

[2016-06-09 16:43] tony-johnson commented on #195
Hi Phil, I think we should either reopen this to track the work we are doing on setting up QServ at SLAC, or open a new issue for that. Which do you prefer?

[2016-06-09 16:45] drphilmarshall commented on #195
A new one, please. This one was a question which is now answered, and the
new one will likely be an epic, with a checklist in the first comment.
Thanks!

On Thu, Jun 9, 2016 at 9:43 AM, Tony Johnson <notifications@github.com>
wrote:

[2016-06-09 16:45] danielsf commented on #246
Sorry.  I am completely preoccupied preparing for the LSST@Europe2 meeting in about 1.5 weeks.  I don't think I'll be able to do anything Twinkles related until July.

[2016-06-09 16:47] drphilmarshall commented on #85
Hooray! Nice work, you two. So cool to have gained a supercomputing center
:-)

On Thu, Jun 9, 2016 at 9:00 AM, Tony Johnson <notifications@github.com>
wrote:

[2016-06-09 16:54] tony-johnson opened #257 "Set up Qserv instance at SLAC, ideally with world read access"
Three openstack virtual machines have been configured at SLAC for running qserv (two for database backends, one as a frontend mysql proxy).

Brian is working with DM team to installed qserv,

[2016-06-09 16:56] tony-johnson commented on #195
Issue #257 created.

[2016-06-09 16:58] tony-johnson opened #258 "Understand why ingest runs spectacularly much slower in batch than interactive"
Observed at both SLAC and NERSC.

[2016-06-09 17:13] tony-johnson commented on #258
At NERSC running interactively:

	User time (seconds): 3.81
	System time (seconds): 7.12
	Percent of CPU this job got: 105%
	Elapsed (wall clock) time (h:mm:ss or m:ss): 0:10.33

At NERSC running in batch:

        User time (seconds): 15.56
        System time (seconds): 97.36
        Percent of CPU this job got: 14%
        Elapsed (wall clock) time (h:mm:ss or m:ss): 12:47.81

10 seconds -> 13

[2016-06-09 17:26] tony-johnson commented on #258
Details for above

[logFile.txt](https://github.com/DarkEnergyScienceCollaboration/Twinkles/files/307518/logFile.txt)

[interactive.txt](https://github.com/DarkEnergyScienceCollaboration/Twinkles/files/307530/interactive.txt)

[2016-06-09 17:49] SimonKrughoff commented on #258
That is pretty crazy.  I don't see how it can possible take 13min to make ~12 symbolic links.  We could instrument ingest.py to give slightly finer grained timing.

[2016-06-09 17:52] SimonKrughoff commented on #258
Wait a sec.  The non-interactive version seems to be ingesting lots of visits whereas the interactive version is only ingesting one visit.  If you are doing 1000 visits in parallel to the same filesystem I can see it taking this long.

[2016-06-09 17:54] tony-johnson commented on #258
The logfile does 10 visits, but each visit is timed individually, and the times above are for a single visit (visit 200 the same as the interactive).

[2016-06-09 17:56] SimonKrughoff commented on #258
O.K. then I'm baffled.

[2016-06-09 20:34] drphilmarshall commented on #256
The MonoCam confluence pages are extensive, and give a good overview of what they are doing; I found [this page](https://confluence.slac.stanford.edu/display/LSSTDESC/MonoCam-I%3A+NOFS+May+2-11%2C+2016) to be most closely connected to Twinkles, because it describes the DM processing they have carried out. The MonoCam team take 300s exposures on a 1.5m telescope, so the atmosphere properties are di

[2016-06-09 20:45] drphilmarshall commented on #256
Here we go, Merlin replied: the DM code the MonoCam team is using is in

https://github.com/lsst/obs_monocam/tree/tickets/DM-5988

[2016-06-09 20:45] #256 closed

[2016-06-10 23:14] jbkalmbach opened #260 "Make ipython demo notebook run remotely at NERSC"
Cross-Repo issue with DarkEnergyScienceCollaboration/Monitor#28. Just wanted to add it here too so people would see it.

[2016-06-10 23:40] drphilmarshall commented on #260
Thanks Bryce!

On Fri, Jun 10, 2016 at 4:14 PM, Bryce Kalmbach <notifications@github.com>
wrote:

[2016-06-13 16:54] jchiang87 commented on #167
@wmwv I'm trying to run the current master of validate_drp on the Run1.1 data (using v12_0_rc1 of the Stack).  I'm seeing this:
[code]
Any suggestions?

[2016-06-14 14:27] wmwv commented on #167
Yes, `validate_drp` master doesn't work on Twinkles.  I've never successfully integrated the hacks I had to do to get it to work on the LSST simulated.  They're really awful.

There's no general way to get the concept of a 'ccd' from the Butler.  Different cameras use different kesy.  There's 'ccd', 'ccdname', and for LSST camera you need the {'raft', 'sensor'} combination.

[2016-06-14 16:22] jchiang87 commented on #167
Here are the repeatability numbers

| filter | PA1(IQR) [mmag] | AM1 [mas] |
|:------:|----------------:|----------:|
| u | 321.16+/-77.44 | 0.00 |
| g | 694.16+/-57.66 | 27.26 |
| r | 563.19+/-38.28 | 26.86 |
| i | 544.99+/-56.31 | 27.75 |

and the plots for i-band:

![output_i_am1_d_5_arcmin_17 0-21 5](https://cloud.githubusercontent.com/assets/1994473/16050592/216c02cc-3211-11e6-809b-1de9502d4f

[2016-06-14 16:29] wmwv commented on #167
@jchiang87 Ah, yes.  If there's just 1 CCD, your `dataIdFormat={'visit': int}` hack will work.

[2016-06-14 16:30] wmwv commented on #167
Hmmm... the photometric repeatability numbers are really bad.

I bet we need to figure out how to separate stars and galaxies much better.

[2016-06-16 17:19] drphilmarshall commented on #183
Morning all! We are meeting at 12 noon as usual today, with a starter agenda in our [live notes file here](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit#heading=h.65sfr61ai4). Please come and edit the agenda as usual and we'll see each other in 80 minutes! :-)

[2016-06-16 18:43] SimonKrughoff commented on #183
Apologies.  I have a visitor in town and will be going to lunch with him.  I'm going to have to miss this today.  Sorry for the late notice.

[2016-06-16 19:34] wmwv opened #261 "Twinkles Task Force summer 2016 report"
https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/doc/Summary_2016Q2.md

is a skeleton for the report to the Spokesperson.  Key thing is to fill in Section 3, which is a report of what we've done.

@drphilmarshall @TomGlanzman @tony-johnson @rbiswas4 @jbkalmbach @jchiang87

I've added your names to Section 3.  Please update with brief (1-3) sentences summaries of what we've do

[2016-06-16 19:43] wmwv commented on #167
I realize it's worse that star/galaxy separation.  Something just going really funny with the photometry.

[2016-06-16 19:51] wmwv commented on #167
I'm investigating this using the files on NERSC in

/global/homes/t/tony_j/Twinkles/Run1.1
(which points to)
/global/cscratch1/sd/tony_j/Twinkles/501

[2016-06-16 20:47] drphilmarshall commented on #183
Thanks for taking notes just now - most useful. I extracted the following action items which I will now issue:

* [ ] Action: MWV to start markdown Task Force progress report, and issue people with filling in sections
* [ ] Action: Phil to start Twinkles paper, outlining rough vision
* [ ] Action: MWV to investigate Run 1.1 drp_validation results
* [ ] Action: Rahul to submit PR to Monitor codebas

[2016-06-16 20:52] #64 closed

[2016-06-16 20:55] drphilmarshall opened #262 "Twinkles paper skeleton outline"
To help us define our light curve analysis, let's start writing the Twinkles paper. I say "paper" but it could potentially become two papers - but it feels more like one at this point. We'd describe the survey, and how we generated and DM-processed the image data, before showing two science analyses, SNe and lensed quasars, and then discuss various aspects of the project including the computationa

[2016-06-17 13:48] wmwv commented on #252
The *code* documentation should live, i.e. be in the same file, with the code.  I'm a fan of the numpydoc format, which LSST DM is slowly moving to (but do not have full integration with Sphinx yet).

The *user guide* documentation should be external.  Either .rst or .md is fine by me and I will be happy to stick with whatever decision was made.

[2016-06-17 13:54] wmwv commented on #247
Sorry for the delay in response, what is the scope of the question:
1. What Twinkles should do?
2. What LSST will do in operation?

I think they have different answers for now.

1. Twinkles
Should use a seeing-matched co-add of all images with seeing better than some threshold.

2. LSST Operations
Needs to experiment with several different approaches to this.  There are several issues to consider:

[2016-06-17 14:51] wmwv opened #263 "Point `_parent` link on NESRC data repo to correct input data repo."
@tony-johnson

Could you update

[code]

so that the `_parent` link points to the input data repo.  It currently points to

[code]

This breaks assumptions the DM stack Butler makes that the parent data repository will be accessible from the output data repository.

[2016-06-17 14:53] wmwv commented on #167
@jchiang87   The NERSC output data repo needs a `_parent` that points to the correct input data repo before the DM Butler can successfully and easily read files.  I've assigned #263 @tony-johnson to fix this.  Once #263 is closed I can take a look further at investigating the repeatibility in this present issue #167.

[2016-06-17 14:57] jchiang87 commented on #167
Right.  I forgot about that.   To get around this for the db stuff, I created a directory in my area with symlinks so that the butler will work.  That directory is here:
[code]

[2016-06-17 14:58] wmwv commented on #167
Ah, very good solution.

Could you kindly update the permissions so I can use that set of symlinks?

[2016-06-17 15:07] jchiang87 commented on #167
So I just did this:
[code]
Is that sufficient? (It looked to me that you already had access.)

[2016-06-17 16:06] wmwv commented on #167
Yes, thank you!

[The previous permissions were:
[code]
]

[2016-06-17 16:08] wmwv commented on #167
@jchiang87 Ran and got the following error message.  Have you seen this before?

I suspect there may be some versioning inconsistency between the obs_lsstSim I have from the 2016-04-15 conda build installed on Cori/Edison.  Will think about how to investigate further.  Suggestions welcome.

[code]

[code]

[2016-06-17 16:14] jchiang87 commented on #167
No, I didn't see that error running with v12_0_rc1.  I have a conda install of the Stack of the same vintage at slac.  I'll try with that Stack to see if I get the same error.

[2016-06-17 16:28] jchiang87 commented on #167
Using the conda distribution I installed at SLAC on 2016-04-12, everything seems to be working fine for `validateDrp.py`.  It finished g-band and is working the next one.  Here is some provenance info on that Stack:
[code]

[2016-06-17 16:28] SimonKrughoff commented on #167
@wmwv That is very strange.  That very line is still in [master](https://github.com/lsst/daf_persistence/blob/eb625e2edb7caae8c833f3e578a2316062a3d090/python/lsst/daf/persistence/repository.py#L374).

[2016-06-17 16:44] SimonKrughoff commented on #247
Apologies from me as well.  I'll add to what @wmwv said.

For twinkles, I think it's straightforward to make a seeing matched coadd.  The question is how do we get a list of the appropriate images to coadd?  We don't keep any info about the visits as far as I know, so the only option is to go through every visit and compute some statistic on the PSF.  I can write a script to do that if the info is

[2016-06-17 16:53] jchiang87 commented on #247
The psf FWHM is being stored in the CcdVisit table as the "seeing" column.  The value is being extracted from `calexp` via [this code](https://github.com/DarkEnergyScienceCollaboration/pserv/blob/master/python/desc/pserv/utils.py#L75)

[2016-06-17 17:18] jchiang87 commented on #167
Here is the contents of `_mapper`:
[code]
BTW, that output repo worked fine for the `pserv` ingest (which uses the butler to find the files) into the DESC_Twinkles_Level2 db.  For that, I used the most recent Stack that Heather installed for cori.

[2016-06-17 17:28] SimonKrughoff commented on #247
That's outstanding.  It may be a little hacky, but I think we can make a list of images to coadd from that database.

[2016-06-17 17:28] wmwv commented on #167
@SimonKrughoff @jchiang87   Apologies!  Problem existed between keyboard and chair!

[2016-06-17 18:02] tony-johnson commented on #263
This happens when we copy output files from SLAC. The symlink should point to the directory used for reading the phosim input. That directory has not so far been copied to NERSC, but contains:

_mapper   (file used by DM)
registry.sqlite (file used by DM)
eimage (directory structure containing links to the actual phosim output)
raw (directory structure containing links to the actual phosim output)

[2016-06-17 18:08] jchiang87 commented on #263
You need the _mapper file too, but that's all.

[2016-06-17 20:03] drphilmarshall commented on #251
Hey @heather999 - from a quick read of [the docs for LSST the docs](https://ltd-mason.lsst.io/travis.html) it looks like a good start would be to implement a pure sphinx documentation of the Twinkles code. Since Twinkles is a somewhat complex  project, how about we start simple and document `SLTimer` the right way from the start, and then graduate to documenting Twinkles in the same way? I am a sp

[2016-06-17 20:08] rbiswas4 commented on #251
Or Monitor? We are already putting in docstrings in sphinx format I hope.

[2016-06-17 20:15] drphilmarshall commented on #251
Good idea: you should make a corresponding issue for the Monitor right now,
and then Heather can politely decline the SLTimer issue I just assigned her
:-) I am happy to copy the minimal sphinx implemntation over to SLTimer no
problem, I just need an expert to get me started. I'm talking about a
minimal index.rst, Makefile with instructions, one python code file with
correct header and function do

[2016-06-20 14:20] heather999 opened #264 "Install w.2016.20 weekly on Edison at NERSC"
Cori is down for the next few weeks and it would be nice to have DMstack installed and available on Edison in the meantime.

[2016-06-20 18:01] SimonKrughoff commented on #264
Ping me if you have problems with this.

[2016-06-20 20:01] rbiswas4 opened #265 "CI Build Failures on travis"
I noticed that https://travis-ci.org/DarkEnergyScienceCollaboration/Twinkles/builds/138407187 was a failure on Master, even though the changes were only in a markdown file.

As far as I can tell, the reason was that the initial install script of travis (with -q settings)  was running for about the entire time of the default of 20 mins provided by travis wait. So, even though nothing changed betwee

[2016-06-20 23:21] drphilmarshall commented on #265
Sounds like it could be. Shall we wait and see what life is like with 25
min wait times? Thanks for catching this!

On Monday, June 20, 2016, rbiswas4 <notifications@github.com> wrote:

[2016-06-20 23:35] rbiswas4 commented on #265
I made some more progress on this:
- Increasing this wait time, we are consistently getting success, albeit at > ~ 20 mins. The Monitor on the other hand is doing so at ~ 4 mins.
- I realized there was a problem with the cache and deleted them, if we cannot rebuild the cache obviously this is not a viable option.
- It turns out  that it was not storing the new built cache. This happens with the er

[2016-06-23 17:31] drphilmarshall commented on #183
Hi all! It's Thursday, and so we are meeting at 1200 PDT as usual. [Here is our agenda](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit?pref=2&pli=1#heading=h.cr6jtcfln45x) - it's the same as last week's, but now with added progress reporting! Please come prepared to report on your progress. Our most urgent action item is to complete our respective pieces of th

[2016-06-23 20:49] drphilmarshall commented on #261
We are close to finishing this - thanks for all your edits so far!
Remaining sub-tasks:
* [ ] @jchiang87 Make sure all computing infrastructure work is credited, with links to repos etc
* [ ] @tony-johnson Make Run 1.1 section and report
* [ ] @tony-johnson Report on Run 2 progress so far
* [ ] @drphilmarshall Outline plans for summer
* [ ] @drphilmarshall Edit Background to call out pathfinder st

[2016-06-23 22:47] drphilmarshall commented on #261
@jchiang87 @tony-johnson I've made my edits, and took a good look through the rest of the text too. Please do git pull and merge - I don't think I'll have gotten too much in your way, but you never know... Apologies if there are conflicts! Should be easy ones to fix though.

@tony-johnson Can you please check and extend what I say about the Run 1 DM processing? I think we shoudl report on the bugs

[2016-06-23 22:57] rbiswas4 opened #267 "Why do SN light curves fail to match reference light curves in Monitor"
Following up on https://github.com/DarkEnergyScienceCollaboration/Monitor/issues/29 (Putting it in Twinkles rather Monitor as it seems like a general Twinkles issue, even if tools are in Monitor).

In https://github.com/DarkEnergyScienceCollaboration/Monitor/issues/29 @jchiang87 spatially matched  some of the brightest forced sources obtained from the DM level 2 pipeline with those in the referenc

[2016-06-24 03:45] tony-johnson commented on #261
I have added some text on Run 1.1 and Run 2.0. I was pretty vague about the bugs found, can go back and add links to actual issues if I have time before the deadline tomorrow.

[2016-06-24 06:15] jchiang87 commented on #261
I added a sub-section explicitly on computing infrastructure under "Run 1".   It is populated with links to the relevant repos.

[2016-06-24 16:10] drphilmarshall commented on #261
Excellent, report looks good to me! Thanks both :-)

Want to take a final pass through before submitting, @wmwv?

On Thu, Jun 23, 2016 at 11:15 PM, James Chiang <notifications@github.com>
wrote:

[2016-06-27 15:21] heather999 opened #268 "Rebuild DMstack installation on Cori"
From today's NERSC newsletter:

Once Cori is back online (~Jun 30th), I should probably reinstall w.2016.20.  It'll also be time to install v12.0

[2016-06-27 15:37] tony-johnson commented on #268
Hi Heather, according to the [outage calendar](https://my.nersc.gov/outagecal-cs.php) cori is supposed to be back tomorrow. Getting the rebuilt w2016.20 release would be great so we can restart testing, ideally also on the new higher performance disk area (is that setup now?)

[2016-06-27 15:58] heather999 commented on #264
@SimonKrughoff Thanks - actually I am having problems :) High level summary, it looks to me that when I try to "rebuild" the w.2016.20 build, what I'm actually getting is the v12.0 tag.
I have a fresh copy of lsstsw from github - so this is not necessarily the same version I grabbed back in May when this was done on Cori. I've set up the environment on Edison and installed my own cmake just as we

[2016-06-27 16:04] jchiang87 commented on #264
Is there any reason not to just use the conda distribution for v12_0 instead of building from source?  It has both lsst_apps and lsst_sims.

[2016-06-27 16:11] heather999 commented on #264
I thought I should stick with w.2016.20 @jchiang87 but perhaps I do not understand the requirements for an Edision install.  I gather it's not for a Twinkles Run 1.1 check against the SLAC runs - so is v12_0 what we'd want?  Bryce is the one who put in the request, but I do not know if he has specific needs.
I'll set up v12_0, just as I need to do at SLAC.

[2016-06-27 16:18] danielsf commented on #264
@heather999
"And that went perfectly fine as far as I could see. Then if I tried to setup lsst_apps b2055 or lsst_sims b2056 or even leaving off a specific tag"

Where did the tags b2055 or b2056 come from?

Leaving off a specific tag should not have worked.  If you do not specify a tag, eups tries to setup the tag 'current'.  You do not appear to have a 'current' version on Edison (and probably s

[2016-06-27 16:21] jchiang87 commented on #264
I would have thought that v12_0 has everything we need that would be in w.2016.20, so since we are going to install v12_0 anyways (I would hope), we could save some effort here.  I guess I would recommend installing v12_0 first, then if Bryce or whoever really needs w.2016.20, they could chime in.

[2016-06-27 16:26] heather999 commented on #264
@danielsf sorry.. it should be b2017 and b2018 for sims, as indicated in issue #239
b2055 I think was the tag for the obs_sdss to run the demo.  "setup lsst_apps -t b2017" fails similarly
I have the output when running the original rebuild, which seems to be grabbing b2108
[code]

[2016-06-27 16:43] heather999 commented on #268
@tony-johnson unfortunately the higher performance area is not set up yet - I was told on Friday that the person who could help us was out on vacation last week.  I'm hoping this will be set up early this week.
The NERSC newsletter today indicated they wouldn't be back up until June 30th - it seems to be a revised schedule.  Let me pull up the quote..

[2016-06-27 16:56] danielsf commented on #264
The bNNNN numbers are generated locally by lsstsw each time it rebuilds the stack.  If I interpret this conversation correctly, b2017 was a build generated on a different machine (probably lsst-dev).  The only way you could get access to that build on this machine was if it was published as a release, in which case you could install it with eups distrib install.  Given that you are rebuilding the

[2016-06-27 17:00] danielsf commented on #264
Regarding all of the packages that seem to be building the 12.0 tag, these are just packages for which 12.0 and w.2016.20 correspond to the same commit (at least, I just verified that this was true for daf_base, which shows up as 12.0 in your build log).  If you look at, for example, afw in your build log, it is building commit 7c15dd3 which, if you look here

https://github.com/lsst/afw/releases

[2016-06-27 17:53] heather999 commented on #264
ah.. @danielsf I clearly did not understand how the b#### were set up :)  Ok that helps a lot.  I'll try to test w.2016.20 now and hopefully declare success.

I've gone ahead with trying out a conda installation of v12_0 as well.  At the moment, it seems "stuck" extracting lsst-pex-policy.  I'll give it a little more time, and then I'll try again.
`Extracting packages ...
[lsst-pex-policy     ]|##

[2016-06-27 19:42] heather999 commented on #264
I let the conda installation go a really long time (hours) and it finally finished.
@jchiang87 in the past I've added nose, coverage, iminuit and ipython to the python modules..  I see ipython already in place and pandas too.  Do you still want nose or does pytest suffice?

[2016-06-27 19:43] jchiang87 commented on #264
might as well add both if it's not too much trouble.

[2016-06-27 22:04] heather999 commented on #264
Just a question.. @jchiang87 installing nose, coverge, iminuit, all result in a request to update python itself (at least if I blindly the current release of those modules).  For example:
The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    python-2.7.11              |                5        12.0 MB
The

[2016-06-27 22:08] jchiang87 commented on #264
I think it should be, but I honestly don't know for sure.

[2016-06-27 22:23] heather999 commented on #264
Ok - I'm willing to try it out @jchiang87 .. but first I decided to run lsst_dm_stack_demo on the fresh conda installation of v12_0, before updating anything. It ran just fine, however running ./bin/compare detected_sources.txt reported
[code]
Meanwhile, the w.2016.20 installation reported no such failures after running ./bin/demo.sh, followed by running ./bin/compare.  Just note that I have a sep

[2016-06-28 15:41] drphilmarshall commented on #261
OK, I just updated our [README](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/README.md) with a link to the progress report. I didn't update the confluence page too, because it makes more sense to keep driving people over here to see what's up. Let's assume that Michael reported to Rachel already, last Friday - closing out! Thanks for all your input, everyone.

[2016-06-28 15:41] #261 closed

[2016-06-28 21:14] heather999 commented on #264
Getting back to this - there is now a SLAC install of 12_0 and at NERSC on Edison an install of w.2016.20.  Sorry @jbkalmbach I finally figured out your id :)  The 12_0 install at NERSC did not fully pass the demo testing and I have submitted a note to our friends on community.lsst.org.
Cori is scheduled to return on Jun 30th, but we will have to rebuild or reinstall DMstack before we can use Cori

[2016-06-29 14:53] heather999 commented on #264
Here's a link to the conversation on community.lsst.org:
[https://community.lsst.org/t/two-failed-quantities-running-demo-for-12-0-at-nersc/894/3](url)
Generally it seems agreed the failures in the demo are likely insignificant.  Being that this is on Edison, I'd like to repeat this install on Cori once it comes back up.
@tony-johnson @jchiang87 do we see any need to run a comparison between the c

[2016-06-29 15:05] jchiang87 commented on #264
The differences look insignificant to me.  I don't see any need for us to compare source vs conda installs for v12_0.  In general, I don't think we can do regressions on every new version of the software that's installed.

[2016-06-29 15:18] heather999 commented on #264
Sure, we don't want to be testing every time, for every version, but as we're just getting going on NERSC. It might be nice to be sure we understand if there is any significant difference between installing the conda binaries versus building from source. Yes - I'm being overly cautious :) But I know, we don't exactly have oodles of time for this.

[2016-06-29 15:20] heather999 opened #269 "Schedule a chat with Dr. Phil about doc"
Hi Phil,
We had discussed possibly chatting about the existing doc - just to give me a lay of the land.  It would be very helpful from my perspective.  I realize, though, that you are very busy!
Take care,
Heather

[2016-06-29 16:34] heather999 commented on #268
Just an update..I've sent a fresh poke about getting the new directory space set up this week.. I remain hopeful!

[2016-06-29 17:43] heather999 commented on #264
So I think we've decided the 12_0 conda installation on Edison is good to go. For those who want to try it out:
source /project/projectdirs/lsst/lsstDM/Edison/setupStack-12_0.sh
optionally add "-v" for a verbose output indicating what the script is up to.
When finished with DMstack:  'source deactivate'

I'm going to see about adding some doc to the ComputingInfrastructure space to keep track of t

[2016-06-29 23:38] #264 closed

[2016-06-30 00:21] drphilmarshall commented on #269
How about tomorrow morning, pacific time? We could meet at 9am PDT, make a
plan and then a start on implementing it before our noon meeting? Let me
know!

On Wed, Jun 29, 2016 at 8:20 AM, Heather Kelly <notifications@github.com>
wrote:

[2016-06-30 13:12] heather999 commented on #269
9 AM PDT sounds perfect  - sorry I didn't respond sooner, I hope that still works out.

[2016-06-30 13:19] drphilmarshall commented on #269
Yep, see you then! I am drphilmarshall on skype, maybe send me a contact
request? Thanks!

On Thu, Jun 30, 2016 at 6:12 AM, Heather Kelly <notifications@github.com>
wrote:

[2016-06-30 16:04] heather999 commented on #253
@drphilmarshall I'm still actively thinking!  But yes.. there is an [example from DM](https://community.lsst.org/t/dm-highlights-2016-06-22-to-2016-06-28/898)

I'm not certain they are doing anything more than posting to their community.lsst.org (I will inquire), but in our case, I think we could start posting a blog stored in GitHub and post it to our web accessible area in LSST the Docs.  Jonath

[2016-06-30 16:34] drphilmarshall commented on #160
Revisiting this issue with @heather999 we decided to:
* Make a `doc/Setup` folder
* Merge together the conda [INSTALL.md](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/conda/INSTALL.md) notes that I was working on, and the [Setup.md](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/conda/doc/Setup.md) that someone else wrote, into a simple .md file for "Getting_sta

[2016-06-30 16:53] drphilmarshall commented on #251
Looking at this with @heather999 , we think we'd like to try setting up Sphinx and running it from travis, having travis push the built html pages back to the gh-pages branch of this repo (which will need setting up). [Here's an example](https://gist.github.com/domenic/ec8b0fc8ab45f39403dd). I'll issue myself with the gh-pages part, @heather999 will set up sphinx :-)

[2016-06-30 17:12] #269 closed

[2016-06-30 17:23] drphilmarshall commented on #253
If we go with sphinx for the code, we could also make weekly summaries as simple rst or plain text files and have tinkerer build them into blog-form html:

http://tinkerer.me/index.html

There are doubtless many other ways to do this - but @heather999 and I like the idea of a weekly summary being written and proposed by pull request, and travis publishing it when it is merged. The key is to make t

[2016-06-30 17:40] drphilmarshall commented on #253
First steps:
1. Set up gh-pages for Twinkles
2. Start a reasonable folder structure to contain blog posts
3. Start submitting (by PR) weekly summaries as html files (exported from the Google notes) just to get started.
4. Manually merge the doc/blog folder into gh-pages so that we have a hyperlinked file that can be advertized

Thoughts?

[2016-06-30 18:01] drphilmarshall commented on #183
Hi there! Twinkles meeting is at 1200 PDT, as usual - I made an agenda for us in the [live notes file](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit?pref=2&pli=1#heading=h.oynvqqpu6vq0), please edit as you see fit. We have two weeks before the collaboration meeting, and 1 week before our practice talk at LSST@SLAC - we'll get started on preparing for both of

[2016-06-30 18:35] danielsf commented on #246
I'm a little confused what needs to be done here.  The ```generatePhoSimInput.py``` script mentioned in Simon's recipe contains all of the CatSim functionality you should need to generate the PhoSim inputs expected by Twinkles.  As long as you are running on a machine that has access to the UW databases (which, I think, we have ensured that SLAC and NERSC are), it should just work.  Is there a spe

[2016-06-30 18:38] rbiswas4 commented on #246
I am not sure that is OK anymore. There were changes to that script before we ran it. And currently I am trying to merge some of that to catsim master. I ran it with a branch, but there are some merge issues now.
Once that is done it will be easy to fix the documentation.

[2016-06-30 21:03] heather999 commented on #253
@drphilmarshall It looks like I do not have the permissions that provide access to the Twinkle's repositories settings, which I think I need to use the handy automated method to create the gh-pages area.  I do have such access for the camera repositories, so I suspect it's just a matter of permissions.  Alternatively, I could try doing this manually, it should be just a matter of adding the new br

[2016-06-30 21:20] drphilmarshall commented on #253
Ah - sorry! I'll set up the gh-pages for you, hang on a sec

[2016-06-30 21:22] drphilmarshall commented on #253
...done! We now have a website, at:

http://darkenergysciencecollaboration.github.io/Twinkles/

It needs some work ;-)

[2016-06-30 21:26] drphilmarshall opened #270 ""Twinkles: An LSST DESC Data Challenge Pathfinder" - talk slides, discussion"
@DarkEnergyScienceCollaboration/twinkles

I started a [slide set for our upcoming talk on July 8th](https://docs.google.com/presentation/d/1V3uQWBDu1ZXxkb2pwMFmNF8nUckYGUeZWb4XufzQSEc/edit), and then the Oxford meeting session a week and a half later. I put in a rough outline in the first 15 slides, and left the slides from our most recent "Twinkles as a pathfinder" talk (in April) later in the fi

[2016-06-30 21:44] drphilmarshall opened #271 "Oxford Hack Day hacking/sprinting plans?"
Hi all!

Let's propose some Twinkles hacks or sprints for the Oxford Hack Day. @TomGlanzman, I threw up an SLTimer one, to build on Milan's progress. @jchiang87 @jbkalmbach the Monitor visualization task could be a good one? Or do you have something else in mind you'd like to hack on? How about you, @wmwv ? @SimonKrughoff ? @rbiswas4 ?  Great if you can put something (anything) up today, as I'll b

[2016-06-30 21:44] drphilmarshall commented on #271
PS. The confluence page for the Hack Day is [here](https://confluence.slac.stanford.edu/display/LSSTDESC/Oxford+2016+-+Friday+Hack+Day) :-)

[2016-07-01 12:40] heather999 commented on #268
Another update... Cori should be available, however I still cannot log in, either via the command line or through NX. Supposedly Cori is "Up": http://www.nersc.gov/users/live-status/ but I see no evidence of activity.  I've opened an incident (INC0086770) at NERSC to see if they can clarify the situation.

[2016-07-01 17:43] heather999 commented on #253
Still needs some work but an initial pull request is here: https://github.com/DarkEnergyScienceCollaboration/Twinkles/pull/272

[2016-07-01 17:44] heather999 commented on #268
Cori is indeed back.. Apparently my failed attempt to log in yesterday while it was still down counted against me.  I have 5 failures and my account was locked :)  That's been fixed and now I'm in.  If anyone else continues to have trouble, a locked account may be the culprit.

[2016-07-01 22:09] heather999 commented on #268
@tony-johnson I think I have w.2016.20 now available in the high performance area for Cori:
/global/common/cori/contrib/lsst/lsstDM/w.2016.20
cd into that directory and "source setupDM-w.2016.20.sh" which should set up your environment correctly.  I ran the demo, and that succeeded the comparison of detected_sources reported that all was OK.
Just let me know if you run into any problems.

[2016-07-01 23:50] tony-johnson commented on #268
Hi @heather999 , your setupDM-w.2016.20.sh seems to have a bizarre bug that it works when invoked from the command line, but not when invoked from another bash script. It has to do with your use of BASH_SOURCE, but I do not exactly understand why.

export DM_DIR=/global/common/cori/contrib/lsst/lsstDM/w.2016.20
export DM_SETUP=setupDM-w.2016.20.sh
tony_j@cori06:~/scratch/Twinkles/trial> source ${D

[2016-07-02 01:12] tony-johnson commented on #268
Experimenting more, it appears that some of the module commands overwrite BASH_SOURCE (when it is invoked from another script as above). I don't know how that is even possible, but moving the line which uses BASH_SOURCE above the module commands seems to fix the problem.

[2016-07-04 17:31] heather999 commented on #268
@tony-johnson Thanks for figuring that out.. I will have to do some investigation and likely will end up sending a note to NERSC help.  Maybe that is some known consequence of dealing with these modules, but that's a surprise to me too!

[2016-07-05 18:05] drphilmarshall commented on #270
Alright, we're off to a good start on this slide set, with some nice input from Jim on code development. Let's get some more content in there ASAP so we can see what we've got to work with!

[2016-07-06 20:30] jchiang87 commented on #270
I added some slides on the comparisons with the input truth and fitting with sncosmo to the slide set ( @rbiswas4 could you have a look and comment please?)   It would be great if we could get the intro slides filled with content from @wmwv, @drphilmarshall, and @richardxdubois.   @tony-johnson are you planning to present the slides on the workflow engine stuff?  If not, then I'll write those slid

[2016-07-06 21:17] rbiswas4 commented on #270
@jchiang87 That looks quite good!
Here are a few comments:
- Generic comment about the slides: could you please add slide numbers on the slides. Useful to point to whenever we have remote attendance.
- Could you please point me to the SNcosmo calls you are using to fit the light curves?
Slide 21:
- I don't understand the parameter n_sigma :
- x_0 is a multiplicative factor. So probably x_0 / model

[2016-07-06 21:36] tony-johnson commented on #270
Hi Jim, yes I will add slides on workflow, NERSC experience etc. Currently I can summarize the NERSC experience as "very frustrating":

[2016-07-06 21:53] heather999 commented on #270
Concerning NERSC - while I agree aspects have been frustrating (as has been dealing with DMstack installs which is completely unrelated to NERSC) - it would be helpful to point out that we should take greater advantage of coordinating with the NERSC folks - who can be very helpful when directly poked. (actually the same can be said of DM!) The upcoming Cori downtime starting in late Aug is a bit o

[2016-07-06 22:18] jchiang87 commented on #270
@rbiswas4 Thanks for the comments!  Here are some responses:

Done!

I actually went through as many as three iterations of fitting, but the calls were all essentially just this:
https://github.com/jchiang87/desc_projects/blob/master/twinkles/refit_sncosmo.py#L33
The fits seem fairly sensitive to the redshift bounds, even when starting from the same initial value.  If I set the bounds too wide (e.

[2016-07-07 03:04] rbiswas4 commented on #270
@jchiang87
Q1. You are reading in a results pickle. Is this able to access the reference light curves and truths I was supplying?
Q2. Do you have access to the ra, dec values measured in this pickle file?

[2016-07-07 03:28] jchiang87 commented on #270
@rbiswas4
The initial set of sncosmo fits just wrote out the fit parameters to an ascii file, and later I ran a version of  [this script](https://github.com/jchiang87/desc_projects/blob/master/twinkles/refLightCurve_tests.py) to repackage those results into a DataFrame and also add the input truth parameters using your RefLightCurves.py code.   I have the objectId in that DataFrame, so I've been r

[2016-07-07 04:00] rbiswas4 commented on #270
@jchiang87 OK, I want to suggest some changes to the fitting procedure (though they will not take care of the huge outliers). I will try to put that in a branch
with a few comments, and you can implement it appropriately based on the exact contents/interface. (FYI, when I said documentation I was not talking about code documentation, but the documentation directory of Twinkles, more as a planning

[2016-07-07 04:49] drphilmarshall commented on #183
Hi all! Tomorrow is our LSST@SLAC talk, so today we will look at the slides we have made, and try to spot gaps to be filled. @jchiang87 has some nice results in there, and @tony-johnson 's NERSC report is coming along - I'll work on context slides in the morning, and hopefully @jbkalmbach and others can jump in too. Many of you are namechecked in the slides as having something to contribute! You c

[2016-07-07 06:14] tony-johnson commented on #201
Run 2 (== Run 1.1 but at NERSC) is now complete (at last). Will add details (and close issue) tomorrow.

[2016-07-07 16:04] tony-johnson commented on #201
More details on Run 2. The stream is completed, the pipeline task can be found here:

http://srs.slac.stanford.edu/Pipeline-II/exp/SRS/si.jsp?stream=41843928

Note that the links to the log files require the dev pipeline web interface so they do not work from the above link. ( @brianv0 can we move those changes to prod). The output from the jobs can be found here:

/global/cscratch1/sd/tony_j/Twin

[2016-07-07 16:22] tony-johnson commented on #201
Some plots showing throughput.

![nersc-timeline-full](https://cloud.githubusercontent.com/assets/11215747/16660658/37b05478-4424-11e6-8ea7-b9fc0bda1d5f.png)
![nersc-timeline-forcedphotometry](https://cloud.githubusercontent.com/assets/11215747/16660663/39d446b0-4424-11e6-99af-97ea3c2ddeca.png)
![nersc-timeline-eimage](https://cloud.githubusercontent.com/assets/11215747/16660666/3d25a5de-4424-11e6

[2016-07-07 16:22] tony-johnson commented on #201
Declaring victory and closing issue.

[2016-07-07 16:22] #201 closed

[2016-07-07 16:26] tony-johnson commented on #268
For the record, running with the code installed on /global/common/cori/contrib/lsst appeared to make a dramatic difference to the batch jobs throughput. Thanks to Rollin for suggesting this (and to Heather for re-installing the stack).

[2016-07-07 16:33] tony-johnson commented on #258
At SLAC, rerunning with strace turned on appeared to magically make the batch jobs run faster. I suspect that this was not the real cause, and that the very slow earlier run was perhaps related to load on the particular batch machine used.

At NERSC switching to having the software installed on /global/common/cori/contrib/lsst (see issue #268) appears to have made a dramatic difference, and the ba

[2016-07-07 16:33] #258 closed

[2016-07-07 16:34] tony-johnson commented on #257
@brianv0 -- can you comment on the progress/current status of getting qserv running in openstack at SLAC?

[2016-07-07 17:31] rbiswas4 commented on #270
@jchiang87

The suggested changes are in https://github.com/rbiswas4/desc_projects/blob/changeSNCosmoModel/twinkles/refit_sncosmo.py
The place where they start is at
https://github.com/rbiswas4/desc_projects/blob/changeSNCosmoModel/twinkles/refit_sncosmo.py
#L19

I will make some more changes to the model over the next few days.

[2016-07-07 17:37] jchiang87 commented on #270
@rbiswas4 Thanks!  Can you issue the pull-request?

[2016-07-07 17:39] rbiswas4 commented on #270
ok. I was trying not to because it includes some lines of pseudo-code rather than real code ( because I do not know the internals of results), but I will issue one if you find it more convenient.

[2016-07-07 17:54] drphilmarshall commented on #201
Excellent! Great if you can talk us through these results when we meet at
12, as well.

On Thu, Jul 7, 2016 at 9:22 AM, Tony Johnson <notifications@github.com>
wrote:

[2016-07-07 17:55] drphilmarshall commented on #268
Roughly speaking, how did it compare to running at SLAC?

On Thu, Jul 7, 2016 at 9:26 AM, Tony Johnson <notifications@github.com>
wrote:

[2016-07-07 17:59] djbard commented on #201
I'd like to join in your noontime meeting to hear how things went. What are
the connection deets?

On Thu, Jul 7, 2016 at 10:54 AM, Phil Marshall <notifications@github.com>
wrote:

[2016-07-07 18:12] drphilmarshall commented on #201
I'll mention you on the reminder - hang on a tick

[2016-07-07 18:14] drphilmarshall commented on #183
Morning all - looking fwd to talking to you all in about 45 mins. Please do adjust the agenda in our [live notes file, here](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit?pref=2&pli=1#heading=h.4gkutklvjp4u), especially adding as many links as you can so we can quickly go see what you are talking about (and so our weekly summary is as useful as possible!). @d

[2016-07-07 20:19] drphilmarshall commented on #224
I just added a few lessons learned to our ["Lessons Learned"](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/doc/lessons_learned.md) page. Please start each one with a single sentence summary in bold, to aid readability! I also split the document into Runs 1 and 1.1, and Run 2, also to keep it readable. Let's all please contribute to this document today, so we can make sure

[2016-07-07 20:32] drphilmarshall commented on #253
OK Heather, I worked up today's meeting notes, see if you can make a quick Pandoc-ed HTML file out of [this section](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit?pref=2&pli=1#heading=h.4gkutklvjp4u). Is it easy to add the same stylesheet as the rest of the Twinkles gh-pages site? That would be nice... Thanks!

[2016-07-07 20:43] drphilmarshall commented on #270
Alright! The [slides](https://docs.google.com/presentation/d/1V3uQWBDu1ZXxkb2pwMFmNF8nUckYGUeZWb4XufzQSEc/edit) are coming along, but need finishing this afternoon. We have the following action items:

* [ ] @wmwv Check Phil's intro slides to make sure we are representing SN properly. I emphasized the end-to-end nature of our accuracy test, and Jim will show his sncosmo SALT2 results - but it coul

[2016-07-08 05:25] drphilmarshall commented on #270
Thanks all for your input! @jchiang87 @tony-johnson I put in some spacer slides, to help with our transitions tomorrow - see what you think. More comments welcome!

[2016-07-08 07:27] rbiswas4 commented on #224
I put in a few. Will add more if I can think of them.

[2016-07-08 08:35] jbkalmbach commented on #270
Lensed AGN image added to slide 33.

[2016-07-08 16:08] drphilmarshall commented on #224
Thanks Rahul! @tony-johnson I put one in with your name on it! You'd better
check that I have it right. And then maybe add some more :-)

On Fri, Jul 8, 2016 at 12:27 AM, rbiswas4 <notifications@github.com> wrote:

[2016-07-08 16:09] drphilmarshall commented on #270
Cool, thanks @jbkalmbach! :-)

On Fri, Jul 8, 2016 at 1:35 AM, Bryce Kalmbach <notifications@github.com>
wrote:

[2016-07-08 20:27] ktlim opened #273 "Incorporating Twinkles data into DM query prototypes"
The Twinkles-processed data would seem to be a good candidate for testing out DM query and Science User Interface Toolkit capabilities.  While it's going to be some time before we're ready to expose those to the world at large, we can still prepare for hosting the data.  Can you provide an estimate for these so that we can make sure that we have room available when we do decide to move forward?

-

[2016-07-08 21:07] heather999 commented on #160
@drphilmarshall there is a new branch issue/160/installation where I added:
[Getting_started_on_your_laptop.rst](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/issue/160/installation/doc/Setup/Getting_started_on_your_laptop.rst)
It's an attempt at merging your Install.md and doc/Setup.md, as well as updating the doc for the current DMstack installation instructions.  I blindly too

[2016-07-08 21:39] rbiswas4 commented on #160
I was wondering if I could add a request if it falls into the natural play of things, otherwise we can try later. I was playing with this but did not quite finish:
 Can we split the travis script into an install script which the continuous integration script can call (and the user can call on his/her laptop as well) which will do this on a conda environment. The main advantage is
- we could test o

[2016-07-09 18:33] drphilmarshall commented on #160
Sounds like a good idea, @rbiswas - what do you think, Heather?

Thanks for the notes, Heather! I trashed my miniconda2 folder and have
started rebuilding according to your instructions, embellishing them here
and there. Wish me luck! :-)

On Fri, Jul 8, 2016 at 2:39 PM, rbiswas4 <notifications@github.com> wrote:

[2016-07-09 18:43] drphilmarshall commented on #160
OK, I have some feedback for you, @heather999 - I'll open the pull request and put it there. You'll be able to see my edits that way, as well.

[2016-07-11 15:35] heather999 commented on #268
@tony-johnson Just for the record.. while doing my first PhoSim install, I played a bit more with the modules loaded.  I found leaving "craype" loaded (as it is be default), seemed to play a little more nicely.  Before the Cori upgrade, it seemed necessary to remove it, but now it seems to cause complaints.
I create a modified setup script for w.2016.20, and left the original just as it was:
/glob

[2016-07-11 21:37] heather999 commented on #253
It should be easy :) What I want to do is to automate this better through pandocs but I haven't quite figured that out yet.  Currently, I have to apply the stylesheet by hand and add in a couple of <div> statements to make it work. I've done that for these first two weeklies.  pandoc offers a template option, so I'm hoping to take better advantage of that in the future.
Just a heads up - I won't b

[2016-07-11 22:19] heather999 opened #276 "Add Website documentation to repo"
In the interest of adding documentation for maintaining the weeklies, it would also be helpful to create a new Doc/Website directory as suggested by Phil.  I'll do that and add a bit for the weeklies.

[2016-07-12 05:30] drphilmarshall commented on #193
@tony-johnson I think you are close to being able to complete the [Run 2 Data Release Milestone](https://github.com/DarkEnergyScienceCollaboration/Twinkles/milestone/13) - would you mind taking a look and seeing if you can close all the issues this week (one way or another), please?

Likewise, @jbkalmbach and @rbiswas4 the [Run 1.1 Analysis milestone](https://github.com/DarkEnergyScienceCollaborat

[2016-07-12 14:20] tony-johnson commented on #229
Theses issues are still outstanding, we have continued to skip these visits during Run 2 processing. At some point we should try running with updated version of DM to see if the issues have gone away by themselves.

Removing as run 2 dependency and adding to "Post Run 2 cleanup"

[2016-07-12 14:25] tony-johnson commented on #41
Done except for image differencing, which is being tracked under a separate issue #197. Closing this issue since Run 2 is now complete.

[2016-07-12 14:25] #41 closed

[2016-07-12 14:39] drphilmarshall commented on #41
Excellent!

On Tuesday, July 12, 2016, Tony Johnson <notifications@github.com> wrote:

[2016-07-12 16:04] tony-johnson commented on #268
@heather999 Yes your changes appear to have solved the problem I reported earlier.
@drphilmarshall Comparison of CPU/wallclock time between SLAC and NERSC can be found in the workflow section of slides at:

https://docs.google.com/presentation/d/1V3uQWBDu1ZXxkb2pwMFmNF8nUckYGUeZWb4XufzQSEc

Closing issue.

[2016-07-12 16:04] #268 closed

[2016-07-12 16:39] SimonKrughoff commented on #229
Thanks for mentioning this.  It had fallen off my plate.  I'll run them through a recent master build.  @tony-johnson do you mind sticking those four eimages in a tarball someplace I can grab them?

[2016-07-12 18:26] tony-johnson commented on #87
We have workflow running at NERSC, bypassing NEWT, although done by directly running the job daemon at NERSC rather than using certificates as envisioned when this issue was created.

[2016-07-12 18:26] #87 closed

[2016-07-12 18:28] tony-johnson commented on #88
We did not use dockerized images for Run 2. Moving to "Post run 2 tasks".

[2016-07-12 18:30] tony-johnson commented on #167
@wmwv Can this issue be closed, or is it still active? Moving to "Post Run 2 tasks for now".

[2016-07-12 18:31] tony-johnson commented on #249
I guess we got run 2 done without any documentation!

[2016-07-12 18:31] #249 closed

[2016-07-12 18:32] tony-johnson commented on #168
@jbkalmbach Can this issue be closed? Moving to "Post Run 2 Tasks" milestone for now.

[2016-07-12 18:41] tony-johnson commented on #263
Instead of using these files I would now recommend using the "Run 2" output (see #201). The output is here:

/global/cscratch1/sd/tony_j/Twinkles/output/work/2/output

Since this was generated at NERSC all the symlinks should work, and this should (modulo unexpected NERSC/SLAC differences) be the same as  the earlier "Run 1.1" output.

[2016-07-12 18:41] #263 closed

[2016-07-13 06:57] drphilmarshall commented on #249
Yes - it became so minimalistic there didn't seem to be much to write
down...

On Tue, Jul 12, 2016 at 11:31 AM, Tony Johnson <notifications@github.com>
wrote:

[2016-07-13 19:17] rbiswas4 opened #278 "Missing observations in Twinkles forced sources"
I made this plot of the gband light curve of object ID 3425 using the following code:
https://gist.github.com/rbiswas4/8d67a8b7c8404c349ad38d52bbd7af63
![gband](https://cloud.githubusercontent.com/assets/2281358/16814402/89d927be-48ea-11e6-81cb-96a7bea6ba43.png)

The red points are the ones I obtained from the Twinkles processed data, and the black points are the values that the SN should have had

[2016-07-13 20:33] jchiang87 commented on #278
Hi Rahul, I can't look at your notebook on my phone, but I'm wondering if you've checked the forced source FITS file catalogs directly for entries for the missing visits.  At one point, the pserv code omitted entries that had nan values.  I don't think it does that now, but there may be some other issue wrt the content of the dB table vs the catalog files.

[2016-07-13 21:04] drphilmarshall commented on #278
Yeah - I wonder, could the missing points be due to:

* failed PhoSim or Stack jobs leading to no image or ForcedSource being
present?
* high background leading to non-detection?

[2016-07-13 21:21] rbiswas4 commented on #278
@jchiang87 I have not looked at those. Maybe at the meeting tomorrow, someone will point me in a direction as to how to check these.

@drphilmarshall
- It could be a failed sim/ DM stack job
- I think these are forced photometry results so non-detection should not matter. Now if there are some kind of checks that require the flux to be positive semidefinite, that would cause problems.

[2016-07-14 04:30] rbiswas4 opened #279 "Tag Twinkles related software for the the meeting?"
Are there plans to tag all of the Twinkles repositories for the hack day/ Open House. This might make things a little easier than chasing SHAs later.

[2016-07-14 17:05] drphilmarshall commented on #183
Hi all! As you know, I am in Oxford this week, helping the LOC get ready for next week's meeting - so I will not be able to join this week. We do need to talk about our remaining homework for next week, though: are our CI2 session slides in order? What needs to be done with them? Are our science session (SL and SN) talks scoped and preparable? Are we ready for our "Open House" - which will be mark

[2016-07-14 19:01] SimonKrughoff commented on #183
I will also have to miss.  Sorry about that.  Please let me know if there is anything I can contribute.

[2016-07-14 19:01] rbiswas4 opened #280 "Light Curve Formats"
@jchiang87 brought up the issue of

1. homogenizing the data structure holding light curves in Twinkles. Currently this is done in multiple ways (`numpy.recarrays`, `pandas.DataFrame`, and `astropy.table.Table`).

Part of this has to do with previous software: SNCosmo uses `astropy.table.Table`, and the usual things used in the simulation stack is `numpy.recarrays`. I personally vote for `pandas.D

[2016-07-14 23:18] tony-johnson commented on #278
The 4 visits which were excluded from the DM level 2 processing are listed here: #229

[2016-07-15 04:03] rbiswas4 opened #281 "Is there a newer version of Run1CPUTimes.ipynb"
@sethdigel I was trying to get a list of obsHistIds  of failed phosim runs for the light curve analysis, and was using the csv file mentioned in Run1CPUTime.ipynb. However this seems to be out of sync with the obsHistID values I am checking. For example, it seems obsHistID 230 shows up in the light curves, but in the phosim failures (runlimit==1) of the csv file. Should I be using a newer version

[2016-07-15 04:59] sethdigel commented on #281
Ah.  Yes, that iPython notebook and the csv file date to the Hack day after the spring DESC meeting, at which time that particular visit had not finished (I think because the host running it had a problem).  I am just realizing that the pull request I made in May to merge in CPU time predictor code, and a complete metadata, file is still outstanding.  Jim had pointed out some pylint warnings that

[2016-07-15 06:43] rbiswas4 commented on #281
Thanks! @sethdigel

[2016-07-15 06:43] #281 closed

[2016-07-15 06:50] rbiswas4 commented on #278
Solved the missing data problem: metadata file obtained from @sethdigel and added, The missing data are due to failed phosim runs at ~90 percent moon phase (though the middle of the three) is much less ~66 percent.

[2016-07-15 07:08] drphilmarshall commented on #278
Good! Now we know what phosim failures look like in the light curves - its
as if LSST were to breakdown under excessive moonshine  :-/

@rbiswas4 can you please dig out the open issue on these bright time phosim
failures, link it to this issue, and make sure it is labeled a bug and/or
urgent? I think we want to fix this in August, don't you? Thanks!

On Friday, July 15, 2016, rbiswas4 <notificatio

[2016-07-15 07:23] sethdigel commented on #278
These four phosim visits did not fail.  The phosim runs completed in what looks like not excessively long CPU times.  For at least some of them the moon is not even up.  What the visits do have in common is that they are all u band.

[2016-07-15 07:32] sethdigel commented on #278
I should add that I was referring to Tony's four visits listed in #229.  It probably would be remarkable if three of those were responsible for the gaps in the light curve for object ID 3425 above.

[2016-07-15 08:06] drphilmarshall commented on #183
Looks like you had a very short meeting! I added to the notes remotely, based on what I know: @jbkalmbach is working on an SL science session contribution, and I still need to get our public face looking better (link to the website and its weekly summaries, better issue introduction). Ill work on that tomorrow. I'll merge our installation instructions, despite residual concerns... Anything else we

[2016-07-15 14:10] tony-johnson commented on #278
Right, I only mentioned 4 failed DM visits since we were trying to record all visits that failed. Clearly much more significant are the phosim visits which never finished (110 I think Tom said). Note this it is not per-se a phosim bug (unless you count running slow as a bug) but simply that they exceeded the maximum runtime on the SLAC queues. Also worth noting that the maximum runtime at NERSC is

[2016-07-15 15:54] rbiswas4 commented on #278
@sethdigel @tony-johnson
I should have mentioned in this thread: I checked in the metadata analysis csv into  https://github.com/DarkEnergyScienceCollaboration/Twinkles/tree/master/data

There is also a notebook now: https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/examples/notebooks/MissingObsHistIds.ipynb which builds the unions of phosim failures and DM stack failures and